* {

	font-family: 	Verdana, Arial, sans-serif;
	font-size: 		8pt;
}

body {
	
	width: 			100%;
	height: 		100%;
	margin: 		0px;
	overflow-x: 	hidden;	
}

form {

	margin: 	0px;	
}

#mainLayout {
	
}

#topBar {

	height: 		40px;
	background: 	url('/images/backend/topBar.png')	
}

#topBar a {

	color: 				#FFFFFF;
	text-decoration: 	none	
}

#topBar a:hover {

	font-weight: 	bold	
}

#mainLayout {

}

#mainTopRight {

	background: 	url('/images/layout/mainTopBg.png') repeat-x;
}

#debugDiv {

	position: 		fixed;
	background: 	#FFFFFF;
	z-index: 		5000;
	height: 		617px;
	width: 			500px;
	overflow: 		auto;
	display: 		none;
	padding: 		5px;
}

a {

	font-weight: 		bold;
	text-decoration: 	none;
	font-size: 			8pt;
	color: 				#81571F
}

a:hover {

	color: 				#880808;
	text-decoration: 	underline;
}

img {

	border: 	0px solid;	
}

#header {

	height: 		45px;
	background: 	url('/images/backend/layout/headerBg.png') repeat-x;
}

.userTools {

	background: 	#EBEBEB;
	text-align: 	right;
}

.userTools2 {

	clear: 			both;
	float: 			right;
	background: 	#EBEBEB url('/images/backend/layout/userToolsBg.png') no-repeat;
	height: 		26px;
	text-align: 	right;
	width: 			350px
}

.userTools .icon, .userTools2 .icon {

	float: 			right;
	padding: 		2px;
	margin-right: 	2px;
}

.userTools .quickSearch, .userTools2 .quickSearch {

	float: 			right;
	padding: 		4 5 2 5;
}

.userTools .quickSearch input, .userTools2 .quickSearch input {

	border: 	1px solid #999999;
	font-size: 	8pt;
	color: 		#999999;
}

#header .info {
	
	text-align: 	right;
	padding: 		2px;
	margin-right: 	10px;
}

#header2 .info {
	
	text-align: 	right;
	padding: 		6 2 2 2;
	margin-left: 	10px;
	color: 			#333333;
}

.systemInfo {
	
	position: 		absolute;
	top: 			5px;
	right: 			5px;
	text-align: 	right;
	color: 			#999;
	margin-right: 	5px;
	z-index: 		10
}

.toolbarDiv {

	border-top: 	1px solid #CCCCCC;
	border-bottom: 	1px solid #CCCCCC;
	padding: 		1 0 1 0;
	background: 	url('/images/backend/layout/toolbarBg.png') repeat-x;	
}

.moduleName {

	color: 			#5D5D75;
	font-size: 		12pt;
	font-weight: 	bold
}

.moduleName img {

	margin-top: 	-2px;
	margin-top: 	0px !ie;
	margin-right: 	10px	
}

#mainContent {
	
	padding-top: 	3px	
}



#actionDescriptionDiv {
	
	position: 				absolute;
	width: 					500px;
	top: 					66px;
	left: 					285px;
	z-index: 				1;

	margin-top:				10px;
	margin-bottom:			8px;
	padding-top:			5px;
	padding-bottom: 		5px;
	padding-left: 			5px;
	color: 					#67727B;
}

.paginator {

	padding-left: 15px
}

.paginator .blank {

	float: 			left;
	width: 			16px;
	width: 			18px !ie;
	margin-left: 	1px;
	border: 		1px solid transparent;
}

.paginator .firstPage {

	float: 			left;
	margin-left: 	1px;
	border: 		1px solid #777777;
	cursor: 		pointer;
}

.paginator .previousPage {

	float: 			left;
	margin-left: 	1px;
	margin-right: 	10px;
	border: 		1px solid #777777;	
	cursor: 		pointer;
}

.paginator .pageNumber {

	float: 			left;
	margin-left: 	1px;
	width: 			16px;
	padding: 		1 0 2 0;
	text-align: 	center;
	border: 		1px solid #777777;
	color: 			#444444;
	background: 	#F0F0F0;	
	cursor: 		pointer;
}

.paginator .pageNumberBigger {

	float: 			left;
	margin-left: 	1px;
	width: 			28px;
	padding: 		1 0 2 0;
	text-align: 	center;
	border: 		1px solid #777777;
	color: 			#444444;
	background: 	#F0F0F0;	
	cursor: 		pointer;
}

.paginator .pageNumberCurrent {

	float: 			left;
	margin-left: 	1px;
	width: 			16px;
	padding: 		1 0 2 0;
	text-align: 	center;
	border: 		1px solid #777777;
	color: 			#333333;
	font-weight: 	bold;
	background: 	#CCCCCC;	
	cursor: 		pointer;
}

.paginator .pageNumberCurrentBigger {

	float: 			left;
	margin-left: 	1px;
	width: 			28px;
	padding: 		1 0 2 0;
	text-align: 	center;
	border: 		1px solid #777777;
	color: 			#333333;
	font-weight: 	bold;
	background: 	#CCCCCC;	
	cursor: 		pointer;
}

.paginator .nextPage {

	float: 			left;
	margin-left: 	10px;
	border: 		1px solid #777777;
	cursor: 		pointer;
}

.paginator .lastPage {

	float: 			left;
	margin-left: 	1px;
	border: 		1px solid #777777;
	cursor: 		pointer;
}



.footer {

	clear: 			both;
	text-align: 	right;
	height: 		20px;
	color: 			#9F9F9F;
	border-top: 	1px solid #C0C0C0;
	padding-top: 	2px;
}




























.paginator td {

	color: 	#055A78
}

.paginator b {

	color: 	#055A78
}

.paginator .blank {

	float: 			left;
	width: 			16px;
	width: 			18px !ie;
	margin-left: 	1px;
	border: 		1px solid transparent;
}

.paginator .firstPage {

	float: 			left;
	margin-left: 	1px;
	border: 		1px solid #727272;
	cursor: 		pointer;
}

.paginator .previousPage {

	float: 			left;
	margin-left: 	1px;
	margin-right: 	10px;
	border: 		1px solid #727272;	
	cursor: 		pointer;
}

.paginator .pageNumber {

	float: 			left;
	margin-left: 	1px;
	width: 			16px;
	padding: 		1 0 2 0;
	text-align: 	center;
	border: 		1px solid #727272;
	color: 			#2A4262;
	background: 	#F0F0F0;	
	cursor: 		pointer;
}

.paginator .pageNumberBigger {

	float: 			left;
	margin-left: 	1px;
	width: 			28px;
	padding: 		1 0 2 0;
	text-align: 	center;
	border: 		1px solid #727272;
	color: 			#444444;
	background: 	#F0F0F0;	
	cursor: 		pointer;
}

.paginator .pageNumberCurrent {

	float: 			left;
	margin-left: 	1px;
	width: 			16px;
	padding: 		1 0 2 0;
	text-align: 	center;
	border: 		1px solid #727272;
	color: 			#727272;
	font-weight: 	bold;
	background: 	#C9C9C9;	
	cursor: 		pointer;
}

.paginator .pageNumberCurrentBigger {

	float: 			left;
	margin-left: 	1px;
	width: 			28px;
	padding: 		1 0 2 0;
	text-align: 	center;
	border: 		1px solid #727272;
	color: 			#333333;
	font-weight: 	bold;
	background: 	#CCCCCC;	
	cursor: 		pointer;
}

.paginator .nextPage {

	float: 			left;
	margin-left: 	10px;
	border: 		1px solid #727272;
	cursor: 		pointer;
}

.paginator .lastPage {

	float: 			left;
	margin-left: 	1px;
	border: 		1px solid #727272;
	cursor: 		pointer;
}

.panel {

	clear: 	both;	
}

.leftPanel {

	float: 			left;
	width: 			210px;
}

.helpPanel {

	float: 					left;
	width: 					150px;
	margin: 				32 0 0 -5;
	background: 			#F0F0F0 url('/images/icon/help.png') no-repeat;
	background-position: 	5 5;
	border: 				1px solid #BBBBBB;
	padding: 				5 10 10 30;
	display: 				none;
}

.rightPanel {

	float: 			left;
	width: 			790px;
}

.footer {

	clear: 			both;
	text-align: 	right;
	height: 		20px;
	color: 			#9F9F9F;
	border-top: 	1px solid #C0C0C0;
	padding-top: 	2px;
}

#infoDiv {
	
	padding-right: 	20px;
	text-align: 	right;
	color: 			#FFFFFF;	
}

#mainLinkDiv .item {

	float: 			left;
	margin-top: 	19px;
	margin-left: 	1px;
	padding: 		2 5 2 5;
	border-top: 	1px solid #5b6200;
	border-left: 	1px solid #5b6200;
	border-right: 	1px solid #5b6200;
	background: 	#cdd192;
	font-weight: 	bold;
}

#mainLinkDiv .item a {

	color: 				#373b04;
	text-decoration: 	none;
}

#mainLinkDiv .item a:hover {

	color: 	#FFFFFF;
}

.snipButton {

	width: 				15px;
	height: 			9px;
	-moz-user-select: 	none;    
	-moz-user-select: 	-moz-none;
}


h4 {

	color: 			#444444;
	border-bottom: 	2px solid #999999;
	padding: 		0 0 0 20;
	font-size: 		10pt;
	margin: 		10 10 5 5
}

h5 {

	color: 			#5486B4;
	border-bottom: 	2px solid #5486B4;
	padding: 		0 0 0 20;
	font-size: 		12pt;
	margin: 		10 10 5 5
}

h6 {

	color: 			#5486B4;
	border-bottom: 	2px solid #5486B4;
	padding: 		0 0 0 20;
	font-size: 		14pt;
	margin: 		10 10 5 5
}

#taskControlDiv {

	position: 			absolute;
	text-align: 		left;
	right: 				100px;
	padding: 			5px;
	z-index: 			100;
	top: 				69px;
	top: 				70px !ie;
	width: 				450px;
	width: 				470px !ie;
	height: 			150px;
	border-left: 		1px solid #CCCCCC;
	border-right: 		1px solid #CCCCCC;
	border-bottom: 		1px solid #CCCCCC;
	background: 		#EBEBEB;
	display: 			none;
}

#quickSearchHint {

	position: 				absolute;
	background: 			#EBEBEB url('/images/icon/info.png') no-repeat;
	background-position: 	5 5;
	text-align: 			left;
	right: 					10px;
	padding: 				6 0 4 27;
	z-index: 				100;
	top: 					69px;
	top: 					70px !ie;
	width: 					300px;
	width: 					350px !ie;
	height: 				15px;
	border-left: 			1px solid #CCCCCC;
	border-right: 			1px solid #CCCCCC;
	border-bottom: 			1px solid #CCCCCC;
	display: 				none;
}