<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body style="color: #404040; font-family: Sans serif, Arial, Verdana, Tahoma; font-size: 8pt; text-align: left">
	<div style="background: #ECECEC; width: 650px !important; padding: 15px; border: 1px solid #D0D0D0; border-bottom: 1px solid E0E0E0">

			<div style="width: 100%; position: relative; height: 35px">
				<h1 style="float: left; font-size: 20px; position: absolute; top: 10px; margin: 0px; padding: 0px; color: #606060; text-shadow: #FFFFFF 2px 2px">[emailTitle]</h1>
				<img src="http://[host]/images/email/logoStoreHeader.png" style="float: right"/>
				<div style="clear: both; width: 100%"></div>
			</div>
	</div>
	<div style="background: #F5F5F5; width: 650px !important; padding: 15px; border: 1px solid #D0D0D0; border-top: 1px solid #FEFEFE">
		<div style="font-size: 12px; padding: 10px 0px 15px 0px">
		[emailContent]
		</div>
		
		<div style="margin: 0px 0px 10px 0px; height: 1px; background: #E0E0E0; border-bottom: 1px solid #FEFEFE"></div>
		<div style="text-align: right; color: #707070; line-height: 15px; font-size 11px">
			O iRank é um site gratuito para criação de rankings online para jogos de Poker.<br/>
			Cadastre-se e crie seus próprios rankings, organize seus eventos
			e controle a classificação e estatísticas de seus jogos.<br/>
			Acesse <a href="http://www.irank.com.br" style="color: #1351d4; text-decoration: none">www.irank.com.br</a><br/><br/>
			
			<span style="font-style: italic; font-weight: bold">Esta é uma mensagem automática e não precisa ser respondida.</span>  
		</div>

	</div>
</body>
</html>