<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body style="color: #404040; font-family: Sans serif, Arial, Verdana, Tahoma; font-size: 8pt; text-align: left">
	<div style="background: #F5F5F5; width: 650px !important; padding: 15px; border: 1px solid #D0D0D0">

		[emailContent]
		
		<separator>
		<div style="text-align: left; color: #707070; line-height: 15px; font-size 11px; padding-top: 10px">
			<table cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td><img src="http://[host]/images/email/logoHeader.png" align="left" style="margin-right: 15px"/></td>
					<td style="font-size: 11px; vertical-align: middle">
						Este evento está sendo gerenciado pelo site <b>iRank - Poker Ranking</b><br/>
						Acesse <a href="http://www.irank.com.br" style="color: #1351d4; text-decoration: none">www.irank.com.br</a>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="padding-top: 30px; font-size: 11px; font-style: italic; font-weight: bold">Esta é uma mensagem automática e não precisa ser respondida.</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>