Olá [peopleName],<br/><br/>

<b style="font-size: 10pt">[congratsMessage]</b>

Segue o resultado do evento <b>[eventName]</b> valendo pelo ranking <b>[rankingName]</b><br/><br/>

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #909090">
  <tr>
    <td style="background: #909090; color: #FFFFFF; font-weight: bold; font-size: 12px; padding: 3px">#</td>
    <td style="background: #909090; color: #FFFFFF; font-weight: bold; font-size: 12px; padding: 3px">Nome</td>
    <td style="background: #909090; color: #FFFFFF; font-weight: bold; font-size: 12px; padding: 3px; text-align: right">Buy-in</td>
    <td style="background: #909090; color: #FFFFFF; font-weight: bold; font-size: 12px; padding: 3px; text-align: right">Prêmio</td>
    <td style="background: #909090; color: #FFFFFF; font-weight: bold; font-size: 12px; padding: 3px; text-align: right">Rebuy</td>
    <td style="background: #909090; color: #FFFFFF; font-weight: bold; font-size: 12px; padding: 3px; text-align: right">Add-on</td>
    <td style="background: #909090; color: #FFFFFF; font-weight: bold; font-size: 12px; padding: 3px; text-align: right">Pontos</td>
  </tr>
[resultList]
</table>

<br/><br/>
Informações do evento:<br/><br/>

Permalink: <a href="[permalink]" style="text-decoration: none; color: #3B5998">[permalink]</a>
<br/><br/>
<hr/><br/>
<table border="0" cellspacing="2" cellpadding="2" style="color: #000000; font-size: 8pt">
<tr><td align="right" nowrap><b>Evento:</b></td><td>[eventName]</td></tr>
<tr><td align="right" nowrap><b>Ranking:</b></td><td>[rankingName]</td></tr>
<tr><td align="right" nowrap><b>Estilo:</b></td><td>[gameStyle]</td></tr>
<tr><td align="right" nowrap><b>Local:</b></td><td>[eventPlace]</td></tr>
<tr><td align="right" nowrap><b>Data:</b></td><td>[eventDate]</td></tr>
<tr><td align="right" nowrap><b>Horário:</b></td><td>[startTime]</td></tr>
<tr><td align="right" nowrap><b>Posições pagas:</b></td><td>[paidPlaces]</td></tr>
<tr><td align="right" nowrap><b>Buy-in:</b></td><td>[entranceFee]+[buyin]</td></tr>
<tr><td align="right" nowrap valign="top"><b>Observações:</b></td><td>[comments]</td></tr>
</table>
<br/>
<hr/><br/>
[players] pessoas participaram do evento.<br/><br/>

<b>Classificação atual do ranking, ordenado por [rankingType]</b><br/><br/>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #909090">
  <tr>
    <td style="background: #909090; text-align: center; color: #FFFFFF; font-weight: bold; font-size: 12px; padding: 4px; width: 40px" colspan="2">#</td>
    <td style="background: #909090; text-align: center; color: #FFFFFF; font-weight: bold; font-size: 12px; padding: 4px">Nome</td>
    <td style="background: #909090; text-align: center; color: #FFFFFF; font-weight: bold; font-size: 12px; padding: 4px">Eventos</td>
    <td style="background: #909090; text-align: center; color: #FFFFFF; font-weight: bold; font-size: 12px; padding: 4px">Pontos</td>
    <td style="background: #909090; text-align: center; color: #FFFFFF; font-weight: bold; font-size: 12px; padding: 4px">B+R+A</td>
    <td style="background: #909090; text-align: center; color: #FFFFFF; font-weight: bold; font-size: 12px; padding: 4px">Ganhos</td>
    <td style="background: #909090; text-align: center; color: #FFFFFF; font-weight: bold; font-size: 12px; padding: 4px">Balanço</td>
  </tr>
[classifyList]
</table>
<br/>
<b>B+R+A</b> = Buy-in + Rebuys + Add-ons