
		<div style="width: 100%; position: relative; height: 100px">
			<table cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td valign="top" style="width: 105px; vertical-align: top"><img src="http://[host]/images/[fileNameLogo]" style="width: 90px; height: 90px; border: 1px solid #C0C0C0"/></td>
					<td valign="top" style="vertical-align: top; width: 400px">
							<h1 style="font-size: 20px; font-weight: bold; margin: 5px 0px 0px 0px; padding: 0px; color: #606060; text-shadow: #FFFFFF 2px 2px">[eventName]</h1>
							<h1 style="font-size: 12px; font-weight: normal; margin: 5px 0px 0px 9px; padding: 0px; color: #303030; text-shadow: #FFFFFF 2px 2px">[eventWeekDay], [eventDateWrite]</h1>
							<h1 style="font-size: 12px; font-weight: normal; margin: 0px 0px 0px 9px; padding: 0px; color: #606060; text-shadow: #FFFFFF 2px 2px">[gameStyle] - [gameType]</h1>
							<h1 style="font-size: 12px; font-weight: normal; margin: 0px 0px 0px 9px; padding: 0px; color: #606060; text-shadow: #FFFFFF 2px 2px">@ <a href="[clubLink]" style="text-decoration: none">[clubName]</a></h1>
					</td>
					<td valign="top" style="vertical-align: top; text-align: right; width: 150px">
						<table cellspacing="0" cellpadding="0" style="margin: 5px;">
							<tbody>
								<tr>
									<th style="text-align: center"><img title="Valor do buy-in" src="http://[host]//images/event/coins.png"></th>
									<th style="text-align: center"><img title="Tempo dos blinds" src="http://[host]//images/event/timer.png"></th>
									<th style="text-align: center"><img title="Stack inicial" src="http://[host]//images/event/chips.png"></th>
								</tr>
								<tr>
									<td style="font-size: 11px; text-align: center; font-weight: bold; padding: 3px 10px; color: #303030">[buyin]</td>
									<td style="font-size: 11px; text-align: center; font-weight: bold; padding: 3px 10px; color: #303030">[blindTime]</td>
									<td style="font-size: 11px; text-align: center; font-weight: bold; padding: 3px 10px; color: #303030">[stackChips]</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<separator>
		<div style="font-size: 12px; padding: 5px 0px 15px 0px">
		
			Olá [peopleName],<br/><br/>
			
			convidamos você a participar da [stepNumber] etapa <b>[eventShortName]</b> valendo pelo ranking <b>[rankingName]</b><br/>
			que será realizado [eventWeekDay], [eventDate].<br/><br/>
			
			Acesse a página do evento e confirme sua presença<br/><br/>
			
			<a href="[eventLink]" style="color: #C91E1E; text-decoration: none">[eventLink]</a>
			
		[comments]
		</div>