.welcome {

	width: 		778px;
	border: 	1px solid #606060;
	margin: 	10px;
}

.homeDistinct {
	
	margin-left: 	8px;
}
	
.homeDistinct td span {

	font-size: 		10pt;
	font-weight: 	bold;
	color: 			#344f7c;
}

.homeDistinct td {

	background: 	#FFFFFF;
	padding: 		5px 5px 5px 10px;
	border-top: 	1px solid #FFFFFF;
	border-right: 	1px solid #FFFFFF;
	border-bottom: 	1px solid #FFFFFF;
}

.homeDistinct .separator {

	background: 	#FFFFFF;
	border: 		0px solid;
	height: 		3px;
	width: 			3px;
	padding: 		0px;
	empty-cells: 	show;
}

.homeDistinct th {

	background: 	#FFFFFF;
	padding: 		5px;
	border-top: 	1px solid #FFFFFF;
	border-left: 	1px solid #FFFFFF;
	border-right: 	1px solid #FFFFFF;
	border-bottom: 	1px solid #FFFFFF;
}






#homeWall {

	float: 			right;
	width: 			430px;
	margin: 		-10px 10px 0px 0px;
}

#homeWall #postList {

	float: 			right;
	width: 			430px;
	margin: 		-10px 0px 0px 10px;
}

#homeWall #postList .post {

	clear: 					both;
	margin-top: 			2px;
	border-top: 			1px solid #EAEAEA;
	background: 			#F9F9F9 url('/images/homeWall/event.png') no-repeat;
	background-position: 	4px 10px;
	padding: 				3px 3px 3px 23px;
	width: 					400px;
	overflow: 				hidden;
	color: 					#333333;
}

#homeWall #postList .post .who {

	font-weight: 	bold;
}

#homeWall #postList .post .when {

	color: 		#999999
}

#homeWall h1 {

	margin: 			20px 10px;
	font-size: 			12pt;
	font-weight: 		bold;
	padding-bottom: 	3px;
	border-bottom: 		1px solid #344f7C;
	color: 				#344f7C;
}