.formLoading {

	float: 			right;
	height: 		25px;
	font-weight: 	normal;
	margin-top: 	0px;
	margin-top: 	-3px !ie;
	margin-left: 	10px;
	margin-left: 	10px;
	display: 		none;
}

.formLoading .message {
	
	float: 			left;
	margin-top: 	3px;
	margin-left: 	6px;
	color: 			#333333;
}

.formLoading .image {
	
	float: 			left;
	margin: 		4px;
}

.mainLoading {

	position: 		fixed;
	top: 			0px;
	right: 			0px;
	width: 			170px;
	font-weight: 	bold;
	display: 		none;
	background: 	#C0C0C0;
	padding: 		2 10 2 10;
	border-left: 	1px solid #999999;
	border-bottom: 	1px solid #999999;
	z-index: 		100;
}

.mainLoading .message {
	
	float: 			left;
	margin-left: 	6px;
	color: 			#333333;
}

.mainLoading .image {
	
	float: 			left;
	margin: 		0 4 0 4;
}