<br/>
Identificamos que você ainda não é um usuário <b>iRank</b>, 
por isso convidamos você a se cadastrar gratuitamente preenchendo um
simples cadastro e criando um usuário para acessar o site, criar seus próprios
rankings e visualizar as informações dos rankings e eventos do qual participa.<br/><br/>
<b><a href="http://<host>/sign" style="color: #3B5998" target="_blank">Clique aqui</a></b> para se cadastrar gratuitamente.<br/><br/>
<b>OBS: </b>Para associar seu cadastro aos eventos e rankings ao qual já esteja incluído, utilize este mesmo e-mail
ao se cadastrar. Você poderá alterá-lo depois.