Olá,<br/><br/>

um novo usuário enviou um pedido para ingressar no ranking <b>[rankingName]</b>.<br/><rr/>
Seguem abaixo as informações do usuário:<br/><br/>
<hr/>
<br/>
<table border="0" cellspacing="2" cellpadding="2" style="color: #000000; font-size: 8pt">
	<tr><td align="right" nowrap><b>Nome:</b></td><td>[peopleName]</b></td></tr>
	<tr><td align="right" nowrap><b>E-mail:</b></td><td>[emailAddress]</td></tr>
	<tr><td align="right" nowrap><b>Data cadastro:</b></td><td>[createdAt]</td></tr>
</table>
<br/>
<hr/>
<br/>
Para aceitar ou recusar o pedido de inscrição acesse www.irank.com/ranking,<br/>
abra o ranking <b>[rankingName]</b> e selecione a opção desejada na aba <b>Solicitações</b>.<br/><br/><br/> 

<b>Atenção!</b><br/><br/>
Caso ainda não conheça o jogador <b>[peopleName]</b>, recomendamos que pesquise seu perfil nas redes sociais ou entre em contato por e-mail antes de aceitar a solicitação.
<br/>
<br/>
