Olá,<br/><br/>

O evento <b><eventName></b> valendo pelo ranking <b><rankingName></b> foi excluído<br/><br/>

Seguem abaixo as informações do evento e a atual classificação do ranking após a exclusão:<br/><br/>

<hr/><br/>
<table border="0" cellspacing="2" cellpadding="2" style="color: #FFFFFF">
	<tr><td align="right" nowrap><b>Evento:</b></td><td><eventName></td></tr>
	<tr><td align="right" nowrap><b>Ranking:</b></td><td><rankingName></td></tr>
	<tr><td align="right" nowrap><b>Estilo:</b></td><td><gameStyle></td></tr>
	<tr><td align="right" nowrap><b>Local:</b></td><td><eventPlace> - <a href="<mapsLink>" style="font-weight: bold; color: #FFFFFF">Ver localização</a></td></tr>
	<tr><td align="right" nowrap><b>Data:</b></td><td><eventDate></td></tr>
	<tr><td align="right" nowrap><b>Horário:</b></td><td><startTime></td></tr>
	<tr><td align="right" nowrap><b>Posições pagas:</b></td><td><paidPlaces></td></tr>
	<tr><td align="right" nowrap><b>Buy-in:</b></td><td><entranceFee>+<buyin></td></tr>
	<tr><td align="right" nowrap valign="top"><b>Observações:</b></td><td><comments></td></tr>
</table>
<br/>
<hr/><br/>
<players> pessoas participaram do evento.<br/><br/>

<b>Classificação atual do ranking, ordenado por <rankingType></b><br/><br/>
<table width="100%" border="0" cellspacing="1" cellpadding="3" style="color: #FFFFFF">
  <tr>
    <td style="background: #0F260C; font-weight: bold">#</td>
    <td style="background: #0F260C; font-weight: bold">Nome</td>
    <td style="background: #0F260C; font-weight: bold">Eventos</td>
    <td style="background: #0F260C; font-weight: bold">Pontos</td>
    <td style="background: #0F260C; font-weight: bold">B+R+A</td>
    <td style="background: #0F260C; font-weight: bold">Ganhos</td>
    <td style="background: #0F260C; font-weight: bold">Balanço</td>
  </tr>
<classifyList>
</table>
<br/>
<b>B+R+A</b> = Buy-in + Rebuys + Add-ons