<html>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body style="color: #404040; font-family: Sans serif, Arial, Verdana, Tahoma; font-size: 8pt">
	<div style="width: 525px">
		<div style="padding: 0px 15px 0px 15px; font-weight: normal; font-size: 8pt"><a href="mailto:<peopleEmail>" style="text-decoration: none; color: #303030; font-weight: bold"><peopleName></a> postou o comentário abaixo para o evento</div>
		<div style="padding: 0px 15px 0px 20px; border-bottom: 1px solid #DADADA; font-weight: normal; font-size: 8pt; padding-bottom: 10px"><a href="http://<host>/event/eventId/<eventId>" target="_blank" style="color: #303030"><eventName> @ <eventPlace></a> - <eventDate> <startTime></div>
		
		<div style="color: #000000; font-weight: bold; padding: 7px 0px 0px 0px; height: 110px; border-bottom: 1px solid #DADADA; margin-bottom: 10px">
			<table width="100%" height="100" cellspacing="0" cellpadding="0">
				<tr>
					<td valign="top" width="60"><img src="http://<host>/images/email/quotesLeft.gif" /></td>
					<td valign="center" style="font-size: 8pt; font-weight: bold"><comment></td>
					<td valign="bottom" width="60"><img src="http://<host>/images/email/quotesRight.gif" /></td>
			</tr>
			</table>
		</div>
		<div style="color: #505050">
			<a href="http://<host>" target="_blank"><img src="http://<host>/images/emailLogo.png" style="border: none" align="left"></a>
			<div style="padding-top: 15px; text-align: right">
				Você pode responder este e-mail para responder diretamente ao comentário.<br/>
				(Apenas os primeiros 140 caracteres serão considerados)
			</div>
		</div>
	</div>
</body>
</html>