		<div style="font-size: 12px; padding: 5px 0px 15px 0px">
		Olá <b>[peopleName]</b>,<br/><br/>

Temos o prazer de anunciar o lançamento do novo <b>iRank</b>,<br/>
o primeiro site de gerenciamento de rankings de poker.<br/><br/>

A nova versão traz muitas novidades e benefícios, como:<br/><br/>

- Lista e agenda dos principais clubes de poker do Brasil<br/>
- Novos gráficos de estatísticas<br/>
- Agenda sincronizada com o calendário do iPhone, iPad e iPod touch<br/>
- Concurso de fotos dos jogadores<br/>
- Esquema de pontuação personalizado<br/>
- Notificação de convites dos clubes de poker<br/>
- Pesquisa de eventos<br/>
- <b>E muito mais...</b><br/><br/>

Acesse:
<div style="text-align: center; font-size: 24px; font-weight: bold; padding-top: 25px"><a href="http://www.irank.com.br" target="_blank" style="color: #6390CC; text-decoration: none">www.irank.com.br</a></div><br/>

<div style="margin: 10px 0px 10px 0px; height: 1px; background: #E0E0E0; border-bottom: 1px solid #FEFEFE"></div>
Curta também a nossa página no Facebook e receba todas as atualizações do site. <br/><br/>

<div style="text-align: center; font-size: 24px; font-weight: bold; padding-top: 25px">
	<img src="http://[host]/images/email/facebookLogo24.png" align="absmiddle" style="margin-right: 10px; position: relative; top: 4px"><a href="https://www.facebook.com/irankpoker" target="_blank" style="color: #6390CC; text-decoration: none">www.facebook.com/irankpoker</a>
</div><br/><br/>

Estamos preparando muitas outras novidades pra você. Aguarde ;)<br/>
<br/>
<b>iRank Team</b>
</div>