		<div style="font-size: 12px; padding: 5px 0px 15px 0px">
		Parabéns <b>Jordi</b>,<br/><br/>

Temos o prazer de anunciar que você foi o grande vencedor da <b>Promoção Fim do Mundo</b> realizada pelo site <b>iRank - Poker Ranking</b>.<br/><br/>

Todos os usuários do site estavam automaticamente inscritos e concorreram com um cupom eletrônico conforme a quantidade de jogadores relacionados nos rankings em que estavam inscritos.<br/><br/>

Seu nome já foi divulgado na atualização da <a href="http://www.irank.com.br/blog/article/promocao-fim-do-mundo">página da promoção</a> e também em nossa <a href="https://www.facebook.com/irankpoker">página oficial no Facebook</a>.<br/><br/>

<b>- 01 Dealer 3D iRank</b><br/>
<b>- 01 Camiseta Lucky Tshirt</b><br/>
<b>- 02 Baralhos Bicycle Poker Peer</b><br/>
<b>- 01 Cupom de desconto iRank Store</b><br/><br/>

Anote o código de seu cupom que dá direito a 30% de desconto no valor total dos produtos de qualquer compra feita na <b><a href="https://www.irank.com.br/store">iRank Store</a></b> até <b>31/01/2013</b>:

<div style="text-align: center; font-size: 24px; font-weight: bold; padding-top: 25px"><a href="https://www.irank.com.br/store" target="_blank" style="color: #6390CC; text-decoration: none">QWSRAX9GXP</a></div><br/><br/>

Lembrando que caso o cupom seja utilizado antes da data de envio do kit e o endereço de entrega da compra seja o mesmo do endereço de entraga do kit, ele também dará direito ao desconto de 100% do valor do frete.

<br/><br/>
Pedimos que por favor envie uma mensagem para o endereço <b>contato@irank.com.br</b> contendo o endereço completo para envio do kit (logradouro, número, complemento, bairro, cidade, estado e cep) e também a cor e tamanho que deseja receber a camiseta <a href="https://www.irank.com.br/store/details/IRKTS-005">Lucky Tshirt</a>.
<br/><br/>
Parabéns mais uma vez e aguardamos seu contato.
<br/>
<br/>
<b>iRank Team</b>
</div>