<table>
	<tr>
		<td>
			<div style="font-size: 12px; padding: 5px 0px 15px 0px">
			Olá <b>[peopleName]</b>,<br/><br/>

			Mais uma vez o <b>iRank</b> tem o prazer em apresentar uma grande novidade aos jogadores de Poker de todo o Brasil.<br/>
			Acaba de ser lançada a loja virtual <b>iRank Store</b> trazendo uma grande variedade de produtos voltados ao mundo do Poker.<br/><br/>

			Agora você poderá adquirir diversos produtos, roupas masculinas, femininas e acessórios originais e exclusivos que você só encontra em nossa loja. Acesse:<br/>

			<div style="text-align: center; font-size: 24px; font-weight: bold; padding-top: 25px">
				<a href="http://www.irank.com.br/store" target="_blank" style="color: #6390CC; text-decoration: none">
					<img src="http://www.irank.com.br/images/store/storeLogo.png" width: 150" align="absmiddle" />www.irank.com.br/store
				</a>
			</div><br/>

			<div style="margin: 10px 0px 10px 0px; height: 1px; background: #E0E0E0; border-bottom: 1px solid #FEFEFE"></div>
			Navegue e conheça toda nossa linha de produtos em um ambiente seguro, simples e fácil de navegar.<br/>
			Você poderá fazer suas compras optando por pagamento em boleto bancário ou ainda utilizar a forma de pagamento que preferir através do <b>PagSeguro</b>.<br/><br/>
			
			Acompanhe e curta nossa página no <b>Facebook</b> e aproveite os códigos de desconto que serão liberados todas as semanas para suas compras.<br/><br/><br/>
			
			<b>iRank Team</b>
	</div>
</td>
<td>
<div style="margin: 2px;"><img src="http://www.irank.com.br/images/store/product/preview/irkdl-001-000-02.jpg" width="100" /></div>
<div style="margin: 2px;"><img src="http://www.irank.com.br/images/store/product/preview/irkbl-002-000-03.jpg" width="100" /></div>
<div style="margin: 2px;"><img src="http://www.irank.com.br/images/store/product/preview/irkts-001-000-05.jpg" width="100" /></div>
<div style="margin: 2px;"><img src="http://www.irank.com.br/images/store/product/preview/irkts-003-000-01.jpg" width="100" /></div>
<div style="margin: 2px;"><img src="http://www.irank.com.br/images/store/product/preview/irkts-002-000-05.jpg" width="100" /></div>
</td>
</tr>
</table>