<html>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body style="color: #404040; font-family: Sans serif, Arial, Verdana, Tahoma; font-size: 8pt; text-align: left">
	<div style="width: 550px">
		<div style="color: #000000; padding: 15px 10px 15px 30px; border-bottom: 1px solid #DADADA; margin-bottom: 10px">
			<emailContent>
		</div>
		<div style="color: #505050">
			<a href="http://<host>" target="_blank"><img src="<footerLogoUrl>" style="border: none" align="left"></a>
			<div style="padding-top: 5px; text-align: right">
				O <b>iRank</b> é um site gratuito para criação de rankings online para jogos de Poker.<br/>
				Cadastre-se e crie seus próprios rankings, organize seus eventos<br/>e controle a classificação e estatísticas de seus jogos.
			</div>
		</div>
	</div>
	<div style="padding-top: 25px; color: #000000">
	Esta é uma mensagem automática e não precisa ser respondida.
	</div>
</body>
</html>