Olá <b><peopleName></b>,<br/><br/>

Você concluiu com sucesso o cadastro no site <b>iRank</b>.<br/>
Para criar um novo ranking, acesse o site <b>iRank</b> e clique em <b>Novo ranking</b>.<br/><br/> 
Lá você também encontrará os rankings dos quais você já faz parte e poderá visualizar todas as informações de eventos, resultados e estatísticas.<br/><br/>

Abaixo estão os dados para acesso a sua conta:<br/><br/>
<hr/><br/>
<table border="0" cellspacing="2" cellpadding="2" style="color: #000000">
<tr><td align="right" nowrap><b>Username:</b></td><td><username></td></tr>
<tr><td align="right" nowrap><b>Senha:</b></td><td><password></td></tr>
</table>
<br/><hr/>
<br/>
<b>Obs:</b> Você pode se logar no site com seu username ou seu e-mail.