		<div style="font-size: 12px; padding: 5px 0px 15px 0px">
		Olá <b>[peopleName]</b>,<br/><br/>

O <b>iRank - Poker Ranking</b> acaba de lançar mais uma opção para você melhorar seu controle nos torneios de poker:<br/><br/>

Conheça o <span style="display: inline-block; padding: 0 15px; font-weight: bold; color: #4370AC; font-size: 16px">Controle de Bankroll iRank</span> sua nova ferramenta de controle de bankroll.<br/>

<div style="margin: 10px 0px 10px 0px; height: 1px; background: #E0E0E0; border-bottom: 1px solid #FEFEFE"></div>
Com ela você poderá gerar relatórios, gráficos estatísticos e ter todas as informações financeiras e de desempenho de qualquer período desejado em sua carreira.<br/><br/>
Além das atualizações automáricas feitas a partir de seus próprios eventos home, seu histórico também pode ser atualizado manualmente, mantendo assim, seu saldo sempre atualizado.
<br/><br/>
Para divulgar o lançamento, estamos enviando anexo seu primeiro relatório, contendo todas as informações do seu histórico já lançado.<br/><br/>
Caso queira editar suas informações ou obter relatórios de outros períodos, acesse sua conta no site e clique no seu saldo do bankroll.
<br/><br/>
<b>iRank Team</b>
</div>