<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body style="color: #404040; font-family: Sans serif, Arial, Verdana, Tahoma; font-size: 8pt; text-align: left">
	<div style="background: #F5F5F5; width: 650px !important; padding: 15px; border: 1px solid #D0D0D0">

		<div style="width: 100%; position: relative; height: 35px">
			<h1 style="float: left; font-size: 20px; position: absolute; top: 10px; margin: 0px; padding: 0px; color: #606060; text-shadow: #FFFFFF 2px 2px">[emailTitle]</h1>
			<img src="[headerLogoUrl]" style="float: right"/>
			<div style="clear: both; width: 100%"></div>
		</div>
		<div style="margin: 10px 0px; height: 1px; background: #E0E0E0; border-bottom: 1px solid #FEFEFE"></div>
		
		<div style="font-size: 12px; padding: 5px 0px 15px 0px">
		Olá <b>[peopleName]</b>,<br/><br/>

Temos o grande prazer de anunciar o lançamento da nova versão do <b>iRank</b>,<br/>
o primeiro site de gerenciamento de rankings de poker.<br/><br/>

Entretanto, a nova versão do site ainda está em ambiente beta e está disponível apenas para alguns usuários.<br/>
Por isso gostaríamos de convidá-lo a fazer parte desse grupo,<br/>
visitando o novo site e nos dando sua opinião. Acesse:<br/></br>

<div style="text-align: center; font-size: 24px; font-weight: bold; padding-top: 25px"><a href="http://beta.irank.com.br" target="_blank" style="color: #6390CC; text-decoration: none">http://beta.irank.com.br</a></div><br/>

Informe seu nome de usuário e a senha de teste que criamos para você:
<div style="font-size: 16px; margin: 10px 0px 20px 0px">
	<table>
		<tr><th style="text-align: right; padding-top: 5px; font-size: 18px">Usuário:</th><td style="padding-top: 5px">[username]</td></tr>
		<tr><th style="text-align: right; padding-top: 5px; font-size: 18px">Senha:</th><td style="padding-top: 5px">[randomCode]</td></tr>
	</table>
</div>
<div style="margin: 10px 0px 10px 0px; height: 1px; background: #E0E0E0; border-bottom: 1px solid #FEFEFE"></div>
Navegue a vontade e aproveite todas as novidades que a nova versão,<br/>
lembrando que a nova versão continua utilizando as informações da versão atual.<br/><br/>
Não se esqueça de nos enviar suas considerações, sugestões ou críticas em relação do novo site. <br/><br/>

Em caso de dúvidas, entre em contato conosco. ;)<br/>
<br/>
<b>iRank Team</b>
		</div>
		
		<div style="margin: 0px 0px 10px 0px; height: 1px; background: #E0E0E0; border-bottom: 1px solid #FEFEFE"></div>
		<div style="text-align: right; color: #707070; line-height: 15px; font-size 11px">
			<span style="font-style: italic; font-weight: bold">Esta é uma mensagem automática e não precisa ser respondida.</span>  
		</div>

	</div>
</body>
</html>