.defaultForm {

	padding: 		10px 0px 10px 0px;
	margin: 		5px -2px 0px 0px;
	background: 	#E6E6E6;
	color: 			#333333;
	position: 		relative;
}

.defaultForm blockquote {

	font-size: 	12px;
	text-shadow: 	white 1px 1px
}

.gridTable .defaultForm {

	padding: 		0px;
	margin: 		15px 0px 0px 0px;
	background: 	#E6E6E6;
	color: 			#333333;
}

.windowForm {

	padding: 		10px 5px 10px 5px;
	margin: 		0px 0px 0px 0px;
	background: 	#E6E6E6;
	border: 		1px solid #B0B0B0;
}

.defaultForm h1 {
	
	font-weight: 			bold;
	padding: 				5px 0px 4px 8px;
	border-bottom: 			1px solid #666666;
	color: 					#444444;
	font-size: 				10pt;
	text-align: 			left;
	margin: 				0 10px 10px 10px
}

.defaultForm h1 a {
	
	outline: 			none;
	text-decoration: 	none;
	color: 				#2126F3;
	font-size: 			8pt;
	font-weight: 		normal;
}

.defaultForm h1 a:hover {
	
	color: 	#000000;
}

.defaultFormErrorDetails {

	padding: 		10px 5px 10px 5px;
	background: 	#414143;
	border-left: 	1px solid #000000;
	color: 			#333333;
}

.defaultFormErrorDetails h1 {

	font-weight: 			bold;
	font-size: 				10pt;
	background: 			#1A1A1A url('/images/form/formInfo.png') no-repeat;
	background-position: 	5px 3px;
	padding: 				5px 0px 4px 30px;
	margin: 				-10px -5px 10px -5px;
	border-bottom: 			1px solid #333333;
}

.buttonBarForm {

	height: 		22px;
	padding: 		7px 5px 7px 5px;
	margin: 		-5px 12px 7px 12px;
	background: 	#DFDFDF;
	border: 		1px solid #AAAAAA;
}

.buttonTabBar {

	position: 		relative;
	z-index: 		200;
	height: 		22px;
	padding: 		9px 5px 7px 5px;
	margin: 		-9px 7px 7px 7px;
	background: 	#DFDFDF url('/images/tableSeparator.png') left top repeat-x;
	border: 		1px solid #AAAAAA;
	border-top: 	none;
}

.buttonBar {

	position: 		relative;
	z-index: 		200;
	height: 		22px;
	padding: 		9px 5px 9px 7px;
	background: 	#E0E0E0;
	border-top: 	1px solid #C0C0C0
}

.buttonTabBar.success {

	background: 	#CADDEC url('/images/tableSeparator.png') left top repeat-x;
	border: 		1px solid #7FA6CA;
	border-top: 	none;
}

.buttonTabBar.error {

	background: 	#EECFCA url('/images/tableSeparator.png') left top repeat-x;
	border: 		1px solid #CE9080;
	border-top: 	none;
}

.buttonBarFormError {

	background: 	#EECFCA;
	border: 		1px solid #CE9080;
}

.buttonBarForm.error {

	color: 			#CC3300;
	background: 	#EECFCA;
}

.buttonBarFormSuccess {

	background: 	#CADDEC;
	border: 		1px solid #7FA6CA;
}

.buttonBarForm.success {

	color: 			#3165A5;
	background: 	#CADDEC;
}

.defaultForm .row, .windowForm .row {

	height: 		auto;
	min-height: 	26px;
	clear: 			both;
	margin-bottom: 	2px;
	whitespace: 	nowrap;
	width:			100%;
	z-index: 		10;

}

.defaultForm .row .label, .windowForm .row .label {

	width: 			160px;
	float: 			left;
	padding: 		3px 0px 2px 0px;
	height: 		15px;
	height: 		21px !ie;
	text-align: 	right;
	font-weight: 	bold;
	color: 			#333333;
	margin-right: 	10px;
}

.defaultForm .row .labelHalf, .windowForm .row .labelHalf {

	width: 			100px;
	float: 			left;
	padding: 		3px 0px 2px 0px;
	height: 		15px;
	height: 		21px !ie;
	text-align: 	right;
	font-weight: 	bold;
	color: 			#333333;
	margin-right: 	10px;
}

.defaultForm .row .labelFlex, .windowForm .row .labelFlex {

	float: 			left;
	padding: 		3px 0px 2px 0px;
	height: 		15px;
	height: 		21px !ie;
	text-align: 	right;
	font-weight: 	bold;
	color: 			#333333;
	margin-right: 	10px;
}

.defaultForm .row .labelCheckbox,
.windowForm .row .labelCheckbox,
.defaultForm .row label,
.windowForm .row label {

	float: 			left;
	padding: 		1px 0px 2px 0px;
	height: 		15px;
	height: 		21px !ie;
	text-align: 	left;
	font-weight: 	bold;
	color: 			#333333;
	margin-left: 	5px;
}

.defaultForm .row .field, .windowForm .row .field {

	float: 			left;
	padding: 		0px;
	margin-right: 	2px;
	padding: 		1px 1px 0px 1px;
	padding: 		0px !ie;
	height: 		20px;
	height: 		23px !ie;
	
	text-align: 	left;
	white-space: 	nowrap;
}

.defaultForm .row .image {

	float: 			left;
	padding: 		0px;
	margin-right: 	2px;
	padding: 		3px 3px 2px 3px;
	text-align: 	left;
}

.defaultForm .row .fieldCheckbox, .windowForm .row .fieldCheckbox {

	float: 			left;
	text-align: 	left;
	padding: 		2px 2px 0px 2px;
}

.defaultForm .row .fieldRadio, .windowForm .row .fieldRadio {

	float: 			left;
	text-align: 	left;
	padding: 		0px 0px 0px 0px;
	margin: 		-1px 0px 0px 2px;
}

.defaultForm .row .text,
.defaultForm .row .help,
.windowForm .row .text {

	float: 			left;
	width: 			auto;
	width: 			135px !ie;
	min-width: 		135px;
	padding: 		2px 3px 2px 1px;
	height: 		15px;
	text-align: 	left;
	color: 			#333333;
	margin: 		1px 2px 0px 2px;
	border:			1px solid transparent;
}

.defaultForm .row .text.flex, .windowForm .row .text.flex,
.defaultForm .row .text.flex.error, .windowForm .row .text.flex.error {

	width: auto;
	min-width: auto
}

.defaultForm .row .text.flex.error, .windowForm .row .text.flex.error {

	background: 	#F1AFA4;
	border-color:	#333333;
}

.defaultForm .row .help {

	width: auto;
	min-width: 0px;
}





.defaultForm .rowCheckbox {

	overflow: 		hidden;
	height: 		20px;
	clear: 			both;
	margin-bottom: 	3px;
	whitespace: 	nowrap;
}

.defaultForm .rowCheckbox .label,
.defaultForm .rowCheckbox label {

	float: 			left;
	padding: 		2px 0px 2px 5px;
	height: 		15px;
	height: 		21px !ie;
	text-align: 	left;
	color: 			#333333;
	font-weight: 	normal;
	margin-right: 	10px;
}

.defaultForm .rowCheckbox .field {

	width: 			60px;
	float: 			left;
	padding: 		3px 0px 0px 0px;
	height: 		15px;
	height: 		21px !ie;
	text-align: 	right;
	font-weight: 	bold;
	color: 			#666666;
	margin-right: 	10px;
}




.defaultForm input, .windowForm input, input {

	color: 			#1A1A1A;
	font-size: 		11px;
	height: 		14px;
	padding: 		2px 4px 2px 4px;
	background: 	#FFFFFF;

	border:			2px solid #AFAFAF;
	-moz-border-radius: 	3px;
	-webkit-border-radius: 	3px;
	border-radius: 			3px;	
}

.defaultForm input.disabled, .windowForm input.disabled,
.defaultForm input.disabled:focus, .windowForm input.disabled:focus {

	background: 	#F0F0F0;
	cursor: 		default;
	color: 			#333333;
}

.defaultForm input.required, .windowForm input.required {

	padding-left: 	5px;
	background: 	#FFFFFF url('/images/form/formRequired.png') left top repeat-y;
}

.defaultForm input.required:focus, .windowForm input.required:focus {

	background-image: 		url('/images/form/formRequired.png');
	background-position: 	left top;
	background-repeat: 		repeat-y;
}


.defaultForm input:focus, .windowForm input:focus {

	background: 	#CADBE6;
	border-color: 	#666666;
	color: 			#000000;
}


.defaultForm .checkbox, .windowForm .checkbox {

	margin: 	0px;
	border: 	0px solid;
	height: 	18px;
}

.defaultForm select, .windowForm select {

	font-size: 		11px;
	height: 		21px;
	padding: 		2px 1px 1px 1px;
	padding-left: 	0px;
	text-align: 	left;
	border:			1px solid #8A8A8A;
	
	border:			2px solid #AFAFAF;
	-moz-border-radius: 	3px;
	-webkit-border-radius: 	3px;
	border-radius: 			3px;
}

.defaultForm .rowTextArea,
.windowForm .rowTextArea {

	height: 		80px;
	clear: 			both;
	margin-top: 	3px;
	whitespace: 	nowrap;
}

.defaultForm .rowTextArea .label,
.windowForm .rowTextArea .label,
.defaultForm .rowTextArea .labelHalf,
.windowForm .rowTextArea .labelHalf {

	width: 			170px;
	float: 			left;
	padding: 		3px 0px 0px 0px;
	height: 		75px;
	height: 		75px !ie;
	text-align: 	right;
	font-weight: 	bold;
	color: 			#333333;
	margin-right: 	10px;
}

.defaultForm .rowTextArea .labelHalf,
.windowForm .rowTextArea .labelHalf {

	width: 	100px;
}

.defaultForm .rowTextArea .labelRo,
.windowForm .rowTextArea .labelRo {

	width: 			160px;
	float: 			left;
	padding: 		3px 0px 0px 0px;
	height: 		64px;
	height: 		75px !ie;
	text-align: 	right;
	font-weight: 	bold;
	color: 			#666666;
	margin-right: 	10px;
}

.defaultForm .rowTextArea .field,
.windowForm .rowTextArea .field {

	float: 			left;
	height: 		70px;
	padding: 		1px;
	margin-right: 	2px;
	padding-left: 	2px;
	text-align: 	left;
}

.defaultForm .rowTextArea .text,
.windowForm .rowTextArea .text {

	height: 		64px;
	height: 		75px !ie;
	float: 			left;
	margin-right: 	2px;
	padding: 		4px 4px 4px 4px;
	text-align: 	left;
	width: 			330px;
	overflow: 		auto;
	color: 			#333333;
}

.defaultForm .rowTextArea .text.flex,
.windowForm .rowTextArea .text.flex {

	width: auto
}

.defaultForm .rowTextArea .text.flex {

	width: 			330px;
}

.defaultForm .rowTextArea .field textarea, .defaultForm textarea,
.windowForm .rowTextArea .field textarea, .windowForm textarea {

	font-size: 		8pt;
	font-family: 	Verdana, Arial, sans-serif;
	width: 			250px;
	height: 		70px;
	height: 		71px !ie;
	margin: 		0px 0px 0px -1px;
	margin: 		-1px -2px -1px -1px !ie;
	padding-top: 	3px;
	padding-left: 	3px;
	resize: 		none;
	border:			1px solid #8A8A8A;
	background: 	#FFFFFF;
}

.defaultForm .rowTextArea .field textarea:focus {

	background: 	#C0C0C0;
	border:			1px solid #8A8A8A;
}

.defaultForm .rowTextArea .field textarea.formFieldError, textarea.formFieldError,
.windowForm .rowTextArea .field textarea.formFieldError, textarea.formFieldError {

	background: 	#F1AFA4;
}

.defaultForm .rowTextArea .field textarea.formFieldError:focus {

	background: 	#D88D82;
}

.defaultForm .rowTextArea .field textarea.required {

	padding-left: 	5px;
	background: 	#333333 url('/images/form/formRequired.png') left top repeat-y;
}

.defaultForm .rowTextArea .field textarea.required:focus {

	padding-left: 	5px;
	background: 	#666666 url('/images/form/formRequired.png') left top repeat-y;
}

.defaultForm .row .error {

	float: 					left;
	width: 					16px;
	height: 				24px;
	background: 			url('/images/form/formError.png') no-repeat;
	background-position: 	0px center;
	cursor: 				pointer;
	display: 				none;
	margin-left: 			2px;
}






.defaultForm .formFieldError, .defaultForm input.formFieldError, .windowForm .formFieldError {

	background-color: 	#F1AFA4;
	color: 			#000000;
}

.defaultForm .formFieldError:focus, .windowForm .formFieldError:focus {

	background-color: 	#D88D82;
	color: 			#000000;
}

.defaultForm select.formFieldError, .windowForm select.formFieldError {

	background-color: 	#F1AFA4;
	color: 			#000000;
}

.defaultForm select.formFieldError:focus, .windowForm select.formFieldError:focus {

	background-color: 	#D88D82;
	color: 			#000000;
}



.formStatusDiv {

	float: 			left;
	display: 		none;
	padding: 		5px;
	height: 		22px;
	margin: 		-3px 1px 1px 1px;
}

.formStatusDiv.successStatus {

	color: 			#3165A5;
	background: 	url('/images/form/success.png') 8px 2px no-repeat;
}

.formStatusDiv.errorStatus {

	color: 					#CC3300;
	background: 			url('/images/form/error.png') 12px 2px no-repeat;
}

.formStatusDiv .statusMessage {

	font-weight: 	bold;
	position: 		relative;
	left: 			44px;
	padding-left: 	0px;
	text-indent: 	0px;
}








.windowButtonBar .formStatusDiv.success {

	color: 			#3165A5;
	background: 	url('/images/form/success.png') 8px 2px no-repeat;
}

.windowButtonBar .formStatusDiv.error {

	color: 			#CC3300;
	background: 	url('/images/form/error.png') 8px 2px no-repeat;
}

.windowButtonBar .formStatusDiv.error .message,
.windowButtonBar .formStatusDiv.success .message {

	width: 			200px;
	text-align: 	left;
}







.defaultForm fieldset {

	height: 		auto;
	border: 		1px solid #333333;
	padding: 		2 0 5 0;
}

.defaultForm fieldset legend {

	font-weight: 		bold;
	color: 				#FFFFFF;
	padding-left: 		3px;
	padding-right: 		3px;
	padding-top: 		0px;
	padding-bottom: 	1px;
	border: 			1px solid #000000;
	background: 		#333333;
	margin-left: 		-1px;
	margin-left: 		-3px !ie;
}





.defaultForm {

	padding: 		10px 0px 10px 0px;
	margin: 		5px -2px 0px 0px;
	background: 	none;
	color: 			#333333;
	position: 		relative;
}

.defaultForm h1 {
	
	font-weight: 			bold;
	padding: 				5px 0px 4px 8px;
	border-bottom: 			1px solid #666666;
	color: 					#444444;
	font-size: 				10pt;
	text-align: 			left;
	margin: 				0 15px 10px 15px
}

.defaultForm .row {

	margin-left: 		10px;
	width: 				97%;
	border-top: 		1px solid #DADADA;
}

.defaultForm .row,
.defaultForm .rowTextArea {

	border-top: 		1px solid #DADADA;
	padding-top: 		8px;
	padding-bottom: 	3px;
}

.defaultForm .row.clean {

	border-top: 	none
}

.defaultForm .row:first-child,
.defaultForm .clean .row {

	border-top: 		none;
}

.defaultForm hr {

	margin: 10px 7px 10px 15px;
	border: none;
	border-top: 1px solid #B5B5B5;
	background: #FFF
}

.buttonBarForm {

	height: 		22px;
	padding: 		7px 5px 7px 15px;
	margin: 		-5px 12px 7px 12px;
	background: 	#FFFFFF;
	border: 		none;
}

.buttonBarForm.error {

	color: 			#CC3300;
	background: 	none;
}







::-webkit-input-placeholder	{ color:#808080; }
input:-moz-placeholder { color:#808080; }

input:-ms-placeholder { color:#808080; }
::-ms-input-placeholder	{ color:#808080; }
:-ms-input-placeholder	{ color:#808080; }


::-webkit-input-placeholder:focus	{ color:#808080; }
input:-moz-placeholder:focus { color:#808080; }

input:-ms-placeholder:focus { color:#808080; }
::-ms-input-placeholder:focus	{ color:#808080; }
:-ms-input-placeholder:focus	{ color:#808080; }