body {
	
	padding: 				0px;
	margin: 				0px;
	font: 					11px/15px Tahoma, Arial, Helvetica, sans-serif;
	color: 					#333333;
	background-image: 		url('/images/layout/backgroundBlue.png');
	background-attachment: 	fixed;
	text-align: 			center;
	height: 				100%;
}

img {

	border: 	none;
}

a {
	
	text-decoration: 	none;
	color: 				#C91E1E;
}

a:hover {
	
	text-decoration: 	underline;
}

#contentArea {

	clear: 			both;
	width: 			1058px;
	height: 		100%;
	margin: 		0 auto;         
	text-align: 	left; /* "remédio" para o hack do IE */
}

#contentArea #header {

	height: 	82px;
	width: 		1058px;
}

#contentArea #header .flags {

	position: 		relative;
	width: 			70px;
	left: 			950px;
	top: 			42px;
	z-index: 		3;
}

#contentArea #header .search {

	position: 		relative;
	width: 			70px;
	left: 			860px;
	top: 			42px;
	z-index: 		3;
}

#contentArea #header input {

	border: 	1px solid #7A7A7A;
	width: 		120px;
	height: 	20px;
	
	border-radius: 			10px;
	-moz-border-radius: 	10px;
	-webkit-border-radius: 	10px;
	padding-right: 			10px;
	padding-left: 			25px;
	background: 			#FFFFFF url('/images/layout/search.gif') center left no-repeat
}

#contentArea #header .flags img {

	margin-left: 	7px;
}

#contentArea #header #logo {

	position: 		relative;
	top: 			15px;
	left: 			25px;
	margin-bottom: 	5px;
}

#contentArea #header #cards {

	position: 		absolute;
	top: 			15px;
	margin-left: 	435px;
	z-index: 		0;
}

#contentArea #header #chips {

	position: 		absolute;
	top: 			10px;
	margin-left: 	535px;
	z-index: 		2;
}

#contentArea #borderTable {
	
	position: 		relative;
	width: 			1058px;
	empty-cells: 	show;
	padding: 		0px;
	margin: 		0px;
	line-height: 	0px;
	z-index: 		1;
}

#contentArea #borderTable .topLeft {

	width: 29px;
	height: 31px;
}

#contentArea #borderTable .top {

	width: 			1000px;
	height: 		31px;
	background: 	url('/images/layout/borderTop.png') repeat-x
}

#contentArea #borderTable .topRight {

	width: 		29px;
	height: 	31px;
}

#contentArea #borderTable .left {

	background: 	url('/images/layout/borderLeft.png') repeat-y
}

#contentArea #borderTable .middle {

	background: 	url('/images/layout/innerBg.png');
}

#contentArea #borderTable .bottom {

	background: 	url('/images/layout/borderBottom.png') repeat-x
}

#contentArea #borderTable .right {

	background: 	url('/images/layout/borderRight.png') repeat-y
}

#contentArea #mainContent #topMenu {

	clear: 								both;
	background: 						#000000 url('/images/layout/topMenuBg.png') repeat-x;
	height: 							43px;
	-moz-border-top-left-radius: 		5px;
	-webkit-border-top-left-radius: 	5px;
	border-top-left-radius: 			5px;
	-moz-border-top-right-radius: 		5px;
	-webkit-border-top-right-radius: 	5px;
	border-top-right-radius: 			5px;
}

#contentArea #mainContent #topMenu .links {

	float: 		left;
	position: 	relative;
	top: 		8px;
}

#contentArea #mainContent #topMenu .links .first {

	padding-left: 	15px;
}

#contentArea #mainContent #topMenu .links a {

	position: 			relative;
	font-size: 			12px;
	color: 				#FFFFFF;
	font-weight: 		bold;
	text-decoration: 	none;
	text-transform: 	uppercase;
	top: 				12px;
	padding-top: 		12px;
	padding-bottom: 	13px;
	padding-right: 		12px;
	padding-left: 		9px;
	background: 		url('/images/layout/topMenuItemBg.png') no-repeat top right;	
}

#contentArea #mainContent #topMenu .links a.store {

}

#contentArea #mainContent #topMenu .links a.active {

	color: 				#E8A014;
}

#contentArea #mainContent #topMenu .links a:hover {

	color: 				#E8A014;
	background: 		url('/images/layout/topMenuItemBg.png') no-repeat bottom right;
}

#contentArea #mainContent #topMenu .links a.last {

	background: 		url('/images/layout/topMenuItemBg.png') no-repeat top left;	
}

#contentArea #mainContent #topMenu .links a:hover.last {

	color: 				#E8A014;
	background: 		url('/images/layout/topMenuItemBg.png') no-repeat bottom left;
}

#contentArea #mainContent #topMenu .distinct {

	float: 								left;
	background: 						#000000 url('/images/layout/topMenuDistinctBg.png') repeat-x;
	width: 								209px;
	height: 							43px;
	border-right: 						1px solid #777777;
	-moz-border-top-left-radius: 		5px;
	-webkit-border-top-left-radius: 	5px;
	border-top-left-radius: 			5px;
	text-align: 						center;
}

#contentArea #mainContent #topMenu img {

	margin-top: 	8px;
}

#contentArea #mainContent #innerContent {

	clear: 									both;
	width: 									1000px;
	background: 							#F0F0F0;
	line-height: 							16px;
	-moz-border-bottom-left-radius: 		5px;
	-webkit-border-bottom-left-radius:		5px;
	border-bottom-left-radius: 				5px;
	-moz-border-bottom-right-radius: 		5px;
	-webkit-border-bottom-right-radius: 	5px;
	border-bottom-right-radius: 			5px;
	padding-bottom: 						1px;
}

#contentArea #mainContent #innerContent .leftContent {

	float: 									left;
	position: 								relative;
	width: 									200px;
	top: 									5px;
	left: 									5px;
	margin-bottom: 							8px;
}

#contentArea #mainContent #innerContent .leftContent .leftContentTop,
#contentArea #mainContent #innerContent .leftContent .leftContentMiddle,
#contentArea #mainContent #innerContent .leftContent .leftContentBottom {

	position: 								relative;
	width: 									200px;
	background: 							#FAFAFA;
	margin-bottom: 							8px;
}


#contentArea #mainContent #innerContent .leftContent .leftContentTop {

	padding-bottom: 	30px;
}

#contentArea #mainContent #innerContent .leftContent .leftContentBottom {

	padding-bottom: 	5px;
}

#contentArea #mainContent #innerContent .leftContent #facebookFrame {

	position: 	relative;
	top: 		20px;
	left: 		10px;
}

#contentArea #mainContent #innerContent .leftContent .social {

	position: 		relative;
	top: 			30px;
	left: 			10px;
}

#contentArea #mainContent #innerContent .leftContent #partners,
#contentArea #mainContent #innerContent .leftContent #shareIt {

	position: 		relative;
	margin-top: 	20px;
	margin-bottom: 	5px;
	border-bottom: 	1px solid #CCC;
	width: 			170px;
	color: 			#234c62;
	font-size: 		12px;
}

#contentArea #mainContent #innerContent .leftContent h2 {

	position: 		relative;
	font-size: 		12px;
	margin-bottom: 	5px;
	border-bottom: 	1px solid #CCCCCC;
	padding-left: 	5px;
	width: 			170px;
	color: 			#234c62;
}

#contentArea #mainContent #innerContent .leftContent .partner {

	position: 		relative;
	left: 			11px;
	width: 			180px;
	text-align: 	center;
	height: 		67px;
}

#contentArea #innerContent #appstore {

	position: 		relative;
	top: 			5px;
	left: 			6px;
}

.addthis_toolbox {

	position: 	relative;
	width: 		500px;
	top: 		-8px;
	left: 		370px;
}

.addthis_toolbox a {

	margin-left: 	15px;
	margin-right: 	15px;
}

#contentArea #mainContent #innerContent .rightContent {

	float: 									left;
	position: 								relative;
	top: 									5px;
	left: 									10px;
	width: 									785px;
	background: 							#FFFFFF;
	margin-bottom: 							10px;
	padding-bottom: 						25px;
	-moz-border-bottom-right-radius: 		5px;
	-webkit-border-bottom-right-radius: 	5px;
	border-bottom-right-radius: 			5px;
}

#contentArea #mainContent #innerContent .rightContent .moduleIntro {

	position: 		relative;
	top: 			10px;
	left: 			20px;
	width: 			700px;
	margin-bottom: 	20px;
	font-size: 		12px;
}

#contentArea #mainContent #innerContent .rightContent .moduleFooter {

	position: 		relative;
	top: 			10px;
	left: 			20px;
	width: 			700px;
	margin-bottom: 	20px;
	font-size: 		10px;
}

#footer {

	position: 		relative;
	color:  		#D5EFFF;
	line-height: 	20px;
	z-index: 		2;
}

#footer img {

	position: 		relative;
	top: 			-40px;
	left: 			-420px;
}

#footer .links {

	position: 		relative;
	top: 			-100px;
}

#footer .links a {

	color:  	#D5EFFF;
}

#footer .credit {

	position: 	relative;
	top: 		-85px;
}

#footer .credit a {

	font-weight: 		bold;
	color: 				#DA980B;
	text-decoration: 	none;
}

.clear {

	clear: 	both;
	width: 	100%
}

#debugDiv { background: #FFFFFF }

.textL { text-align: left }
.textC { text-align: center }
.textR { text-align: right }
.textB { font-weight: bold }

.ml0 { margin-left: 0px }
.ml1 { margin-left: 1px }
.ml2 { margin-left: 2px }
.ml3 { margin-left: 3px }
.ml4 { margin-left: 4px }
.ml5 { margin-left: 5px }
.ml10 { margin-left: 10px }
.ml15 { margin-left: 15px }
.ml20 { margin-left: 20px }
.ml30 { margin-left: 30px }

.mr0 { margin-right: 0px }
.mr1 { margin-right: 1px }
.mr2 { margin-right: 2px }
.mr3 { margin-right: 3px }
.mr4 { margin-right: 4px }
.mr5 { margin-right: 5px }
.mr10 { margin-right: 10px }
.mr15 { margin-right: 15px }
.mr20 { margin-right: 20px }
.mr30 { margin-right: 30px }

.mt0 { margin-top: 0px }
.mt1 { margin-top: 1px }
.mt2 { margin-top: 2px }
.mt3 { margin-top: 3px }
.mt4 { margin-top: 4px }
.mt5 { margin-top: 5px }
.mt10 { margin-top: 10px }
.mt15 { margin-top: 15px }
.mt20 { margin-top: 20px }
.mt30 { margin-top: 30px }
.mt40 { margin-top: 40px }
.mt50 { margin-top: 50px }

.mb1 { margin-bottom: 1px }
.mb2 { margin-bottom: 2px }
.mb3 { margin-bottom: 3px }
.mb4 { margin-bottom: 4px }
.mb5 { margin-bottom: 5px }
.mb10 { margin-bottom: 10px }
.mb15 { margin-bottom: 15px }
.mb20 { margin-bottom: 20px }
.mb30 { margin-bottom: 30px }
.mb40 { margin-bottom: 40px }
.mb50 { margin-bottom: 50px }

.mb-10 { margin-bottom: -10px }
.mb-15 { margin-bottom: -15px }
.mb-20 { margin-bottom: -20px }
.mb-30 { margin-bottom: -30px }
.mb-40 { margin-bottom: -40px }
.mb-50 { margin-bottom: -50px }

.p3 { padding: 3px }

.pt5 { padding-top: 5px }
.pt10 { padding-top: 10px }
.pt20 { padding-top: 20px }
.pt30 { padding-top: 30px }
.pt40 { padding-top: 40px }
.pt50 { padding-top: 50px }

.pb5 { padding-bottom: 5px }
.pb10 { padding-bottom: 10px }
.pb20 { padding-bottom: 20px }
.pb30 { padding-bottom: 30px }
.pb40 { padding-bottom: 40px }
.pb50 { padding-bottom: 50px }

.pr1 { padding-right: 1px }
.pr2 { padding-right: 2px }
.pr3 { padding-right: 3px }
.pr5 { padding-right: 5px }
.pr10 { padding-right: 10px }
.pr20 { padding-right: 20px }
.pr30 { padding-right: 30px }
.pr40 { padding-right: 40px }
.pr50 { padding-right: 50px }

.hidden { display: none }
.strong { font-weight: bold }

.itsMe td,
.itsMe td a {
	
	font-weight: bold;
	color: #C91E1E
}

.noSelect,
.noSelect * {
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}