.userInfo {

	margin: 		0px 0px 5px 10px;
	padding-top: 	10px;
}

#quickResume {
	
	position: 				relative;
	top: 					5px;
	left: 					5px;
	width: 					187px;
	padding-bottom: 		6px;
	background: 			#D8D8D8 url('/images/loginBg.png') repeat-x;
	border: 				1px solid #C0C0C0;
	-moz-border-radius: 	7px;
	-webkit-border-radius: 	7px;
	border-radius: 			7px;
}

#quickResume.home {
	
	float: 		right;
	left: 		-4px;
	top: 		15px;
	width: 		400px;
	margin: 	0px;
	overflow: 	hidden;
}

#quickResume h1 {
	
	text-shadow: #FFF 1px 1px
}

#quickResume.home .pendingInviteList {
	
	text-align: 	center;
}

#quickResume.home .pendingInviteList .pendingInvite {
	
	text-align: 		left;
	margin: 			1px 5px 4px 8px;
	padding-top: 		2px;
	border-top: 		1px solid #EAEAEA
}

#quickResume.home .pendingInviteList .pendingInvite.first {
	
	border-top: 		1px solid transparent
}

#quickResume.home .pendingInviteList .pendingInvite .eventName { font-weight: 	bold }
#quickResume.home .pendingInviteList .pendingInvite .eventPlace { font-style: 	italic; }
#quickResume.home .pendingInviteList .pendingInvite .eventDate {}

#quickResume.home .pendingInviteList a { color: #303030 }
#quickResume.home .pendingInviteList a:hover { color: #C91E1E }

#quickResume h1,
#quickResume h2 {
	position: 		relative;
	font-size: 		13px;
	font-weight: 	bold;
	padding: 		0px;
	margin: 		5px 0px 0px 11px
}

#quickResume h1 span {
	
	position: absolute;
	right: 5px;
}

#quickResume h1 span a {
	
	font-weight: normal;
	font-size: 12px;
}

#quickResume h2 {

	position: 		relative;
	width: 			100%;
	background: 	#F0F0F0;
	margin: 		-4px 0px -6px 0px;
	padding: 		5px 0px 5px 11px
}

#quickResume h2 a.seeAll {

	position: 		absolute;
	right: 			20px;
	font-weight: 	normal;
	font-size: 		11px
}

#quickResume .row {

	clear: 		both;
	height: 	20px;
}

#quickResume .row .label,
#quickResume .row .value {

	float: 			left;
	width: 			70px;
	margin-top: 	3px;
	margin-left: 	30px;
	text-align: 	left;
	font-size: 		11px;
	text-align: 	right;
}

#quickResume .row .label {

	width: 			50px;
	font-weight: 	bold;
	text-align: 	left;
	margin-left: 	20px;
}

#quickResume .separator {

	clear: 			both;
	width: 			100%;
	border-top: 	1px solid #CACACA;
	border-bottom: 	1px solid #EEEEEE;
	margin-top: 	6px;
	margin-bottom: 	4px;
}

#quickResume.home .row .label,
#quickResume.home .row .value {
	
	width: 28px;
}

#quickResume.home .row .value {
	
	width: 			50px;
	text-align: 	right;
}





#contentArea #mainContent #topMenu .distinct .generalCredit {

	position: 			relative;
	top: 				20px;
	height: 			42px;
	font-size: 			11pt;
	text-align: 		center;
}

#contentArea #mainContent #topMenu .distinct .generalCredit .label {

	text-transform: 	uppercase;
	color: 				#FFFFFF;
}

#contentArea #mainContent #topMenu .distinct .generalCredit .credit {

	margin-top: 	10px;
	color: 			#DD4444;
	font-size: 		11pt;
	font-weight: 	bold;
}

#contentArea #mainContent #topMenu .distinct .generalCredit .credit.positive {

	color: #4444DD;
}

#contentArea #mainContent #topMenu .distinct .generalCredit .credit.negative {

	color: #DD4444;
}


#contentArea #mainContent #topMenu .distinct a:hover {

	text-decoration: none;
}

#contentArea #mainContent #topMenu .distinct a:hover .generalCredit .credit.positive {

	color: #6464FD;
}

#contentArea #mainContent #topMenu .distinct a:hover .generalCredit .credit.negative {

	color: #FD6464;
}