.product {

	position: relative;
	float: left;
	margin-left: 30px;
	margin-right: 20px;
	margin-top: 20px;
	width: 202px;
	height: 255px;
	background: #F0F0F0;
	border: 1px solid #D5D5D5;
	-moz-border-radius: 	9px;
	-webkit-border-radius: 	9px;
	border-radius: 			9px;
}

.product img.productImage {

	position: absolute;
	padding: 5px;
	background: #FFFFFF;
	border: 1px solid #D5D5D5;
	-moz-border-radius: 	9px;
	-webkit-border-radius: 	9px;
	border-radius: 			9px;
	width: 					180px;
	top: 5px;
	left: 5px 
}

.product img.productImage:hover {

	border: 1px solid #C91E1E;
}

.product .distinct.new {

	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1
}







/* CAMISETAS */

.product .tshirt {

	position: absolute;
	bottom: 5px; 
}

.product .tshirt.name,
.product .tshirt.name a {

	left: 	8px;
	top: 	198px;
	font-weight: bold;
	font-size: 12px;
	color: #425d95 
}

.product .tshirt.size {

	left: 	8px;
	bottom: 5px;
	font-size: 10px;
}

.product .tshirt.prize {

	right: 	8px;
	bottom: 8px;
	font-size: 15px;
	font-weight: bold;
	color: #C91E1E;
	text-align: right; 
}









/* DETALHES */

.productDetail {
	
	position: relative;
	margin: 15px;
}

.productDetail .productImages {

	float: 	left;
	width: 250px;
}

.productDetail .extraImageList {

	position: relative;
	padding-top: 4px;
	border-top: 1px solid #DADADA;
	width: 240px;
	margin-top: 4px;
	left: 5px;
	padding-right: 2px;
}

.productDetail .productImage.extra {
	
	position: relative;
	width: 40px;
	margin-left: 2px;
	background: #FFFFFF;
	border: 1px solid #D0D0D0;
	padding: 2px
}

.productDetail .productImage.extra {
	
	position: relative;
	width: 40px;
	background: #FFFFFF;
	border: 1px solid #D0D0D0;
	padding: 2px
}

.productDetail .productImage a {
	
	margin-left: 2px;
}

.productDetail .productImage a:first-child {
	
	margin-left: 0px;
}

.productDetail .share {

	clear: both;
	width: 280px;
	margin-top: 10px;
	position: relative;
	left: -5px
}

.productDetail .productInfo {

	float: left;
	width: 490px;
	padding: 0px;
	position: relative;
	left: 25px;
}

.productDetail .productInfo h1.name {

	color: #425d95;
	font-size: 20px;
	line-height: 23px;
	font-weight: bold;
	margin-bottom: 0px;
	white-space: normal;
	padding: 0px;
	position: relative;
	top: -15px
}

.productDetail .productInfo span.label {

	position: relative;
	clear: both;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	margin-right: 5px;
	width: 100px;
	text-align: right;
	color: #505050;
}

.productDetail .productInfo span.value {

	position: relative;
	display: block;
	float: left;
	font-size: 12px;
	margin-top: 5px;
	color: #505050;
}

.productDetail .productInfo span.availability {

	position: relative;
	top: -5px;
	left: 17px;
}

.productDetail .productInfo span.value.availability.available {

	color: #299700
}

.productDetail .productInfo span.value.availability.unavailable {

	color: #C91A1A
}

.productDetail .productInfo span.label.price {

	clear: both;
	font-weight: normal;
	text-align: left;
	left: 20px;
	margin-top: 12px;
}

.productDetail .productInfo span.value.price {

	clear: both;
	font-weight: normal;
	font-size: 25px;
	left: 20px;
	font-weight: bold;
	color: #C91E1E;
}










.productDetail .productInfo .productOptions {

	float: left;
	margin-top: 25px;
	left: 20px;
	position: relative;
	height: 70px;
	width: 250px;
}

.productDetail .productInfo .productOptions .productOption {

	margin-top: 3px;
	width: 200px;
	height: 20px;
	background: #F0F0F0;
	padding: 4px 4px;
	border: 1px solid #DCDCDC;
	border-radius: 3px;
	position: relative;
}

.productDetail .productInfo .productOptions .productOption .sizeHelpButton {

	position: absolute;
	float: left;
	top: 6px;
	right: 7px;
}

.productDetail .productInfo .productOptions .productOption input {

	position: 	relative;
	height: 	10px;
	padding: 	2px;
	left: 		3px;
}

.productDetail .productInfo .productOptions .productOption select {

	margin-top: 1px
}

.productDetail .productInfo .productOptions .productOption label {

	clear: both;
	display: block;
	float: left;
	width: 50px;
	height: 20px;
	margin-top: 1px;
	padding-right: 5px;
	text-align: right;
	font-weight: bold;
}

.productDetail .productInfo .productOptions .productOption .productOptionOption {

	float: left;
	margin-left: 3px;
	width: 18px;
	height: 18px;
	border: 1px solid #B0B0B0;
}

.productDetail .productInfo .productOptions .productOption .productOptionOption.size {

	background: #E9E9E9;
	text-align: center;
	font-weight: bold;
	color: #222222;
	width: auto;
	min-width: 15px;
	padding: 0px 3px
}

.productDetail .productInfo .productOptions .productOption .productOptionOption.size.disabled {

	background: #FAFAFA;
	color: #AAAAAA;
	border: 1px solid #CACACA;
}

.productDetail .productInfo .productOptions .productOption .productOptionOption:hover {

	border: 1px solid #505050;
	cursor: pointer;
}

.productDetail .productInfo .productOptions .productOption .productOptionOption.size.disabled:hover {

	border: 1px solid #C0C0C0;
}



.productDetail .productInfo .productOptions .productOption .productOptionOption.selected,
.productDetail .productInfo .productOptions .productOption .productOptionOption.selected:hover {

	border: 1px solid #000000;
}

.productDetail .productInfo .productOptions .productOption .productOptionOption .color {

	width: 16px;
	height: 16px;
	margin-left: 1px;
	margin-top: 1px;
}

.productDetail .productInfo .buttons {

	float: left;
	position: relative;
	top: 28px;
}

.productDetail .productInfo .bookmarkButton {

	position: 	relative;
	left: 		7px;
	top:		33px;
}

.productDetail .productInfo .bookmarkButton img {

	position: relative;
	top: 3px;
	left: -7px;
}

.productDetail .productInfo span.description {

	display: block;
	margin: 50px 15px 15px 20px;
	width: 450px;
	font-size: 12px;
	text-indent: 10px;
	line-height: 20px;
	color: 	#5F5F5F
}







table.storeFooter {

	background: #FFFFFF;
	width: 780px;
	bottom: 0px;
	right: 0px;
}


table.storeFooter tr:first-child td {

	text-align: center;
}

table.storeFooter td hr {

	width: 90%;
	height: 0px;
	border: none;
	border-top: 1px solid #DADADA
}

table.storeFooter th {

	color: 	#505050;
	font-size: 14px;
	text-transform: uppercase;
	font-family: Calibri, Arial, Verdana;
	padding: 	4px 10px 4px 5px;
}

table.storeFooter tr td.wrapper {

	border-left: 1px solid #EAEAEA;
	width: 130px;
	padding-left: 10px;
	vertical-align: top
}

table.storeFooter tr td.wrapper:first-child {

	border-left: none
}

table.storeFooter tr td.wrapper table tr td {

	padding-top: 5px;
	padding-left: 5px;
	color: #707070
}

table.storeFooter tr td.wrapper table tr td a {

	color: #707070
}

table.storeFooter tr td.wrapper table tr td a:hover {

	color: #303030;
	text-decoration: none
}








.paymethods {

	border-top: 4px solid #EAEAEA;
	border-bottom: 4px solid #EAEAEA;
	text-align: right;
	position: relative;
	padding: 5px;
	height: 50px;
	margin-top: 100px;
}

.paymethods img {

	margin: 0px;
	position: relative;
	margin-right: 20px;
	top: 8px;
}

.paymethods img.sslStamp {

	position: absolute;
	left: 10px;
	top: 5px;
	border: 1px solid #CACACA
}


h3 {

	color: #505050;
	text-shadow: #FAFAFA 1px 1px;
	border-bottom: 1px solid #BABABA;
	border-top: 1px solid #BABABA;
	background: #DADADA;
	margin: 0px;
	padding: 5px 0px 5px 10px;
	font-size: 15px;
}








/* BARRA DO CARRINHO DE COMPRAS */
div.cartBar {
	
	position: 				relative;
	background: 			#E5E5E5;
    background-image: 		-o-linear-gradient(#FAFAFA, #E5E5E5);
    background: 			-moz-linear-gradient(top, #FAFAFA, #E5E5E5);;
    background: 			-webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E5E5E5));
    filter: 				progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FAFAFA', EndColorStr='#E5E5E5', GradientType=0);
	border: 				1px solid #CACACA;
	padding: 				10px 10px;
	margin: 				0px 0px -5px 0px;
	top: 					-5px;
	height: 				22px;
}

div.cartResume {
	
	position: 				relative;
	background: 			#E5E5E5;
    background-image: 		-o-linear-gradient(#FAFAFA, #E5E5E5);
    background: 			-moz-linear-gradient(top, #FAFAFA, #E5E5E5);;
    background: 			-webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E5E5E5));
    filter: 				progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FAFAFA', EndColorStr='#E5E5E5', GradientType=0);
	border: 				1px solid #CACACA;
	padding: 				10px 10px;
	margin: 				0px;
	height: 				20px;
}

div.cartIcon {

	position: 	absolute;
	top: 		-5px;
	left: 		-1px;
}

div.cartInfo {
	
	clear: 			both;
	position: 		relative;
	margin: 		7px 7px -20px 7px;
	text-align: 	left;
	line-height: 	18px;
}

div.cartInfo label {
	
	display: block;
	float: left;
	width: 110px;
	padding-right: 5px;
	font-weight: normal;
}

div.cartInfo span {
	
	font-weight: bold;
	text-align: right;
	display: block;
	float: right;
}

div.cartInfo #storeCartSideBarProducts,
div.cartInfo #storeCartSideBarProductLabel {
	
	font-weight: normal;
	clear: both;
	text-align: left;
	display: inline;
	float: none;
}

div.cartInfo #storeCartSideBarProducts {
	
	font-weight: bold;
}

div.cartInfo a {
	
	color: 	#000000;
}

div.cartInfo a:hover {
	
	text-decoration: 	none;
	color: 				#C91E1E
}

.actionButton.finishOrderButton,
.goToCartButton {
	
	float: right;
}













table.store.cart {

	background: #F0F0F0;
	width: 775px;
	
	width: 100%;
	margin: 0px;
	border-left: 1px solid #DADADA;
	border-right: 1px solid #DADADA;
}

table.store.cart.resume {

	background: #F0F0F0;
	width: 785px;
	border: none;
	border-top: 1px solid #EAEAEA
}

table.store.cart,
table.store.cart th,
table.store.cart td {

	font-family: Calibri;
	font-size: 13px;
}

table.store.cart tr.header th {

	background: #DADADA;
	padding: 	5px 5px 8px 5px;
	border-bottom: 1px solid #CACACA;
	text-align: center;
	text-transform: uppercase;
}

table.store.cart td {

	border-bottom: 1px solid #FDFDFD;
	padding: 3px 5px;
}

table.store.cart td.emptyCart {

	background: #FAFAFA;
	padding: 20px 0px;
	text-align: center;
	font-size: 14px;
}

table.store.cart tr.odd td {

	background: #F8F8F8
}

table.store.cart td.productInfo {

	position: relative;
}

table.store.cart td.productImage {

	padding: 5px 10px
}

table.store.cart td .productName {

	font-weight: bold
}

table.store.cart td .productName a {

	color: #1e62c9
}

table.store.cart td .productOption {

	padding: 0px;
	margin: 0px 15px 0px 0px;
	color: #5F5F5F;
}

table.store.cart td span.removeLink {

	position: absolute;
	left: 400px;
}

table.store.cart input {

	border: 1px solid #C0C0C0;
	padding: 2px;
	width: 30px;
	height: 14px;
	text-align: center;
	color: #5F5F5F
}

table.store.cart .footer th {

	padding: 	5px 0px;
}

table.store.cart .footer th {

	padding: 	5px;
}

table.store.cart .footer.shipping th,
table.store.cart .footer.discount th,
table.store.cart .footer.subtotal th {

	border-top: 1px solid #FBFBFB;
}

table.store.cart .footer.subtotal th {

	border-bottom: 1px solid #DADADA;
}

table.store.cart .footer th input {

	width: 75px
}

table.store.cart .footer#storeCartDiscountRow th input {

	text-transform: uppercase
}

table.store.cart .footer.total th {

	padding: 20px 5px;
	font-size: 20px
}



table.store.cart.resume td.totalValue,
table.store.cart.resume .footer.shipping th,
table.store.cart.resume .footer.discount th,
table.store.cart.resume .footer.subtotal th,
table.store.cart.resume .footer.total th {

	padding-right: 8px;
}














.storeCart #cartMessage.success {

	margin: 1px 0px;
	color: #49721b;
	border: 1px solid #626d23;
	background: #d2dfc6 url('/images/icon/ok.png') 8px center no-repeat;
	padding: 8px 5px 8px 35px
}


.storeCartResume {

	position: relative;
}

/* Formulário de cadastro de endereço */

.storeCartResume .formTable {

	background: 			none;
	border: 				none;
	-moz-border-radius: 	7px;
	-webkit-border-radius: 	7px;
	border-radius: 			7px;
	margin-bottom: 			0px;
	margin-top: 			0px;
	margin-left: 			12px;
	width: 					760px
}

.storeCartResume .formTable .defaultForm {

	margin-top: 8px
}

.storeCartResume .formTable .defaultForm .row {

	margin-left: 		10px;
	width: 				97%;
	border-top: 		1px solid #DADADA;
	padding-top: 		8px;
	padding-bottom: 	3px;
}

.storeCartResume .formTable .defaultForm .row .label {

	width: 	100px
}

.storeCartResume .formTable .defaultForm .row:first-child {

	border-top: 		none;
}

.storeCartResume .addressInfo {

	font-size: 12px
}

.storeCartResume .finishOrderButton {

	margin-left: 30px;
	margin-top: 10px;
	clear: both;
	float: left;
	margin-right: -12px
}









.storeCartOrder .formTable {

	background: 			#F7F7F7 url('/images/tableLightBg.png') repeat-x;
}

.storeCartResume .gridTable.store.cart td {

	padding: 	5px 10px;
}

.storeCartResume .separator {

	border-bottom: 5px solid #F0F0F0;
}

.buttonBarForm {

	background: #F0F0F0;
	padding-left: 10px;
	border: none;
	border-top: 1px solid #CACACA;
}

.defaultForm .row .error,
.storeCartResume .error {

	clear: 					both;
	width: 					auto;
	height: 				18px;
	background: 			none;
	cursor: 				default;
	margin-top: 			3px;
	margin-bottom: 			3px;
	margin-left: 			112px;
	color: 					#a44949;
}

.storeCartResume .error {

	clear: 					both;
	width: 					auto;
	height: 				18px;
	background: 			none;
	cursor: 				default;
	margin-top: 			3px;
	margin-bottom: 			3px;
	margin-left: 			10px;
	color: 					#a44949;
}

#signMainButtonBar.error {

	margin-top: 20px
}










/* Página de pagamento */

#signLoginTable {
	
	margin-top: 15px;
	width: 500px;
	position: relative;
	margin-left: 50%;
	left: -300px;
}

#signLoginTable thead th {
	
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	color: #4978a4
}

#signLoginTable th.border,
#signLoginTable td.border {
	
	border-right: 1px solid #E0E0E0
}

#signLoginTable td {
	
	width: 250px;
}

#signLoginTable td .quickForm {

	margin: 0px 10px;	
}

#signLoginTable td .quickForm th {
	
	text-align: right;
	padding-right: 7px;	
}

#signLoginTable td .quickForm input {
	
	border: 1px solid #C0C0C0;
	width: 150px;
	height: 16px;
	padding: 1px 3px;	
}


#signLoginTable #storeLoginErrorMessage {

	position: 		relative;
	left: 			0px;
	top: 			10px;
	margin-bottom: 	5px;
	font-size: 		12px;
	color: 			#C91E1E;
	text-shadow: 	#FFFFFF 1px 1px;
	display: 		none;
}




body.billet { color: #000000; background: #ffffff; margin: 10px; font-family: Arial, Sans Serif, Verdana }
body.billet .cp { font: bold 10px Arial; color: black}
body.billet .ti { font: 9px Arial, Helvetica, sans-serif}
body.billet .ld { font: bold 15px Arial; color: #000000}
body.billet .ct { FONT: 9px "Arial Narrow"; COLOR: #000033}
body.billet .cn { FONT: 9px Arial; COLOR: black }
body.billet .bc { font: bold 20px Arial; color: #000000 }
body.billet .ld2 { font: bold 12px Arial; color: #000000 }


















.storeOrderHeader {
	
	width: 765px;
	height: 60px;
	position: relative;
	border-bottom: 1px solid #C0C0C0;
	margin: 0px 10px;
	font-family: Calibri;
}

.storeOrderHeader .orderNumber,
.storeOrderHeader .orderStatus {
	
	position: relative;
	float: left;
	font-size: 14px;
	margin-left: 10px;
	font-weight: bold;
	height: 20px
}

.storeOrderHeader .shippingDate,
.storeOrderHeader .tracingCode {
	
	float: right;
	left: -10px
}

.storeOrderHeader .orderNumber,
.storeOrderHeader .orderStatus {
	
	font-size: 22px;
	font-weight: bold;
	position: relative;
	top: 10px;
	left: 10px;
	height: 40px;
	margin-left: 0px
}

.storeOrderHeader .orderStatus {
	
	float: right;
	left: -10px
}

.storeOrderHeader .orderNumber span,
.storeOrderHeader .orderStatus span {
	
	color: #3B5998;
	font-weight: bold;
}

.storeOrderHeader .orderStatus span {
	
	color: #70983B;
	font-weight: bold;
}

.storeOrderHeader .productsLabel {
	
	clear: both;
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	width: 120px;
	left: 0px;
	bottom: -10px;
	padding: 5px 5px 5px 10px;
	background: #FFFFFF;
}

.purchaseInfo,
.shippingInfo {
	
	float: right;
	font-family: Calibri, Verdana, Tahoma;
	font-size: 12px;
	margin-left: 20px;
	margin-top: 20px;
	padding-left: 80px;
	background: url('/images/store/mail.png') left 35px no-repeat
}

.shippingInfo {

	position: relative;
	left: -20px;
	width: 250px	
}

.purchaseInfo {
	
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	padding-left: 0px;
	background: none;
}

.purchaseInfo div.info {

	clear: both;
	font-size: 13px;
	height: 22px;
	font-family: Calibri
}

.purchaseInfo div.info label{

	font-size: 13px;
}

.purchaseInfo div a#payTicketUploadLink {

	color: #3B5998;
	font-weight: bold;
	font-size: 12px;
	font-family: Calibri
}

.purchaseInfo label {

	display: block;
	float: left;
	font-weight: bold;
	padding-right: 5px;
	text-align: left;
	width: 120px;
	font-family: Calibri
}

.purchaseInfo .orderNumber span,
.purchaseInfo .orderStatus span,
.purchaseInfo .purchaseDate span,
.purchaseInfo .paymethod span,
.purchaseInfo .shippingDate span,
.purchaseInfo .tracingCode span {
	
	font-weight: normal
}

.purchaseInfo b,
.shippingInfo b {

	font-size: 14px;	
}

.purchaseInfo h1,
.shippingInfo h1 {

	font-size: 	20px;	
}



#storePurchaseFileUploadDiv {

	display: none;
	border: 1px solid #C0C0C0;
	width: 350px;
	padding: 10px;
	background: #F0F0F0
}

.sizeBoard {

	margin: 0px 5px 30px 5px;
}
 
.sizeBoard th {

	text-align: center;
	text-transform: uppercase
}

.sizeBoard td {

	padding: 0px 10px
}