.storeOfferBar {

	margin-top: 15px;
	width: 200px;
}

.storeOfferBar .header {

	position: relative;
	height: 32px;
	border-top: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
	background: #FAFAFA
}

.storeOfferBar .header img {

	margin-left: 15px;
	margin-top: 3px;
	float: left;
}

.storeOfferBar h1 {

	float: left;
	position: relative;
	left: 20px;
	top: 8px;
	padding-bottom: 7px;
}

.storeOfferBar a h1 {

	color: #505050
}

.storeOfferBar div.product {

	position: relative;
	width: 198px;
	text-align: left;
	border: 1px solid #DADADA;
	margin: 10px 0px;
	padding: 10px 0px;
	background: #FAFAFA
}

.storeOfferBar div.product img {

	position: relative;
	left: 9px;
	z-index: 0;
}

.storeOfferBar div.product .distinct.new {

	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1
}

.storeOfferBar div.product div.name {

	position: relative;
	width: 180px;
	font-weight: bold;
	font-size: 12px;
	color: #425D95;
	left: 10px;
	top: 2px;
	border-bottom: 1px solid #c0c0c0;
	padding-bottom: 3px;
}

.storeOfferBar div.product div.prize {

	float: right;
	font-size: 12px;
	font-weight: bold;
	margin-right: 10px;
	margin-top: 5px;
	color: rgb(84, 134, 180);
}

.storeOfferBar div.product div.size {

	float: left;
	font-size: 10px;
	font-weight: normal;
	margin-left: 10px;
	margin-top: 5px;
	color: #303030;
}