.rowhandler {

	width: 30px;
}

.drag {
	margin: 0;
	text-align: center;
	width: 16px;
	height: 20px;
	line-height: 20px;
	
	/* round corners */
	border-radius: 4px; /* Opera, Chrome */
	-moz-border-radius: 4px; /* FF */
	border: 0px solid transparent;
	border-color: 	none;
	background: url(/images/drag.png) center center no-repeat
}

.drag.row {

	padding: 0px;
	margin: 0px;
	height: 20px;
	border: none;
}