#blindTimer {

	margin: 30px
}

#blindTimer .timerClock label,
#blindTimer .timerClock span.separator {
	
	font-size: 50px;
	font-weight: bold;
	
	color: #fff;
	text-stroke: 1px transparent;
	text-shadow: 0 1px 0 #ccc,
				 0 2px 0 #c9c9c9,
				 0 3px 0 #bbb,
				 0 4px 0 #b9b9b9,
				 0 5px 0 #aaa,
				 0 6px 1px rgba(0,0,0,.1),
				 0 0 5px rgba(0,0,0,.1),
				 0 1px 3px rgba(0,0,0,.3),
				 0 3px 5px rgba(0,0,0,.2),
				 0 5px 10px rgba(0,0,0,.25),
				 0 10px 10px rgba(0,0,0,.2),
				 0 20px 20px rgba(0,0,0,.15);
}

#blindTimer .timerClock span.separator:before {
	
	content: ":"
}

div.timerBar {
	
	background: 			#E5E5E5;
    background-image: 		-o-linear-gradient(#FAFAFA, #E5E5E5);
    background: 			-moz-linear-gradient(top, #FAFAFA, #E5E5E5);;
    background: 			-webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E5E5E5));
    filter: 				progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FAFAFA', EndColorStr='#E5E5E5', GradientType=0);
	border: 				1px solid #CACACA;
	padding: 				10px 10px;
	margin: 				0px 0px 0px 0px;
	height: 				22px;
}

div.timerBar h3 {
	
	text-align: right;
	position: relative;
	top: -10px;
	text-shadow: 1px 1px #FFFFFF;
	width: 300px;
	float: right;
	margin-right: 20px
}

div.separator {

	height: 3px;
	background: #F0F0F0
}

#timerListTable tr {

}