body {
	
	padding: 		0px;
	margin: 		0px;
	font: 			11px/15px Tahoma, Arial, Helvetica, sans-serif;
	color: 			#333333;
	line-height: 	16px;
	background: 	#F6F6F6 url('/images/frontend/layout/bg.png') repeat-x;
	text-align: 	center;
}

a {

	color: 				#333333;
	text-decoration: 	none;
}

a:hover {

	color: 	#E82314;
}

a.red {

	color: #E82314;
}

a.red:hover {

	color: #101010;
}

img {

	border: 	0px;	
}

#contentArea {

	clear: 			both;
	width: 			1002px;
	margin: 		0 auto;         
	text-align: 	left; /* "remédio" para o hack do IE */ 
}

#contentArea #innerContent {

	width: 			1000px;
	clear: 			both;
	border-left: 	1px solid #404040;
	background: 	url('/images/layout/headerBg.png') repeat-x;
}

#contentArea #innerContent #header {

	clear: 			both;
	height: 		69px;
	border-right: 	1px solid #909090;
	border-bottom: 	1px solid #909090;
	background: 	url('/images/layout/headerRightBg.png') right center no-repeat;
}

#contentArea #innerContent #header #logo {

	float: 			left;
	width: 			200px;
	height: 		69px;
}

#contentArea #innerContent #header #sideLogo {

	float: 			left;
	width: 			45px;
	height: 		69px;
}

#contentArea #innerContent #header #search {

	position: 		absolute;
	width: 			236px;
	height: 		25px;
	margin-top: 	113px;
	margin-top: 	112px !ie;
	margin-left: 	760px;
	margin-left: 	560px !ie;
}

#contentArea #innerContent #header #flagList {

	position: 		absolute;
	width: 			70px;
	height: 		30px;
	margin-top: 	80px;
	margin-left: 	915px;
	margin-left: 	715px !ie;
}

#contentArea #innerContent #header #flagList img {

	margin-right: 	7px;
}

#contentArea #innerContent #header input {

	position: 		relative;
	top: 			3px;
	left: 			3px;
	color: 			#999999;
	width: 			210px;
	height: 		15px;
	font-size: 		8pt;
	border-left: 	1px solid #666666;
	border-top: 	1px solid #666666;
	border-bottom: 	1px solid #666666;
	padding-left: 	5px;
}

#contentArea #innerContent #header .mainSearchButton {

	position: 		relative;
	top: 			-16px;
	top: 			-36px !ie;
	width: 			23px;
	height: 		19px;
	left: 			210px;
	background: 	url('/images/layout/mainSearch.gif') no-repeat;
}

#contentArea #innerContent #header .mainSearchButtonHover {

	position: 		relative;
	top: 			-16px;
	top: 			-36px !ie;
	width: 			23px;
	height: 		19px;
	left: 			210px;
	background: 	url('/images/layout/mainSearch.gif') no-repeat bottom left;
}

#contentArea #innerContent #mainContent {

	width: 			1000px;
	clear: 			both;
	background: 	#FFFFFF;
}

#contentArea #innerContent #leftContent {

	border-right: 			1px solid #000000;
	background: 			#F0F0F0 url('/images/frontend/layout/leftBg.jpg') repeat-x;
	background-position: 	0px 40px;
	width: 					200px;
}

#contentArea #innerContent #leftContent #leftBar {

	border-top: 	1px solid #FFFFFF;
}

#contentArea #innerContent #leftContent #socialNetwork {

	margin: 20px 5px 10px 5px;
}

#contentArea #innerContent #leftContent #socialNetwork #shareIt {

	margin-top: 	30px;
	margin-bottom: 	5px;
	border-bottom: 	1px solid #CCC;
	color: 			#6A6A6A
}

#contentArea #innerContent #leftContent #socialNetwork #partners {

	margin-top: 	30px;
	margin-bottom: 	5px;
	border-bottom: 	1px solid #CCC;
	color: 			#6A6A6A;
}

#contentArea #innerContent #leftContent #socialNetwork .partner {

	height: 		65px;
	margin-top: 	7px;
	margin-left: 	12px;
}

#contentArea #innerContent #leftContent #leftBar #leftMenu {
	
	margin-top: 	15px;
}



#contentArea #innerContent #leftContent #leftBar #login {

	background: 	#DDDDDD;
	border-bottom: 	1px solid #C0C0C0;
}

#contentArea #innerContent #leftContent #leftBar #login #loginStatus {

	display: 			none;
	color: 				#Bf2424;
	padding-bottom: 	5px
}

#contentArea #innerContent #leftContent #leftBar #login table {

	margin: 	5px 0 0 10px
}

#contentArea #innerContent #leftContent #leftBar #login th {

	font-size: 		7pt;
	text-align: 	right;
}

#contentArea #innerContent #leftContent #leftBar #login .field input {

	border: 	1px solid #333333;
	height: 	12px;
	font-size: 	8pt;
	width: 		100px
}



#contentArea #innerContent #leftContent #leftBar #leftMenu .innerMenu {
	
	margin: 		10px 0px 10px 0px;
	padding: 		7px 0px 7px 0px;
	background: 	#FAFAFA url('/images/layout/innerMenuBg.png') repeat-y
}

#contentArea #innerContent #leftContent #leftBar #leftMenu .item {
	
	clear: 					both;
	padding-top: 			4px;
	padding-bottom: 		4px;
	padding-left: 			33px;
	background: 			url('/images/layout/bullet.png') 15px center no-repeat;	
}

#contentArea #innerContent #leftContent #leftBar #leftMenu .innerItem {
	
	clear: 					both;
	padding-top: 			4px;
	padding-bottom: 		4px;
	padding-left: 			33px;
	margin-left: 			10px;
	background: 			url('/images/layout/bullet.png') 15px center no-repeat;	
}

#contentArea #innerContent #leftContent #leftBar #leftMenu .item a {

	font-size: 			8pt;
	color: 				#444444;
	text-decoration: 	none;
}

#contentArea #innerContent #leftContent #leftBar #leftMenu .innerItem a {

	font-size: 			8pt;
	color: 				#444444;
	text-decoration: 	none;
	margin-left: 		5px;
}

#contentArea #innerContent #leftContent #leftBar #leftMenu .item a:hover,
#contentArea #innerContent #leftContent #leftBar #leftMenu .innerItem a:hover {

	color: 				#E52024;
	text-decoration: 	underline;
}

#contentArea #innerContent #leftContent #leftBar #profilePictureDiv img {

	border: 		1px solid #999999;
	margin: 		0px 10px 15px 7px;
}

#contentArea #innerContent #leftContent #leftBar .separator {
	
	float: 			right;
	border-top: 	1px solid #CCCCCC;
	height: 		1px;
	margin-top: 	7px;
	margin-bottom: 	7px;
	width: 			180px;	
}

#contentArea #innerContent #leftContent #topBar {

	background: 		url('/images/layout/topLeftBar.png') repeat-x;
	height: 			42px;
	color: 				#FFFFFF;
	font-size: 			11pt;
	text-align: 		center;
}

#contentArea #innerContent #leftContent #topBar a {

	font: 			11px/15px Tahoma, Arial, Helvetica, sans-serif;
	color: 			#E8A014;
	font-size: 		12pt;
	font-weight: 	bold;
	position: 		relative;
	top: 			12px
}

#contentArea #innerContent #leftContent #topBar span {

	position: 	relative;
	top: 		12px
}

#contentArea #innerContent #leftContent #topBar img {

	position: 	relative;
	top: 		-5px;	
}

#contentArea #innerContent #leftContent #topBar .generalCredit {

	text-transform: 	uppercase;
}

#contentArea #innerContent #leftContent #topBar .positiveCredit {

	margin-top: 	10px;
	color: 			#4444DD;
	font-size: 		11pt;
	font-weight: 	bold;
}

#contentArea #innerContent #leftContent #topBar .negativeCredit {

	color: 			#DD4444;
	font-size: 		11pt;
	font-weight: 	bold;
}

#contentArea #innerContent #rightContent {

	width: 			799px;
	border-top: 	1px solid #FFFFFF;
	border-right: 	1px solid #909090;
	background: 	#FFFFFF;
}

#contentArea #innerContent #rightContent #topMenu {

	background: 	url('/images/layout/topRightBar.png') repeat-x;
	height: 		42px;
	padding-left: 	30px;	
}

#contentArea #innerContent #rightContent #topMenu a {

	position: 			relative;
	font-size: 			13px;
	color: 				#FFFFFF;
	font-weight: 		bold;
	text-decoration: 	none;
	top: 				12px;
	padding-top: 		12px;
	padding-bottom: 	13px;
	padding-right: 		19px;
	padding-left: 		15px;
	background: 		url('/images/layout/topMenuBg.png') no-repeat top right;	
}

#contentArea #innerContent #rightContent #topMenu a:hover {

	color: 				#E8A014;
	background: 		url('/images/layout/topMenuBg.png') no-repeat bottom right;
}

#contentArea #innerContent #rightContent #topMenu a.lastItem {

	background: 		url('/images/layout/topMenuBg.png') no-repeat top left;	
}

#contentArea #innerContent #rightContent #topMenu a:hover.lastItem {

	color: 				#E8A014;
	background: 		url('/images/layout/topMenuBg.png') no-repeat bottom left;
}

#contentArea #innerContent #rightContent #middleContent {

	
}

#contentArea #innerContent #rightContent #middleContent .innerContent {

	margin: 	15px;
}

.commonBar {

	clear: 			both;
	background: 	url('/images/layout/commonBar.png') repeat-x;
	height: 		25px;
	border-bottom: 	1px solid #404040;
}

.commonBar span {

	position: 		relative;
	top: 			3px;
	left: 			10px;
	font-weight: 	bold;
}

input {

	color: 			#606060;
	padding-left: 	3px;
}

select {

	font-size: 		8pt;
	height: 		19px;
	padding: 		1px;
	text-align: 	left;
	border:			1px solid #8A8A8A;
}

.tabbarFooterInfo {

	margin: 	5px 7px 10px 20px;
}

#footer {

	clear: 			both;
	height: 		50px;
	padding: 		20px 0px 0px 0px;
	background: 	url('/images/layout/footerBg.gif') repeat-x;
}