/* CSS Document */

body{
	padding:0px;
	margin:0px;
	font:11px/15px Tahoma, Arial, Helvetica, sans-serif;
	color:#333333;
	line-height:16px;
	background:#FFFFFF;
}

td{
	font:11px/15px Tahoma, Arial, Helvetica, sans-serif;
	color:#333333;
	line-height:16px;
	font-weight:normal;
}
img, div, input { behavior: url("/js/iepngfix.htc"); }

div, h1, h2, h3, h4, p, img, ul, ol, li, form, input, textarea{
	padding: 		0;
	margin: 		0;
	}
p{
	padding: 		0 0 8px 0;
	margin: 		0;
	}
ul {
	list-style: 		none;
	}
img {
	outline: 		none;
	border: 		none;
	}

a {

	outline: 			none;
	text-decoration: 	none;
	color: 				#000000;
}

a:hover {

	color: 	#F32126;
}

a.white {

	outline: 			none;
	text-decoration: 	none;
	color: 				#FFFFFF;
}

a.white:hover {

	color: 	#f32126;
}



/*-------------------       header      --------------*/

.header_bg{ background:url('/images/frontend/layout/header_bg.gif') left top repeat-x;}

.bestpoker_text{ 
	color:#FFFFFF;
	font:18px Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	}

.visit{
	font-size:12px;
	color:#67A9C1;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	}

.visit a{
	font-size:12px;
	color:#67A9C1;
	text-decoration:underline;
	}

.visit a:hover{
	color:#ffffff;
	text-decoration:none;
	}
	
	

.red_bg{
border:#000000 1px solid;
height:50px;
background:url(/images/frontend/layout/red_bg.gif) left top repeat-x;}


.star_bg{ 
border:#000000 1px solid;
width:251px;
height:50px;
background:url(/images/frontend/layout/gray_stars.gif) left top no-repeat;
}

.score_text{ 
	color:#FFFFFF;
	line-height:17px;
	font:14px Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-decoration:none;
	text-transform:uppercase;
	}

.yellow_stars{
background:url(/images/frontend/layout/yellow_stars.gif) left top no-repeat;
height:50px;
}

/*--------------------  menu ------------------------------*/


.menu_bg{ background:url(/images/frontend/layout/menu_bg.gif) left top repeat-x;}

.menu a{
	font-size:12px;
	color:#555555;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	}

.menu a:hover, .menu a.active{
	color:#222222;
	text-decoration:none;
	}
	
.border_menu_left{ border-left:#1A1A1A 1px solid;}
.border_menu_right{ border-right:#393838 1px solid;}




/*--------------------  left side ------------------------------*/


.poker a{ 
	padding:5px 0px 5px 28px;
	margin:0px;
	display:block;
	color:#333333;
	font-size:11px;
	text-decoration:none;
	background:url(/images/frontend/layout/arrow.gif) left center no-repeat;
	}
.poker a:hover{ 
	color:#f32126;
	text-decoration:none;
	}

.poker_heading{
	padding:6px 0px 19px 0px;
	color:#d21d24;
	font-size:13px;
	font-weight:bold;
	text-transform:uppercase;
	border-bottom:#999999 2px solid;
}


/*--------------------  welcome ------------------------------*/

.welcome_bg{
	color:#5E5454; 
	background:#FFFFFF;
	padding:1px;
	border: 1px solid #000000
	}
	
.welcome_bg2{
	color:#FF0000; 
	background:#14310F;
	line-height:15px;
	border:#000000 1px solid;
	}


/*--------------------  online poker rooms ------------------------------*/


.onlinepokerrooms_bg{ 
	background:#FFFFFF;
	padding:1px;
	border: 1px solid #000000
	}
	
.onlinepokerrooms_bg2{
	
	color: 			#d11e21; 
	background: 	#e9e9e9;
	line-height: 	15px;
}
	
.rank_heading td{
	padding:3px 0 3px 10px ;
	font-size:12px;
	line-height:27px;
	color:#F0F0F0;
	font-weight:bold;
	background:#5a5a5a;	 
	}
	
.boxcontent td{
	padding: 		3 10 3 10 ;
	color: 			#000000;	 
	background: 	#C0C0C0;	 
}

.boxcontentOver td{
	padding: 		3 10 3 10 ;
	color: 			#000000;	 
	background: 	#AAAAAA;	 
}

.boxcontent td a:hover, .boxcontentOver td a:hover {

	color: 	#FFFFFF;
}

 .readreviewlink{
	font-size:12px;
	color:#BABABA;
	line-height:20px;
	text-decoration:none;
	}

.readreviewlink:hover{
	color:#ffffff;
	text-decoration:underline;
	}	
	
.gray_border{
border-left:#2E2E2E 2px solid;}

.gray_border2{
border:#2E2E2E 1px solid;}

.gold_text{ 
	color:#5E5E5E;
	font:16px Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration:underline;
	}
	
.onlinepoker_bg{
	background:#1D1C18;
	padding:4px;
}

.gray_border3{
	border:#5a5a5a 1px solid;
}

.white_bg{
	background:#FFFFFF;
	padding:1px;
	}
	
.white_bg2{
	background:#FFFFFF;
	border:#8A8A8A 1px dotted;
	padding:5px;
	}
		
.sky_text{
color:#176BB2;
font-size:12px;
font-weight:bold;
}
	
.black_text{
color:#1B1A1A;
line-height:14px;
}


/*--------------------  footer ------------------------------*/

.footer{
	color:#000000;
	background:url(/images/frontend/layout/footer_bg.gif) left top repeat-x;
}

.footer a{
	font-size:11px;
	color:#000000;
	text-decoration:none;
	}

.footer a:hover{
	color:#f32126;
	text-decoration:underline;
	}
	
.footer_text{
color:#666666;
}


.playpoker_text{
color:#C7C8C6;
}