.formLoading {
	
	float: 			left;
	width: 			200px;
	height: 		25px;
	font-weight: 	normal;
	display: 		none;
	margin-top: 	0px;
	margin-top: 	-3px !ie;
	margin-left: 	10px;
}

.formLoading .message {
	
	float: 			left;
	margin-top: 	5px;
	margin-left: 	6px;
	color: 			#AAAAAA;
}

.formLoading .image {
	
	float: 			left;
	margin: 		4px;
}