.formLoading {

	float: 			right;
	height: 		25px;
	font-weight: 	normal;
	margin-top: 	0px;
	margin-top: 	-3px !ie;
	margin-left: 	10px;
	margin-left: 	10px;
	display: 		none;
}

.formLoading .message {
	
	float: 			left;
	margin-top: 	3px;
	margin-left: 	6px;
	color: 			#333333;
}

.formLoading .image {
	
	float: 			left;
	margin: 		4px;
}