* {

	font-family: 	Verdana, Arial, sans-serif;
	font-size: 		8pt;
}

body {
	
	width: 			100%;
	height: 		100%;
	margin: 		0px;
	background: 	#040404 url('/images/frontend/layout/alternativeBg.png') left top repeat-x;
	background: 	#222224 url('/images/frontend/layout/mainBg.png') center top no-repeat;
}

form {

	margin: 	0px;	
}

a {

	text-decoration: 	none;
}

.mainTop {
	
	background: 	url('/images/frontend/layout/mainTop.png') center top no-repeat;
	width: 			965px;
	height: 		88px;
	margin-left: 	150px;
	margin-top: 	38px;
	margin-top: 	50px;
}

.mainContent {
	
	margin-left: 	150px;
}

.home {
	
	clear: 	both;
	width: 	965px;
}


.homeLink {
	
	float: 			right;
	margin-top: 	20px;
	margin-right: 	40px;
}

.homeLink a {

	font-weight: 	bold;
	color: 			#F0F0F0;	
}

.topMenu {

	margin-top: 	30px;
	margin-left: 	300px	
}

.topMenu .item {
	
	float: 			left;
	padding: 		0 15 0 15;
	background: 	url('/images/frontend/layout/menuItemSeparator.gif') no-repeat;
	font-weight: 	bold;
}

.topMenu .item a {
	
	color: 	#6E6E6E;
}

.topMenu .item a:hover {
	
	color: 	#F0F0F0;
}

.mainContent {
	
	width: 			965px;
	background: 	#1D1D1D;
}

.mainContent .leftPanel {
	
	float: 			left;
	width: 			250px;
	background: 	#262628;
}

.mainContent .pathIndicator {
	
	width: 			945px;
	width: 			965px !ie;
	height: 		23px;
	height: 		30px !ie;
	background: 	#C0C0C0 url('/images/frontend/layout/pathBg.png');
	font-size: 		10pt;
	font-weight: 	bold;
	color: 			#E0E0E0;
	padding: 		7 0 0 20;
	padding: 		0px !ie;
}

.mainContent .pathIndicator .pageTitle {

	margin: 0px;
	margin: 7 0 0 20 !ie;
}

.mainContent .rightPanel {
	
	float: 			right;
	width: 			715px;
	background: 	#1E1E20;
}

.footer {

	clear: 					both;
	width: 					965px;
	height: 				90px;
	background: 			#222224;
}