.mainLoading {
	
	position: 				fixed;
	width: 					400px;
	height: 				45px;
	top: 					0px;
	right: 					0px;
	background: 			#D0D0D0;
	border-left: 			1px solid #000000;
	border-bottom: 			1px solid #000000;
	color: 					#667076;
	font-weight: 			bold;
	z-index: 				2;
	display: 				none;
}

.mainLoading .message {
	
	float: 			left;
	margin-top: 	10px;
	margin-left: 	12px;
}

.mainLoading .image {
	
	float: 			left;
	margin-top: 	5;
	margin-left: 	8px;
}

.mainLoading a {
	
	text-decoration: 	none;
	font-size: 			8pt;
	color: 				#81571F
}



.formLoading {

	float: 			right;
	height: 		25px;
	font-weight: 	normal;
	margin-top: 	0px;
	margin-top: 	-3px !ie;
	margin-left: 	10px;
	margin-left: 	10px;
	display: 		none;
}

.formLoading .message {
	
	float: 			left;
	margin-top: 	3px;
	margin-left: 	6px;
	color: 			#333333;
}

.formLoading .image {
	
	float: 			left;
	margin: 		4px;
}