.menu img {
	
	margin: 	-10 10 0 3;
}

.menu .topLeft {
	
	height: 		44px;
	background: 	url('/images/mobile/layout/menuTopLeft.png') no-repeat
}

.menu .middle {
	
	height: 		44px;
	background: 	url('/images/mobile/layout/menuBg.png');
}

.menu .topRight {
	
	height: 		44px;
	background: 	url('/images/mobile/layout/menuTopRight.png') no-repeat
}

.menu .left {
	
	height: 		44px;
	background: 	url('/images/mobile/layout/menuLeft.png') no-repeat
}

.menu .right {
	
	height: 		44px;
	background: 	url('/images/mobile/layout/menuRight.png') no-repeat
}

.menu .baseLeft {
	
	height: 		44px;
	background: 	url('/images/mobile/layout/menuBaseLeft.png') no-repeat
}

.menu .base {
	
	height: 		44px;
	background: 	url('/images/mobile/layout/menuBaseBg.png');
}

.menu .baseRight {
	
	height: 		44px;
	background: 	url('/images/mobile/layout/menuBaseRight.png') no-repeat
}

.menu .label {
	
	font-size: 		12pt;
	color: 			#000000;
	font-weight: 	bold;
	padding-top: 	1px
}






















.tableMenu td {
	
	border-bottom: 	1px solid #C0C0C0;
	font-size: 		11pt;
	color: 			#000000;
	font-weight: 	bold;
	height: 		43px;
	padding-left: 	10px;
	background: 	#FFFFFF url('/images/mobile/form/arrow.png') no-repeat right;
	overflow: 		hidden;
}

.tableMenu td span {
	
	font-size: 		7.5pt;
	font-weight: 	normal;
}

.tableMenu .option {
	
	border-left: 	1px solid #c7c7c7;
	border-right: 	1px solid #c7c7c7;	
}

.tableMenu .firstLine {
	
	border-top: 	0px solid;	
}

.tableMenu .lastLine {
	
	border-bottom: 	0px solid;
}


.gridTable th {
	
	border-bottom: 	1px solid #C0C0C0;
	font-size: 		9pt;
	color: 			#000000;
	font-weight: 	bold;
	height: 		45px;
	padding-left: 	10px;
	overflow: 		hidden;
	background: 	#FFFFFF;
}

.gridTable td {
	
	border-bottom: 	1px solid #C0C0C0;
	font-size: 		9pt;
	color: 			#000000;
	font-weight: 	normal;
	height: 		43px;
	padding-left: 	10px;
	overflow: 		hidden;
	background: 	#FFFFFF;
}

.gridTable td input {
	
	font-size: 		10pt;
	height: 		20px;
	border:			0px solid #FFFFFF;
	padding: 		2 0 1 3;
	background: 	url('/images/mobile/form/fieldBg.png');
}

.gridTable td span {
	
	font-size: 		7.5pt;
	font-weight: 	normal;
}

.gridTable .hiddenColumn {
	
	display: 	none;
}