.commonBar {
	
	clear: 			both;
	background: 	#FFFFFF;
	height: 		25px;
	border-bottom: 	1px solid #CDCDCD;	
}

.commonBar .home {
	
	float: 			left;
	height: 		25px;
	width: 			35px;
	overflow: 		hidden;
	cursor: 		pointer;
	background: 	url('/images/layout/commonBarIcons.png') center center no-repeat;
}

.commonBar .path {
	
	float: 			left;
	color: 			#6A6A6A;
	font-size: 		11px;
	padding: 		3px 16px 5px 2px;
	background: 	url('/images/layout/commonBarArrow.png') right center no-repeat;
	cursor: 		default;
}

.commonBar .path.link {

	cursor: 		pointer;
}

.commonBar .path.link.hover {
	
	color: 	#202020;
}

.commonBar .path.last {
	
	background: 	none;
	color: 			#303030;
}

.commonBar .path a {
	
	color: 	#6A6A6A;
	text-decoration: 	none;
}

.commonBar .path a:hover {
	
	color: 				#303030;
	text-decoration: 	underline;
}

.commonBarSpacer {
	
	height: 		7px;
	background: 	#F0F0F0;
	border-bottom: 	5px solid #FFFFFF;
}