.eventLiveResumeArea {
	
	position: 		relative;
	width: 			385px;
	margin-top: 	20px;
	left: 			2px;
}

.eventLiveResume.logged {

	display: block;
}

.eventLiveResumeArea .eventLiveResume {
	
	position: 			relative;
	top: 				4px;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList {
	
	float: 		left;
	position: 	relative;
	left: 		4px;
	top: 		2px;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList h1 {

	width: 								190px;
	font-size: 							15px;
	text-align: 						center;
	color: 								#337495;
	
	padding: 							4px 5px 3px 5px;
	margin: 							0 auto;
	margin-bottom: 						1px;
	background: 						#FFFFFF;
	z-index: 							1;
	position: 							relative;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLiveResumeList {

	border-top: 	1px solid #337495;
	padding-top: 	10px;
	z-index: 		0;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive {

	position: 		relative;
	width: 			370px;
	height: 		81px;
	margin-bottom: 	8px;
	border: 		1px solid #b5ccd6;
	padding: 		3px 5px 5px 3px;
	cursor: 		pointer;
	
	-webkit-touch-callout: 	none;
	-webkit-user-select: 	none;
	-khtml-user-select: 	none;
	-moz-user-select: 		none;
	-ms-user-select: 		none;
	-o-user-select: 		none;
	user-select: 			none;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive .title {

	clear: 			both;
	font-weight: 	bold;
	font-size: 		15px;
	position: 		absolute;
	top: 			5px;
	left: 			93px;
	color: 			#344F7C;
	text-shadow: 	#FFFFFF 1px 1px;
	white-space: 	nowrap;
	overflow: 		hidden;
	width: 			280px;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive .image {

	position: 	absolute;
	top: 		2px;
	left: 		2px;
	width: 		65px;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive .image img {

	width: 		85px;
	height: 	85px
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive .eventInfo {

	position: 	relative;
	height: 	50px;
	top: 		21px;
	left: 		88px;
	width: 		282px;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive .when {

	position: 		absolute;
	left: 			3px;
	font-size: 		11px;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive .where {

	position: 		absolute;
	font-size: 		12px;
	top: 			18px;
	left: 			3px;
	overflow: 		hidden;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive .howMuch {

	position: 		absolute;
	left: 			8px;
	top: 			42px;
	font-size: 		12px;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive .howMuch label {

	font-weight: 	bold;
	font-size: 		11px;
	margin-right: 	3px;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive .howMuch span {

	padding-right: 	16px;
	font-size: 		11px;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive .ranking {

	position: 		absolute;
	right: 			8px;
	top: 			0px;
	font-size: 		12px;
	width: 			100px;
	overflow: 		hidden;
	white-space: 	nowrap
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive .presence {

	position: 				absolute;
	top: 					0px;
	right: 					0px;
	float: 					right;
	border: 				1px solid #b5ccd6;
	-moz-border-radius: 	3px;
	-webkit-border-radius: 	3px;
	border-radius: 			3px;
	padding-left: 			19px;
	padding-bottom: 		2px;
	background: 			#FFFFFF url('/images/home/presenceToYes.png') 3px center no-repeat;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive .presence.hover,
.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive .presence.yes.hover {

	background-color: 	#FFFFFF
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive .presence.yes {

	background: 	#FFFFFF url('/images/home/presenceYes.png') 3px center no-repeat;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive .presence a {

	margin-left: 		5px;
	margin-right: 		5px;
	color: 				#5C6377;
	text-decoration: 	none;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive .presence a.yes {

	margin-left: 	5px;
	margin-right: 	5px;
	color: 			#44780E;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive.next {

	background: 	#FFFFFF;
    background-image: 	-o-linear-gradient(#FFFFFF, #D2E3EA);
    background: 	-moz-linear-gradient(top, #FFFFFF, #D2E3EA);;
    background: 	-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D2E3EA));
    filter: 		progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#D2E3EA', GradientType=0);
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive.next.hover,
.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive.previous.hover,
.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive.previous.pending.hover {

	background: 	#FFFFFF;
    background-image: 	-o-linear-gradient(#FFFFFF, #b9ccd8);
    background: 	-moz-linear-gradient(top, #FFFFFF, #b9ccd8);;
    background: 	-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#b9ccd8));
    filter: 		progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#b9ccd8', GradientType=0);
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive.previous {

	background: 		#DEEAEF;
	background-repeat: 	no-repeat;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive.previous.pending {

	background: 	#DEEAEF url('/images/home/podiumAlert.png') 2px center no-repeat;
}

.eventLiveResumeArea .eventLiveResume .eventLiveList .eventLive.noEvent {

	border: 			1px solid #D0D0D0;
    background: 		#FFFFFF;
    background-image: 	-o-linear-gradient(#FFFFFF, #F0F0F0);
    background: 		-moz-linear-gradient(top, #FFFFFF, #F0F0F0);;
    background: 		-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    filter: 			progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#F0F0F0', GradientType=0);	
}

.eventLiveResumeArea .eventLiveResume .loadEvents {

	clear: 			both;
	position: 		relative;
	top: 			0px;
	left: 			4px;
	width: 			363px;
	padding: 		2px 10px 2px 5px;
	cursor: 		pointer;
	text-align: 	right;
	border: 		1px solid #DADADA;
	
	
	background: 		#FFFFFF;
    background-image: 	-o-linear-gradient(#FFFFFF, #F0F0F0);
    background: 		-moz-linear-gradient(top, #FFFFFF, #F0F0F0);;
    background: 		-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    filter: 			progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#F0F0F0', GradientType=0);
}

.eventLiveResumeArea .eventLiveResume .loadEvents a {

	color: 			#5C6377;
	font-size: 		12px;
}