.eventLiveCalendar {
	
	position: relative;
	left: 20px;
	top: 10px;
	border: 1px solid #DADADA;
}

.eventLiveCalendar th {
	
	width: 105px;
	text-align: center;
	padding: 	2px 0;
	border-bottom: 1px solid #C0C0C0
}

.eventLiveCalendar td {
	
	position: relative;
	height: 130px;
	border-top: 1px solid #FAFAFA;
	border-left: 1px solid #FAFAFA;
	border-bottom: 1px solid #DADADA;
	border-right: 1px solid #DADADA;
	background: #F5F5F5;
}

.eventLiveCalendar td.otherMonth { background: #FAFAFA }

.eventLiveCalendar td.last {
	
	border-right: none;
}

.eventLiveCalendar .last td {
	
	border-bottom: none;
}

.eventLiveCalendar .header td { height: 40px}
.eventLiveCalendar .weekend { color: #B00000 }
.eventLiveCalendar td h3,
.eventLiveCalendar td h6 { font-size: 14px; padding: 0px; margin: 0px; width: 100%; text-align: center }

.eventLiveCalendar td h3 { font-size: 18px; padding: 0px; margin: 0px; color: #606060; text-shadow: #FAFAFA 1px 1px  }

.eventLiveCalendar .currentMonth .calendarDay,
.eventLiveCalendar .otherMonth .calendarDay { display: block; font-size: 30px; color: #DADADA; position: relative; top: -50px; left: 3px }

.eventLiveCalendar .eventList { display: block; font-size: 30px; color: #DADADA; position: absolute; margin-top: -40px; margin-left: 2px; height: 95px; overflow: hidden; }
.eventLiveCalendar .eventList .eventLive { width: 95px; font-size: 10px; color: #505050; border-top: 1px solid #D0D0D0 }
.eventLiveCalendar .eventList .eventLive a { color: #505050; text-decoration: none }
.eventLiveCalendar .eventList .eventLive a:hover { color: #C91E1E }