#leftMenu {

    margin-top: 	10px;
    margin-bottom: 	10px;	
}

#leftMenu .item {
	
    background: 		#E0E0E0;
    background-image: 	url(/images/layout/leftMenuBg.png), -moz-linear-gradient(top, #E6E6E6, #D6D6D6);
    background-image: 	url(/images/layout/leftMenuBg.png), -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#D6D6D6));
    filter: 			progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#E6E6E6', EndColorStr='#D6D6D6', GradientType=0);
    background-repeat: 	repeat-y;
    height: 			30px;
    border-top: 		1px solid #EAEAEA;
    border-bottom: 		1px solid #CDCDCD;
    cursor: 			pointer;
}

#leftMenu .item.hover {

    background-image: 	url(/images/layout/leftMenuHoverBg.png), -moz-linear-gradient(top, #E6E6E6, #D6D6D6);
    background-image: 	url(/images/layout/leftMenuHoverBg.png), -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#D6D6D6));
}

#leftMenu .item.active {

    background-image: 	url(/images/layout/leftMenuDistinctBg.png), -moz-linear-gradient(top, #E6E6E6, #D6D6D6);
    background-image: 	url(/images/layout/leftMenuDistinctBg.png), -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#D6D6D6));
}

#leftMenu .item.stats {

    background-image: 	url(/images/layout/leftMenuDistinctBg.png), -moz-linear-gradient(top, #E6E6E6, #D6D6D6);
    background-image: 	url(/images/layout/leftMenuDistinctBg.png), -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#D6D6D6));
}

#leftMenu .item .label {

	margin-left: 	15px;
	margin-top: 	6px;
	font-weight: 	normal;
	color: 			#303030;
	height: 		18px;
}

#leftMenu .item.active .label {

	font-weight: 	bold;
	color: 			#A42200;
}

#leftMenu .item .label.icon {

	padding-left: 			24px;
}

#leftMenu .item .label.stats {

	background: 	url(/images/layout/leftMenu/stats.png) center left no-repeat;
}

#leftMenu .item .label.config {

	background: 	url(/images/layout/leftMenu/config.png) center left no-repeat;
}

#leftMenu .separator {

	margin-top: 	5px;
}



















