#houseList {

	margin-left: 	20px;
	padding: 		30px 30px 30px 15px;	
}

#houseList .house {

	clear: 			both;
	margin-bottom: 	35px;
	height: 		130px;
}

#houseList .house .logo {

	float: 	left;
}

#houseList .house .info {

	float: 					left;
	width: 					550px;
	height: 				128px;	
	border-radius: 			4px;
	-moz-border-radius: 	4px;
	-webkit-border-radius: 	4px;
	border: 				1px solid #DADADA;
	
    background: 			-moz-linear-gradient(top, #F0F0F0, #FFFFFF);
    background: 			-webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#FFFFFF));
    filter: 				progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#F0F0F0', EndColorStr='#FFFFFF', GradientType=0);
    
    margin-left: 	10px;
}

#houseList .house .info .profile {

	float: 	left;
	width: 	420px;
}

#houseList .house .info .links {

	float: 	left;
}

#houseList .house .info .links .link {

	margin: 				20px 10px 10px 10px;
	padding: 				5px 10px 5px 10px;
	font-size: 				16px;
	font-weight: 			bold;
	font-family: 			Verdana;
	text-align: 			center;
	background: 			#D0D0D0;
	border: 				1px solid #BABABA;
	border-radius: 			4px;
	-moz-border-radius: 	4px;
	-webkit-border-radius: 	4px;
}

#houseList .house .info .links .link.hover {

	background: 	#FFFFFF;
	cursor: 		pointer;
}

#houseList .house .info .profile h1 {

	position: 		relative;
	margin: 		10px 0px 15px 14px;
	padding: 		0px;
	font-size: 		24px;
	font-weight: 	bold;
	font-family: 	Verdana;
	text-shadow: 	white 1px 1px;
}

#houseList .house .info .profile h1 a {

	position: 		absolute;
	margin-left: 	30px;
	margin-top: 	0px;
	font-size: 		12px;
	text-shadow: 	none;
}

#houseList .house .info .profile .address {

	clear: 			both;
	height: 		24px;
	font-size: 		18px;
	margin-left: 	20px
}

#houseList .house .info .profile .address a {

	margin-left: 		10px;
	font-size: 			14px;
	text-shadow: 		none;
	text-decoration: 	none;
}

#houseList .house .info .profile .address a:hover {

	text-decoration: 	none;
	color: 				#FA0000;
}

#houseList .house .info .profile .address img {

	margin-left: 	10px;	
	margin-right: 	10px	
}

#houseList .house .info .profile .phoneList {

	clear: 		both;
	height: 	25px;
	margin: 	5px 0px 0px 13px
}

#houseList .house .info .profile .phoneList .phone {

	float: 			left;
	margin-right: 	4px;
	background: 	#909090;
	color: 			#FFFFFF;	
	padding: 		3px 5px 3px 5px;
	font-family: 	Verdana;
	font-size: 		12px;
	font-weight: 	bold;	
}