#eventPhotoBackDiv {

	display: 	none;
	margin: 	3px;
	padding: 	5px;
}

#eventPhotoPreviewDiv {

	margin: 		3px;
	width: 			282px;
	display: 		none;	
	padding: 		5px;
	background: 	#FFFFFF;
	border: 		1px solid #BBBBBB;
}

td.eventPhotoTable {
	
	padding: 		5px;
	padding: 		5px 5px 3px 5px !ie;
	background: 	#FFFFFF;
	border: 		1px solid #BBBBBB;
	
	filter: 		alpha(opacity=75);
	-moz-opacity: 	0.75;
	opacity: 		0.75;
}

td.eventPhotoTable.hover {
	
	cursor: 		pointer;
	filter: 		alpha(opacity=100);
	-moz-opacity: 	1;
	opacity: 		1;
}

.eventPhotoTable td img {
	
	
}

.eventPhotoTable .commentImage, .eventPhotoTableOver .commentImage {
	
	display: 		none;
	position: 		absolute;
	margin-left: 	60px;
	margin-top: 	40px;
}

h1.photoContestPosition {

	margin-right: 	20px;
	font-size: 		28px;
	color: 			#336b83;
	text-shadow: 	#10354a 1px 1px;
}