.userInfo {

	margin: 		0px 0px 5px 20px;
	padding-top: 	10px;
}

#quickResume {
	
	position: 				relative;
	top: 					5px;
	left: 					5px;
	width: 					187px;
	padding-bottom: 		6px;
	background: 			#D8D8D8 url('/images/loginBg.png') repeat-x;
	border: 				1px solid #C0C0C0;
	-moz-border-radius: 	7px;
	-webkit-border-radius: 	7px;
	border-radius: 			7px;
}

#quickResume h1 {

	font-size: 		13px;
	font-weight: 	bold;
	margin: 		0px;
	padding: 		0px;
	margin: 		5px 0px 0px 11px
}

#quickResume .row {

	clear: 		both;
	height: 	20px;
}

#quickResume .row .label,
#quickResume .row .value {

	float: 			left;
	width: 			70px;
	margin-top: 	3px;
	margin-left: 	30px;
	text-align: 	left;
	font-size: 		11px;
	text-align: 	right;
}

#quickResume .row .label {

	width: 			50px;
	font-weight: 	bold;
	text-align: 	left;
	margin-left: 	20px;
}

#quickResume .separator {

	clear: 			both;
	width: 			100%;
	border-top: 	1px solid #CACACA;
	border-bottom: 	1px solid #EEEEEE;
	margin-top: 	6px;
	margin-bottom: 	4px;
}

.logout {

	margin-top: 	10px;
	margin-right: 	15px;
	text-align: 	right;
}

.logout a {

	text-decoration: 	none;
	color: 				#C91E1E
}






#contentArea #mainContent #topMenu .distinct .generalCredit {

	position: 			relative;
	top: 				20px;
	height: 			42px;
	font-size: 			11pt;
	text-align: 		center;
}

#contentArea #mainContent #topMenu .distinct .generalCredit .label {

	text-transform: 	uppercase;
	color: 				#FFFFFF;
}

#contentArea #mainContent #topMenu .distinct .generalCredit .credit {

	margin-top: 	10px;
	color: 			#DD4444;
	font-size: 		11pt;
	font-weight: 	bold;
}

#contentArea #mainContent #topMenu .distinct .generalCredit .credit.positive {

	color: 			#4444DD;
}

#contentArea #mainContent #topMenu .distinct .generalCredit .credit.negative {

	color: 			#DD4444;
}