#leftMenu .subitem .label.unsubscribe {

	background: 	url(/images/layout/leftMenu/unsubscribe.png) center left no-repeat;
}

.classifyTable a {
	color: #303030;
}

.itsMe td,
.itsMe td a {
	font-weight: bold;
	color: #C91E1E
}