.searchTable {

	width: 					770px;	
	margin: 				12px 7px 7px 8px;
	background: 			#C8C8C8 url('/images/searchTableBg.png') repeat-x;
	border: 				1px solid #B0B0B0;
	-moz-border-radius: 	7px;
	-webkit-border-radius: 	7px;
	border-radius: 			7px;
	padding: 				0px 2px 2px 2px;
}

.searchTable .header th {
	
	font-weight: 	bold;
	border-left: 	1px solid #C3C6CE;
	padding-left: 	6px;
	height: 		30px;
	text-align: 	left;
	text-shadow: 	white -1px 1px;
}

.searchTable .header th.first {

	border-left: 	none
}

.searchTable tr {

}

.searchTable td {
	
	background: 	#FFFFFF;
	white-space: 	nowrap;
	padding-left: 	7px;
	padding-right: 	4px;
	border-left: 	1px solid #E0E0E0;
	height: 		26px;
	border-top: 	1px solid #FFFFFF;
	border-bottom: 	1px solid #C0C0C0
}

.searchTable .odd td {

	background: 	#F0F0F0
}

.searchTable td.icon {
	
	padding: 		0px 0px 4px 0px;
	height: 		0px;
	width: 			30px;
	text-align: 	center;
	border-left: 	none;
}

.searchTable td.noBorder,
.searchTable th.noBorder {
	
	border-left: 	none;
}

.searchTable .hover td {
	
	background: 	#f6b957;
	background: 	#b4ccf3;
	cursor: 		pointer;
	color: 			#000000;
	text-shadow: 	none;
}

.searchTable .hover.green td {
	
	background: 	#DEF280;
	cursor: 		pointer;
	color: 			#000000;
}

.searchTable td img {
	
	position: 	relative;
	top: 		2px;
}

.searchTable td.first {

	width: 			100px;
	text-align: 	center;
}

.searchTable td.buyin {

	text-align: 	right;
}

.searchTable td.info {
	
	text-align: 	center;
	padding-left: 	3px;
	padding-right: 	3px;
}

.searchTable .last .info {
	
	-moz-border-bottom-right-radius: 		7px;
	-webkit-border-bottom-right-radius: 	7px;
	border-bottom-right-radius: 			7px;
}

.searchTable .last .first {
	
	-moz-border-bottom-left-radius: 	7px;
	-webkit-border-bottom-left-radius: 	7px;
	border-bottom-left-radius: 			7px;
}

.searchTable .freeroll td.buyin {

	color: 			#C91E1E;
	font-weight: 	bold;
}

.searchTable td.footer {
	
	background: 	none;
	padding-top: 	20px;
}

.searchTable .intro {

	padding-left: 	30px;
}

.recordCount {

	color: 	#F80000;
	font-weight: bold;
}

#windowLocker {

	position: 				fixed;
	top: 					0px;
	left: 					0px;
	background: 			#000000;
	filter: 				alpha(opacity=45);
	-moz-opacity: 			0.45;
	-khtml-opacity: 		0.45;
	opacity: 				0.45;
	width: 					100%;
	z-index: 				1000000;
	height: 				100%;
	display: 				none;
}

#quickEventLiveDetail {

	display: 			none;
    background: 		#FFFFFF;
    background-image: 	-o-linear-gradient(#FFFFFF, #EAEAEA);
    background: 		-moz-linear-gradient(top, #FFFFFF, #EAEAEA);
    background: 		-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EAEAEA));
    filter: 			progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#EAEAEA', GradientType=0);
	position: 			absolute;
	margin: 			auto 130px;
	width: 				500px;
	height: 			125px;
	z-index: 			1000001;
	border: 			7px solid #A0A0A0;
	
	filter: 				alpha(opacity=90);
	-moz-opacity: 			0.90;
	-khtml-opacity: 		0.90;
	opacity: 				0.90;
	
	-moz-border-radius: 	5px;
	-webkit-border-radius: 	5px;
	border-radius: 			5px;
}

#quickEventLiveDetail .quickEventClose {

	position: 		relative;
	top: 			-16px;
	left: 			492px;
	margin-bottom: 	-24px;
	background: 	url('/images/icon/close24.png') no-repeat;
	width: 			24px;
	height: 		24px;
	cursor: 		pointer;
}

#quickEventLiveDetail h1 {

	margin: 		7px 10px 9px 10px;
	padding: 		0px;
	font-size: 		14px;
	color: 			#C91E1E;
}

#quickEventLiveDetail h2 {

	margin: 		5px 0px 0px 10px;
	width: 			300px;
	padding: 		0px;
	font-size: 		13px;
	color: 			#333333;
	font-weight: 	normal
}

#quickEventLiveDetail h3 {

	margin: 		15px 0px 0px 10px;
	width: 			300px;
	padding: 		0px;
	font-size: 		11px;
	color: 			#333333;
	font-weight: 	normal
}

#quickEventLiveDetail h3 label {

	float: 			left;
	font-weight: 	bold;
	margin-right: 	7px;
}

#quickEventLiveDetail h3 div {

	float: 			left;
	margin-right: 	20px;
}

#quickEventLiveDetail table {

	position: 	absolute;
	top: 		50px;
	left: 		295px;
}

#quickEventLiveDetail table th,
#quickEventLiveDetail table td {

	padding: 		3px 8px;
	text-align: 	center;
	font-weight: 	bold;
}