.defaultForm {

}

.defaultForm fieldset {
	
	-webkit-border-radius: 	5px;
	-moz-border-radius: 	5px;
	border-radius: 			5px;
	background: 			#F6F6F6;
	border: 1px solid 		#ccc;
	padding: 				1% 0%;
	margin: 				0px;
	margin-bottom: 			20px;
}

.defaultForm fieldset legend {

	margin: 		0px 10px;
	font-weight: 	bold;
}

.defaultForm fieldset label.checkbox {

	margin: 			0px 10px;
	font-weight: 		bold;
	text-align: 		left;
	font-weight: 		normal;
	padding-left: 		0px;
	width: 				200px;
	height: 			25px;
	line-height: 		25px;
	text-shadow: 		0 1px 0 #FFFFFF;
	padding-left: 		10px;
	margin: 			0px;
	text-transform: 	none;
}

.defaultForm section {

	clear: 	both;
	height: 25px;
}

.defaultForm label {
	
	display: block;
	float: left;
	width: 120px;
	height: 25px;
	line-height: 25px;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
	padding-left: 10px;
	margin: 0px 0 5px 0;
}

.defaultForm label.checkbox {

	text-align: 	left;
	font-weight: 	normal;
	padding-left: 	0px;
}

.defaultForm .text {

	display: block;
	float: left;
	height: 25px;
	line-height: 25px;
	text-shadow: 0 1px 0 #fff;
	font-weight: normal;
	padding-left: 10px;
	margin: 0px 0 5px 0;
}

.defaultForm .image {
	display: block;
	float: left;
	height: 16px;
	line-height: 16px;
	padding-left: 10px;
	margin: 4px 0 5px 0;
}

.defaultForm .upload {
	display: block;
	float: left;
	height: 16px;
	line-height: 16px;
	padding-left: 10px;
	margin: -1px 0 9px 0;
}

.defaultForm input[type=text],
.defaultForm input[type=password],
.defaultForm input[type=file] {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #BBBBBB;
height: 20px;
color: #303030;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
padding-left: 7px;
padding-right: 7px;
background-position: 10px 6px;
margin: 0;
display: block;
float: left;
margin: 0 10px;
font-size: 12px;
}

.defaultForm input[type=text]:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 7px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 7px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 7px #ADDCE6;
}

.defaultForm input[type=text]:focus.formFieldError {
border: 1px solid #ee6565;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 7px #e6adad;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 7px #e6adad;
box-shadow: inset 0 2px 2px #ccc, 0 0 7px #e6adad;
}

.defaultForm input[type=checkbox] {
	float: 		left;
	margin: 	6px 8px;
}

.defaultForm select {

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	height: 20px;
	color: #303030;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding: 2px 0px 0px 5px;
	background-position: 10px 6px;
	margin: 0;
	display: block;
	float: left;
	margin: 0 10px;
	
	margin: 3px 10px;
	border: 1px solid #bbb;
	height: 20px;
	color: #303030;
}

.defaultForm input[type=text].formFieldError,
.defaultForm .formFieldError {
	
	background-color: 	#f6ccb0;
}

.defaultForm textarea {

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 7px;
	padding-right: 3px;
	padding-top: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	background-position: 10px 6px;
	margin: 0 0.5%;
	display: block;
	float: left;
	width: 96%;
	margin: 0 10px;
	resize: none;
}

.defaultForm textarea:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

.defaultForm .submit_link {
float: right;
margin-right: 3%;
padding: 5px 0;
}

.defaultForm .submit_link select {
width: 150px;
border: 1px solid #bbb;
height: 20px;
color: #666666;
}

#main .module_content h1 {
color: #333333;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 22px;
margin: 8px 0px;
}

#main .module_content h2 {
color: #444444;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 18px;
margin: 8px 0px;
}

#main .module_content h3 {
color: #666666;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 0px;
}

#main .module_content h4 {
color: #666666;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 0px;
}

#main .module_content li {
line-height: 150%;
}

footer {

	text-indent: 	40px;
}

header.error,
footer.error {
display: block;
background: #F3D9D9 url(/images/backend/icn_alert_error.png) no-repeat;
background-position: 10px 5px;
color: #7B040F;
text-indent: 45px;
font-size: 14px;
font-weight: normal}

footer.success {

	display: 				block;
	background: 			url(/images/backend/module_footer_success_bg.png) repeat-x;
	color: 					#333A48;
	text-indent: 			45px;
	font-size: 				14px;
	font-weight: 			normal
}

footer.error {

	display: 				block;
	background: 			url(/images/backend/module_footer_error_bg.png) repeat-x;
	color: 					#483333;
	text-indent: 			45px;
	font-size: 				14px;
	font-weight: 			normal
}

header.formHeader {

	display: 				block;
	margin-top: 			-5px;
	-webkit-border-radius: 	0px;
	-moz-border-radius: 	0px;
	border-radius: 			0px;
	text-indent: 			45px;
	font-size: 				14px;
	font-weight: 			normal;
}

header.success {

	background: 			url(/images/backend/secondary_bar_success.png) repeat-x;
	background-position: 	10px 5px;
	color: 					#333A48;
	margin-top: 			-10px;
	padding-top: 			5px;
}

header.error {

	background: 			url(/images/backend/secondary_bar_error.png) repeat-x;
	background-position: 	10px 5px;
	color: 					#7B040F;
	margin-top: 			-10px;
	padding-top: 			5px;
}

header .formMessage,
footer .formMessage {
	display: none;
	line-height: 30px;
}

header .formMessage.indicator,
footer .formMessage.indicator {
	display: none;
	line-height: 30px;
	background: url(/images/ajaxLoaderForm.gif) no-repeat;
	background-position: 13px 8px;
	text-indent: 45px;
}

header .formMessage.success,
footer .formMessage.success {

	background: url(/images/backend/icn_alert_success.png) no-repeat;
	background-position: 10px 5px;
}

header .formMessage.error,
footer .formMessage.error {

	background: url(/images/backend/icn_alert_error.png) no-repeat;
	background-position: 10px 5px;
}

footer .paginator {
	line-height: 30px;
}

input[type=submit].save_btn,
input[type=button].cancel_btn {

	background: #D0D1D4 url(/images/backend/btn_submit_2.png) repeat-x;
	border: 1px solid #5079af;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	font-weight: bold;
	height: 22px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px;
	color: #0f233d;
	text-shadow: 0 1px 0 #98bff2;
	cursor: pointer;
}

input[type=button].cancel_btn {

	background: #D0D1D4 url(/images/backend/btn_submit.png) repeat-x;
	border: 1px solid #909090;
	color: #303030;
	text-shadow: 0 1px 0 #EAEAEA;
}

input[type=submit].save_btn:hover,
input[type=submit].cancel_btn:hover {
color: #000;
}

input[type=submit].default_btn,
input[type=button].default_btn {

	background: #D0D1D4 url(/images/backend/btn_submit.png) repeat-x;
	border: 1px solid #909090;
	-webkit-box-shadow: 0 1px 0 #F0F0F0;
	-moz-box-shadow: 0 1px 0 #F0F0F0;
	box-shadow: 0 1px 0 #F0F0F0;
	font-weight: bold;
	height: 22px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px;
	color: #000;
	text-shadow: 0 1px 0 #E0E0E0;
	cursor: pointer;
}

.defaultForm .hidden,
#main h4.alert_error.hidden,
#main h4.alert_warning.hidden,
#main h4.alert_success.hidden,
#main h4.alert_info.hidden {

	display: none;
}

.defaultForm .visible,
#main h4.alert_error.hidden,
#main h4.alert_warning.hidden,
#main h4.alert_success.hidden,
#main h4.alert_info.hidden {

	display: block;
}