/* Essentials */

html, div, map, dt, isindex, form, header, aside, section, section, article, footer {  
    display: block;  
} 

html, body {
height: 100%;
margin: 0;
padding: 0;
font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
background: #EEEEEE;
font-size: 12px;
}

.clear {
clear: both;
}

.spacer {
height: 20px;
}

a:link, a:visited {
color: #77BACE;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}


/* Header */

header#header {
height: 55px;
width: 100%;
background: #222222 url(/images/backend/header_bg.png) repeat-x;
}

header#header h1.site_title, header#header h2.section_title {
float: left;
margin: 0;
font-size: 22px;
display: block;
width: 15%;
height: 55px;
font-weight: normal;
text-align: left;
text-indent: 4px;
line-height: 55px;
color: #fff;
text-shadow: 0 -1px 0 #000;
}

header#header h1.site_title a {
color: #fff;
text-decoration: none;
}

header#header h2.section_title {
text-align: center;
text-indent: 4.5%;
width: 68%;
background: url(/images/backend/header_shadow.png) no-repeat left top;
}

.btn_view_site {
float: left;
width: 9%;
}

.btn_view_site a {
display: block;
margin-top: 12px;
width: 91px;
height: 27px;
background: url(/images/backend/btn_view_site.png) no-repeat;
text-align: center;
line-height: 29px;
color: #fff;
text-decoration: none;
text-shadow: 0 -1px 0 #000;}

.btn_view_site a:hover {
background-position: 0 -27px;
}

/* Secondary Header Bar */

section#secondary_bar {
height: 38px;
width: 100%;
background: #F1F1F4 url(/images/backend/secondary_bar.png) repeat-x;
}

section#secondary_bar .user {
float: left;
width: 15%;
height: 38px;
}

.user p {
margin: 0;
padding: 0;
color: #666666;
font-weight: bold;
display: block;
float: left;
width: 100%;
height: 35px;
line-height: 35px;
text-indent: 25px;
text-shadow: 0 1px 0 #fff;
background: url(/images/backend/icn_user.png) no-repeat center left;
margin-left: 6%;
}

.user a {
text-decoration: none;
color: #666666}

.user a:hover {
color: #77BACE;
}

.user a.logout_user {
float: left;
display: block;
width: 16px;
height: 35px;
text-indent: -5000px;
background: url(/images/backend/icn_logout.png) center no-repeat;
}

/* Breadcrumbs */

margin: 10px 0 0 0;}

#sidebar a {
color: #666666;
text-decoration: none;
}

#sidebar a:hover {
text-decoration: underline;
}

#sidebar footer {
margin-top: 20%;
}


#login {

	width: 500px;
	background: url(/images/backend/login/bg.png) repeat-y;
	margin: 200px auto
}

#login .loginTable {

	margin-top: 	10px
}

#login .loginTable th {

	width: 200px;
	padding-right: 10px;
	text-align: right;
}

#login .loginTable td {

	text-align: left;
	padding: 4px 0px 4px 0px
}




#loginErrorMessageDiv {

	display: 				none;
	margin:					10px 4px 0px 4px;
	border-top: 			3px solid #DE7A7B;
	border-bottom: 			3px solid #DE7A7B;
	padding-top:			6px;
	padding-bottom: 		6px;
	padding-left: 			45px;
	background: 			#E6C0C0 url(/images/form/error.png) 10px 10px no-repeat;
	background-position: 	7 3;	
	color: 					#CC3300;
	text-align: 			left;
}