#prizeSplitTotalLabel {

	margin-top: 7px;
	margin-left: 0px;
	font-size: 16px;
}

table.quickEventCalendar {

}

table.quickEventCalendar tr.days td {
	
	width: 	50px;
	height: 47px;
	background: 			#F0F0F0;
    background-image: 		-o-linear-gradient(#F0F0F0, #E0E0E0);
    background: 			-moz-linear-gradient(top, #F0F0F0, #E0E0E0);;
    background: 			-webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#E0E0E0));
    filter: 				progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#F0F0F0', EndColorStr='#E0E0E0', GradientType=0);
	margin: 1px;
	border: 1px solid #D0D0d0;
	text-align: center;
	font-weight: bold;
	color: #606060;
	font-size: 12px;
	padding-top: 3px;
	cursor: pointer;
}

table.quickEventCalendar tr.days td div {
	
	cursor: pointer;
}

table.quickEventCalendar tr.days td.otherMonth {

    background-image: 		-o-linear-gradient(#F9F9F9, #F0F0F0);
    background: 			-moz-linear-gradient(top, #F9F9F9, #F0F0F0);;
    background: 			-webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#F0F0F0));
    filter: 				progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#F9F9F9', EndColorStr='#F0F0F0', GradientType=0);
	color: 		#BABABA	
}

table.quickEventCalendar tr.days td .stepNumber {

	position: 	relative;
	top: 		-2px;	
}

table.quickEventCalendar tr.days td .stepNumber input {

	height: 		20px;
	width: 			35px;
	padding: 		0px;
	text-align: 	center;	
}