Hi,<br/><br/>

<b><peopleName></b> has already confirmed their presence on event <b><eventName></b> that worth by ranking <b><rankingName></b><br/><br/>

Information about this event:<br/><br/>
<hr/><br/>
<table border="0" cellspacing="2" cellpadding="2" style="color: #FFFFFF">
	<tr><td align="right" nowrap><b>Event name:</b></td><td><eventName></td></tr>
	<tr><td align="right" nowrap><b>Ranking:</b></td><td><rankingName></td></tr>
	<tr><td align="right" nowrap><b>Game style:</b></td><td><gameStyle></td></tr>
	<tr><td align="right" nowrap><b>Event place:</b></td><td><eventPlace> - <a href="<mapsLink>" style="font-weight: bold; color: #FFFFFF">View location</a></td></tr>
	<tr><td align="right" nowrap><b>Date:</b></td><td><eventDate></td></tr>
	<tr><td align="right" nowrap><b>Start time:</b></td><td><startTime></td></tr>
	<tr><td align="right" nowrap><b>Paid places:</b></td><td><paidPlaces></td></tr>
	<tr><td align="right" nowrap><b>Buy-in:</b></td><td><buyin></td></tr>
	<tr><td align="right" nowrap valign="top"><b>Comments:</b></td><td><comments></td></tr>
</table>
<br/>
<hr/><br/>

Here are the guest list who have confirmed their presence on event:<br/><br/>
<table width="100%" border="0" cellspacing="1" cellpadding="3" style="color: #FFFFFF">
  <tr>
    <td style="background: #0F260C; font-weight: bold">Guest name</td>
  </tr>
<playerList>
</table>