<html>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body style="color: #404040; font-family: Sans serif, Arial, Verdana, Tahoma; font-size: 8pt; text-align: left">
	<div style="width: 550px">
		<div style="color: #000000; padding: 15px 10px 15px 30px; border-bottom: 1px solid #DADADA; margin-bottom: 10px">
			<emailContent>
		</div>
		<div style="color: #505050">
			<a href="http://<host>" target="_blank"><img src="http://<host>/images/emailLogo.png" style="border: none" align="left"></a>
			<div style="padding-top: 5px; text-align: right">
				<b>iRank</b> is a free website for creating online rankings for poker games.<br/>
				Sign up and create your own rankings, organize your events<br/>and control the classification and statistics of your games.
			</div>
		</div>
	</div>
	<div style="padding-top: 25px; color: #000000">
	This is an automatic message. Please don't reply it.
	</div>
</body>
</html>