Hi <peopleName>,<br/><br/>

The event <b><eventName></b> worth by ranking <b><rankingName></b> has just been created.<br/><br/> 

Here are the informations about this event:<br/><br/>
<hr/><br/>
<table border="0" cellspacing="2" cellpadding="2" style="color: #FFFFFF">
	<tr><td align="right" nowrap><b>Event name:</b></td><td><eventName></td></tr>
	<tr><td align="right" nowrap><b>Ranking:</b></td><td><rankingName></td></tr>
	<tr><td align="right" nowrap><b>Game style:</b></td><td><gameStyle></td></tr>
	<tr><td align="right" nowrap><b>Event place:</b></td><td><eventPlace> - <a href="<mapsLink>" style="font-weight: bold; color: #FFFFFF">View location</a></td></tr>
	<tr><td align="right" nowrap><b>Date:</b></td><td><eventDate></td></tr>
	<tr><td align="right" nowrap><b>Start time:</b></td><td><startTime></td></tr>
	<tr><td align="right" nowrap><b>Paid places:</b></td><td><paidPlaces></td></tr>
	<tr><td align="right" nowrap><b>Buy-in:</b></td><td><buyin></td></tr>
	<tr><td align="right" nowrap valign="top"><b>Comments:</b></td><td><comments></td></tr>
</table>
<br/>
<hr/><br/>
<invites> people was invited for this event.
<br/><br/>

To confirm your presence, click the link bellow:<br/><br/>

<a href="http://<host>/event/confirmPresence/confirmCode/<confirmCode>" target="_blank" style="border: 0px none; font-weight: bold; color: #FFFFFF"><img src="http://<host>/images/en_US/confirmPresence.png" alt="Confirm presence" style="border: 0px none"/></a>

<br/><br/>
Or access <b>iRank</b> website, login, click on Event menu and click on <b>Confirm presence</b> button.
