Hi <peopleName>,<br/><br/>

<b style="font-size: 10pt"><congratsMessage></b>

Here are the result of event <b><eventName></b> worth by ranking <b><rankingName></b><br/><br/>

<table width="100%" border="0" cellspacing="1" cellpadding="3" style="color: #FFFFFF">
  <tr>
    <td style="background: #0F260C; font-weight: bold">#</td>
    <td style="background: #0F260C; font-weight: bold">Player</td>
    <td style="background: #0F260C; font-weight: bold">Buy-in</td>
    <td style="background: #0F260C; font-weight: bold">Prize</td>
    <td style="background: #0F260C; font-weight: bold">Rebuy</td>
    <td style="background: #0F260C; font-weight: bold">Add-on</td>
    <td style="background: #0F260C; font-weight: bold">Score</td>
  </tr>
<resultList>
</table>

<br/><br/>
Event information:<br/><br/>
<hr/><br/>
<table border="0" cellspacing="2" cellpadding="2" style="color: #FFFFFF">
	<tr><td align="right" nowrap><b>Event name:</b></td><td><eventName></td></tr>
	<tr><td align="right" nowrap><b>Ranking:</b></td><td><rankingName></td></tr>
	<tr><td align="right" nowrap><b>Game style:</b></td><td><gameStyle></td></tr>
	<tr><td align="right" nowrap><b>Event place:</b></td><td><eventPlace> - <a href="<mapsLink>" style="font-weight: bold; color: #FFFFFF">View location</a></td></tr>
	<tr><td align="right" nowrap><b>Date:</b></td><td><eventDate></td></tr>
	<tr><td align="right" nowrap><b>Start time:</b></td><td><startTime></td></tr>
	<tr><td align="right" nowrap><b>Paid places:</b></td><td><paidPlaces></td></tr>
	<tr><td align="right" nowrap><b>Buy-in:</b></td><td><entranceFee>+<buyin></td></tr>
	<tr><td align="right" nowrap valign="top"><b>Comments:</b></td><td><comments></td></tr>
</table>
<br/>
<hr/><br/>
<players> players attended this event.<br/><br/>

<b>Current ranking grade, ordered by  <rankingType></b><br/><br/>
<table width="100%" border="0" cellspacing="1" cellpadding="3" style="color: #FFFFFF">
  <tr>
    <td style="background: #0F260C; font-weight: bold">#</td>
    <td style="background: #0F260C; font-weight: bold">Player</td>
    <td style="background: #0F260C; font-weight: bold">Events</td>
    <td style="background: #0F260C; font-weight: bold">Score</td>
    <td style="background: #0F260C; font-weight: bold">B+R+A</td>
    <td style="background: #0F260C; font-weight: bold">Profit</td>
    <td style="background: #0F260C; font-weight: bold">Balance</td>
  </tr>
<classifyList>
</table>
<br/>
<b>B+R+A</b> = Buy-in + Rebuys + Add-ons