<br/>
We identified that you are not an <b>iRank</b> user yet, 
so we invite you to join for free by completing a
simple register and create a user to access the site, create your own
rankings and view the information about the rankings and events that you participate in.<br/><br/>
<b><a href="http://<host>/sign" style="color: #FFFFFF" target="_blank">Click here</a></b> to register for free.<br/><br/>
<b>IMPORTANT: </b>To associate your register to events and rankings you are already included, use this same e-mail address 
to register. You can change it later.