Hi <b><peopleName></b>,<br/><br/>

You was just added as a player in a ranking on <b>iRank</b> website.<br/>
From now you will be notified of events created for it.<br/><br/> 

Here are the details of the ranking:<br/><br/>
<hr/><br/>
<table border="0" cellspacing="2" cellpadding="2" style="color: #FFFFFF">
	<tr><td align="right" nowrap><b>Ranking name:</b></td><td><rankingName>, created at <createdAt> by <rankingOwner></td></tr>
	<tr><td align="right" nowrap><b>Events start at:</b></td><td><startDate></td></tr>
	<tr><td align="right" nowrap><b>Classify type:</b></td><td><rankingType></td></tr>
	<tr><td align="right" nowrap><b>Subscribed layers:</b></td><td><players></td></tr>
	<tr><td align="right" nowrap><b>Created events:</b></td><td><events></td></tr>
</table>
<br/><hr/>