Olá,<br/><br/>

Não se esqueça, <eventSchedule> será realizado o evento <b><eventName></b> valendo pelo ranking <b><rankingName></b> foi modificado.<br/><br/> 

Seguem abaixo as informações do evento:<br/><br/>
<hr/><br/>
<table border="0" cellspacing="2" cellpadding="2" style="color: #FFFFFF">
	<tr><td align="right" nowrap><b>Evento:</b></td><td><eventName></td></tr>
	<tr><td align="right" nowrap><b>Ranking:</b></td><td><rankingName></td></tr>
	<tr><td align="right" nowrap><b>Estilo:</b></td><td><gameStyle></td></tr>
	<tr><td align="right" nowrap><b>Local:</b></td><td><eventPlace> - <a href="<mapsLink>" style="font-weight: bold; color: #FFFFFF">Ver localização</a></td></tr>
	<tr><td align="right" nowrap><b>Data:</b></td><td><eventDate></td></tr>
	<tr><td align="right" nowrap><b>Horário:</b></td><td><startTime></td></tr>
	<tr><td align="right" nowrap><b>Posições pagas:</b></td><td><paidPlaces></td></tr>
	<tr><td align="right" nowrap><b>Buy-in:</b></td><td><buyin></td></tr>
	<tr><td align="right" nowrap valign="top"><b>Observações:</b></td><td><comments></td></tr>
</table>
<br/>
<hr/><br/>
<invites> pessoas foram convidadas para este evento, <players> pessoas já confirmaram a presença.
<br/><br/>
Caso ainda não tenha confirmado sua presença no evento, acesse o <b>iRank</b>, faça seu login, clique no menu Eventos e clique no botão <b>Confirmar presença</b>