Olá,<br/><br/>

Foi criado o evento <b><eventName></b> valendo pelo ranking <b><rankingName></b>.<br/><br/> 

Seguem abaixo as informações do evento:<br/><br/>
<hr/><br/>
<b>Evento:</b> <eventName><br/>
<b>Ranking:</b> <rankingName><br/>
<b>Estilo:</b> <gameStyle><br/>
<b>Local:</b> <eventPlace><br/>
<b>Data:</b> <eventDate><br/>
<b>Horário:</b> <startTime><br/>
<b>Posições pagas:</b> <paidPlaces><br/>
<b>Buy-in:</b> <buyIn><br/>
<b>Observações:</b> <comments><br/>
<br/>
<hr/><br/>
<invites> pessoas foram convidadas para este evento.
<br/><br/>

Para confirmar sua presença no evento, acesse o iRanking, faça seu login, clique no menu Eventos e clique no botão <b>Confirmar presença</b>