Olá,<br/><br/>

Um visitante enviou uma dúvida pelo formulário de FAQ do site.<br/><br/> 

<hr/><br/>
<table border="0" cellspacing="2" cellpadding="2">
	<tr><td align="right" nowrap><b>Nome:</b></td><td><fullName></td></tr>
	<tr><td align="right" nowrap><b>Usuário:</b></td><td><username></td></tr>
	<tr><td align="right" nowrap><b>E-mail:</b></td><td><emailAddress></td></tr>
	<tr><td align="right" nowrap><b>Data de envio:</b></td><td><questionDate></td></tr>
	<tr><td align="right" nowrap><b>IP do usuário:</b></td><td><ipAddress></td></tr>
	<tr><td align="right" nowrap valign="top"><b>Dúvida:</b></td><td><question></td></tr>
</table>
<br/>
<hr/><br/>
