<html>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>
	<div style="color: #FFFFFF; font-family: Sans serif, Arial, Verdana, Tahoma; font-size: 8pt">
		<table width="532" cellspacing="0" cellpadding="0" border="0" style="font-size: 8pt" style="color: #FFFFFF">
			<tr>
				<td><img src="http://<host>/images/email/top.png" width="534" height="22"></td>
			</tr>
			<tr>
				<td style="color: #FFFFFF; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; background: #14310F; text-transform: uppercase; font-weight: bold; border-bottom: 1px solid #ccc"><emailTitle></td>
			</tr>
			<tr>
				<td style="color: #F5F5F5; padding: 10px; line-height: 150%; background: #14310F">
					Olá <peopleName>,<br/><br/>
					
					Foi solicitada a redefinição da senha para seu acesso ao site <b>iRank</b><br/>
					Seguem abaixo seus novos dados para acesso:<br/><br/><hr/> 
					
					<table border="0" cellspacing="2" cellpadding="2" style="color: #FFFFFF">
					<tr><td align="right" nowrap><b>Username:</b></td><td><username></td></tr>
					<tr><td align="right" nowrap><b>Senha:</b></td><td><password></td></tr>
					</table>
					
					<hr/><br/>
					
					Recomendamos que você acesse sua conta e altere sua senha pelo menu <b>Cadastro</b>.<br/>
				</td>
			</tr>
			<tr>
				<td><img src="http://<host>/images/email/base.png" width="534" height="22"></td>
			</tr>
		</table>
	</div>
</body>
</html>