Olá,<br/><br/>

O usuário <peopleName> excluiu o ranking <b><rankingName></b><br/><br/>

Seguem abaixo as informações do ranking e a classificação final antes da exclusão:<br/><br/>

<hr/><br/>
<table border="0" cellspacing="2" cellpadding="2" style="color: #FFFFFF">
	<tr><td align="right" nowrap><b>Nome do ranking:</b></td><td><rankingName>, criado em <createdAt> por <rankingOwner></td></tr>
	<tr><td align="right" nowrap><b>Início dos eventos:</b></td><td><startDate></td></tr>
	<tr><td align="right" nowrap><b>Tipo de classificação:</b></td><td><rankingType></td></tr>
	<tr><td align="right" nowrap><b>Membros inscritos:</b></td><td><players></td></tr>
	<tr><td align="right" nowrap><b>Eventos criados:</b></td><td><events></td></tr>
</table>
<br/>
<hr/><br/><br/>

<b>Classificação final do ranking, ordenado por <rankingType></b><br/><br/>
<table width="100%" border="0" cellspacing="1" cellpadding="3" style="color: #FFFFFF">
  <tr>
    <td style="background: #0F260C; font-weight: bold">#</td>
    <td style="background: #0F260C; font-weight: bold">Nome</td>
    <td style="background: #0F260C; font-weight: bold">Eventos</td>
    <td style="background: #0F260C; font-weight: bold">Pontos</td>
    <td style="background: #0F260C; font-weight: bold">B+R+A</td>
    <td style="background: #0F260C; font-weight: bold">Ganhos</td>
    <td style="background: #0F260C; font-weight: bold">Balanço</td>
  </tr>
<classifyList>
</table>
<br/>
<b>B+R+A</b> = Buy-in + Rebuys + Add-ons