Olá <b><peopleName></b>,<br/><br/>

Você acaba de ser incluído como membro em um ranking do site iRanking.<br/>
A partir de agora você será notificado sobre os eventos criados para ele.<br/><br/> 

Seguem abaixo as informações do ranking:<br/><br/>
<hr/><br/>
<b>Nome do ranking:</b> <rankingName>, criado em <createdAt> por <rankingOwner><br/>
<b>Início dos eventos:</b> <startDate><br/>
<b>Tipo de classificação:</b> <rankingType><br/>
<b>Membros inscritos:</b> <members><br/>
<b>Eventos criados:</b> <events><br/><br/>
<hr/>