.button {

	cursor: 			pointer;
	-moz-user-select: 	none;
	line-height:		16px;
}

.button .buttonLeft {
	
	float: 			left;
	height: 		29px;
	width: 			8px;
	background: 	url('/images/mobile/button/bgLeft.png');
}

.button .buttonMiddle {

	float: 			left;
	font-size: 		8pt;
	height: 		29px;
	font-weight: 	bold;
	text-align: 	center;
	color: 			#000000;
	background: 	url('/images/mobile/button/bgMiddle.png');
}

.button .buttonMiddle .label {

	margin-top: 	6px;
	text-align: 	center;
	padding: 		0px;
	
	color: 			#FFFFFF;
	font-size: 		8pt;
	font-weight: 	bold;
	text-shadow: 	#555555 1px -1px;
}

.button .buttonMiddle .label img {

	margin-top: 	-2px;
	margin-right: 	5px
}

.button .buttonMiddle .label a {

	position: 		absolute;
	left: 			-1px;
	top: 			-1px;
	border: 		0px transparent;
	z-index: 		-100;
}

.button .buttonMiddle .label .submit {

	position: 		absolute;
	left: 			-1px;
	top: 			-1px;
	border: 		0px transparent;
	background: 	transparent;
	width: 			0px;
	height: 		0px;
	z-index: 		-100;
}

.button .buttonMiddle .label a {

	background: 		none;
	color: 				#333333;
	padding-top: 		3px;
	padding-bottom: 	5px;
}

.button .buttonMiddle .label a:hover {

	text-decoration: 	none;
	color: 				#333333;
}

.button .buttonRight {

	margin-right: 	10px;
	float: 			left;
	height: 		29px;
	width: 			8px;
	background: 	url('/images/mobile/button/bgRight.png');
}











.buttonDisabled {

	cursor: 			pointer;
	-moz-user-select: 	none;
	line-height:		16px;
}

.buttonDisabled .buttonLeft {
	
	float: 			left;
	height: 		29px;
	width: 			7px;
	background: 	url('/images/mobile/button/bgLeftDisabled.png');
}

.buttonDisabled .buttonMiddle {

	float: 			left;
	font-size: 		8pt;
	height: 		29px;
	font-weight: 	bold;
	color: 			#000;
	background: 	url('/images/mobile/button/bgMiddleDisabled.png');
}

.buttonDisabled .buttonMiddle .label {

	margin-top: 	6px;
	color: 			#AAAAAA;
}

.buttonDisabled .buttonMiddle .label img {

	margin-top: 	-2px;
	margin-right: 	5px
}

.buttonDisabled .buttonMiddle .label a {

	color: 	#999999;
}

.buttonDisabled .buttonMiddle .label a:hover {

	color: 	#999999;
}

.buttonDisabled .buttonRight {

	margin-right: 	10px;
	float: 			left;
	height: 		29px;
	width: 			7px;
	background: 	url('/images/mobile/button/bgRightDisabled.png');
}

.buttonDisabled .buttonMiddle .label .submit {

	position: 		absolute;
	left: 			-1px;
	top: 			-1px;
	border: 		0px transparent;
	background: 	transparent;
	width: 			0px;
	height: 		0px;
	z-index: 		-100;
}

.buttonDisabled .buttonMiddle .label a {

	position: 		absolute;
	left: 			-1px;
	top: 			-1px;
	border: 		0px transparent;
	z-index: 		-100;
}