.homeLink {

	clear: 			both;
	height: 		42px;
	background: 	url(/images/mobile/homeLinkBg.png) no-repeat;
	margin-bottom: 	3px;
	margin-left: 	10px;
}

.homeLink .image {

	float: 	left;
	margin: 	10 0 0 10;
}

.homeLink .title {

	float: 			left;
	font-size: 		12pt;
	font-weight: 	bold;
	padding-top: 	11px;
	margin-left: 	10px;
}

.homeLink .image {

	margin-top: 	4px;
}