.button {

	z-index: 			500;
	cursor: 			pointer;
	-moz-user-select: 	none;
	line-height:		16px;
}

.button .buttonLeft {
	
	float: 			left;
	height: 		22px;
	width: 			7px;
	background: 	url('/images/button/bgLeft.png') 0px 0px repeat-x;
}

.button .buttonMiddle {

	float: 			left;
	font-size: 		8pt;
	height: 		22px;
	font-weight: 	bold;
	text-align: 	center;
	color: 			#000000;
	background: 	url('/images/button/bgMiddle.png') 0px 0px repeat-x;
}

.button .buttonRight {

	margin-right: 	10px;
	float: 			left;
	height: 		22px;
	width: 			7px;
	background: 	url('/images/button/bgRight.png') 0px 0px repeat-x;
}

.button.hover .buttonLeft,
.button.hover .buttonMiddle,
.button.hover .buttonRight {

	background-position: 	0px -22px;
}




.button .buttonMiddle .buttonLabel {

	margin-top: 	3px;
	margin-top: 	3px !ie;
	color: 			#000000;
	text-align: 	center;
	padding: 		0px; 				
}

.button .buttonMiddle .buttonLabel img {

	margin-top: 	-2px;
	margin-top: 	0px !ie;
	margin-right: 	5px
}

.button .buttonMiddle .buttonLabel a {

	position: 			absolute;
	left: 				-1px;
	top: 				-1px;
	border: 			0px transparent;
	z-index: 			-100;
	background: 		none;
	color: 				#333333;
	padding-top: 		3px;
	padding-bottom: 	5px;
}

.button .buttonMiddle .buttonLabel .submit {

	position: 		absolute;
	left: 			-1px;
	top: 			-1px;
	border: 		0px transparent;
	background: 	transparent;
	width: 			0px;
	height: 		0px;
	z-index: 		-100;
}

.button .buttonMiddle .buttonLabel a:hover {

	text-decoration: 	none;
	color: 				#333333;
}











.button.disabled .buttonLeft {
	
	background: 	url('/images/button/bgLeftDisabled.png') 0px 0px repeat-x;
}

.button.disabled .buttonMiddle {

	background: 	url('/images/button/bgMiddleDisabled.png') 0px 0px repeat-x;
}

.button.disabled .buttonMiddle .buttonLabel {

	color: 			#AAAAAA;
}

.button.disabled .buttonMiddle .buttonLabel a {

	color: 			#999999;
	position: 		absolute;
	left: 			-1px;
	top: 			-1px;
	border: 		0px transparent;
	z-index: 		-100;
}

.button.disabled .buttonMiddle .buttonLabel a:hover {

	color: 	#999999;
}

.button.disabled .buttonRight {

	background: 	url('/images/button/bgRightDisabled.png') 0px 0px repeat-x;
}

/* -------------- CLASSES PERSONALIZADAS  -------------- */
.buttonPresenceYes,
.buttonPresenceNo {

	position: relative;
	left: 47px;
}

.buttonPresenceNo .buttonMiddle .buttonLabel {

	color: 	#4A4A4A
}