#eventCalendar {

	position: 	relative;
	left: 		16px;
	height: 	180px;
	float: 		left;
}

#eventCalendar .month {

	clear: 		both;
	margin: 	1px;
	padding: 	1 0 1 0;
	height: 	57px;
	width: 		322px;
	width: 		325px !ie;
}

#eventCalendar .weekDay {
	
	float: 			left;
	border: 		1px solid #AEAEAE;
	width: 			45px;
	margin-left: 	-1px;
	margin-bottom: 	-1px;
	font-weight: 	bold;
	font-size: 		7pt;
	text-align: 	center;
	color: 			#666666;
	background: 	#D0D0D0;
	padding: 		2 0 2 0;
}

#eventCalendar .dayGray {
	
	float: 					left;
	border: 				1px solid #BBBBBB;
	height: 				40px;
	width: 					45px;
	margin-left: 			-1px;
	margin-bottom: 			-1px;
	padding-top: 			3px;

    background: 			-moz-linear-gradient(top, #EFEFEF, #DFDFDF);
    background: 			-webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#DFDFDF));
    filter: 				progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#EFEFEF', EndColorStr='#DFDFDF', GradientType=0);
    
	background: 			url(/images/home/calendarGrayBg.png) no-repeat #FFFFFF;
	background-position: 	-1px 1px;
	text-align: 			center;
	color: 					#999999;
}

#eventCalendar .dayGraySelected {
	
	float: 					left;
	border: 				1px solid #BBBBBB;
	height: 				40px;
	width: 					45px;
	margin-left: 			-1px;
	margin-bottom: 			-1px;
	padding-top: 			3px;
	background: 			url(/images/home/calendarGraySelectedBg.png) no-repeat #FFFFFF;
	background: 			url(/images/home/calendarGrayIeSelectedBg.png) no-repeat #FFFFFF !ie;
	background-position: 	-1px 1px;
	text-align: 			center;
	font-weight: 			bold;
	color: 					#FFFFFF;
}

#eventCalendar .day {
	
	float: 					left;
	border: 				1px solid #B5B5D5;
	height: 				40px;
	width: 					45px;
	margin-left: 			-1px;
	margin-bottom: 			-1px;
	padding-top: 			3px;
    
    background: 			-moz-linear-gradient(top, #edf3f6, #dae8ed);
    background: 			-webkit-gradient(linear, left top, left bottom, from(#edf3f6), to(#dae8ed));
    filter: 				progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#edf3f6', EndColorStr='#dae8ed', GradientType=0);
    
	background: 			url(/images/home/calendarBg.png) no-repeat #FFFFFF;
	background-position: 	-1px 1px;
	text-align: 			center;
	color: 					#6C6C7F;
}

#eventCalendar .daySelected {
	
	float: 					left;
	border: 				1px solid #B5B5D5;
	height: 				40px;
	width: 					45px;
	margin-left: 			-1px;
	margin-bottom: 			-1px;
	padding-top: 			3px;
	background: 			url(/images/home/calendarBgSelected.png) no-repeat #FFFFFF;
	background: 			url(/images/home/calendarBgIeSelected.png) no-repeat #FFFFFF !ie;
	background-position: 	-1px 1px;
	text-align: 			center;
	font-weight: 			bold;
	color: 					#FFFFFF;
}

#eventCalendar .dayNumberGray {
	
	margin: 			3 1 1 0;
	font-size: 			7pt;
	cursor: 			pointer;
	-moz-user-select: 	none;    
	-moz-user-select: 	-moz-none;
}

#eventCalendar .dayNumber {
	
	margin: 			3 1 1 0;
	font-size: 			7pt;
	cursor: 			pointer;
	-moz-user-select: 	none;    
	-moz-user-select: 	-moz-none;
}

#eventCalendar .monthName {
	
	width: 			320px;
	padding: 		5px;
	color: 			#5486B4;
	font-weight: 	bold; 
	font-size: 		12px;
}