.actionBar {
	
	position: 			absolute;
	z-Index: 			2;
	top: 				38px;
	margin-left: 		461px;
	top: 				185px !ie;
	margin-left: 		461px !ie;
	width: 				450px;
	height: 			22px;
	margin-bottom: 		-22px;
}

.resultTotal td {

	background: 	#E0E0E0;
	font-weight: 	bold;
	margin-right: 	14px;
}

#leftMenu .subitem .label.ical {

	background: 	url(/images/layout/leftMenu/calendar.png) center left no-repeat;
}

#leftMenu .subitem .label.clone {

	background: 	url(/images/layout/leftMenu/clone.png) center left no-repeat;
}

#leftMenu .subitem .label.player {

	background: 	url(/images/layout/leftMenu/player.png) center left no-repeat;
}

#leftMenu .subitem .label.players {

	background: 	url(/images/layout/leftMenu/players.png) center left no-repeat;
}