.eventLiveResume {
	
	height: 		760px;
	margin-top: 	20px
}

.eventLiveResume.logged {

	display: block;
}

.eventLiveResume #eventLiveResume {
	
	position: 			relative;
	top: 				4px;
	padding-bottom: 	15px;
}

.eventLiveResume #eventLiveResume #eventLiveList {
	
	float: 		left;
	position: 	relative;
	left: 		12px;
	top: 		8px;
}

.eventLiveResume #eventLiveResume #eventLiveList h1 {

	width: 								190px;
	font-size: 							15px;
	text-align: 						center;
	color: 								#337495;
	border: 							1px solid #337495;
	border-bottom: 						none;
	
	-moz-border-top-left-radius: 		10px;
	-webkit-border-top-left-radius: 	10px;
	border-top-left-radius: 			10px;
	-moz-border-top-right-radius: 		10px;
	-webkit-border-top-right-radius: 	10px;
	border-top-right-radius: 			10px;
	padding: 							4px 5px 3px 5px;
	margin: 							0 auto;
	margin-bottom: 						-1px;
	background: 						#FFFFFF;
	z-index: 							1;
	position: 							relative;
}

.eventLiveResume #eventLiveResume #eventLiveList #eventLiveResumeList {

	height: 		700px;
	overflow: 		hidden;
	border-top: 	1px solid #337495;
	padding-top: 	10px;
	z-index: 		0;
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive {

	width: 			752px;
	height: 		61px;
	margin-bottom: 	15px;
	border: 		1px solid #b5ccd6;
	padding: 		3px 5px 5px 3px;
	cursor: 		pointer;
	
	-webkit-touch-callout: 	none;
	-webkit-user-select: 	none;
	-khtml-user-select: 	none;
	-moz-user-select: 		none;
	-ms-user-select: 		none;
	-o-user-select: 		none;
	user-select: 			none;
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive .image {

	float: 	left;
	width: 	65px;
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive .eventInfo {

	float: 	left;
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive .when {

	clear: 			both;
	float: 			left;
	height: 		18px;
	line-height: 	18px;
	margin-left: 	12px;
	font-size: 		12px;
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive .title {

	clear: 			both;
	float: 			left;
	font-weight: 	bold;
	font-size: 		16px;
	margin-left: 	12px;
	margin-top: 	2px;
	height: 		23px;
	line-height: 	23px;
	color: 			#303030;
	text-shadow: 	#F5F5F5 1px 1px;
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive .where {

	float: 			left;
	margin-left: 	12px;
	height: 		18px;
	line-height: 	18px;
	font-size: 		12px;
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive .howMuch {

	clear: 			both;
	margin-left: 	12px;
	padding-top: 	2px;
	height: 		18px;
	line-height: 	18px;
	font-size: 		12px;
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive .howMuch label {

	font-weight: 	bold;
	font-size: 		11px;
	margin-right: 	5px;
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive .howMuch span {

	padding-right: 	16px;
	font-size: 		11px;
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive .howMuch label.ranking {

	margin-left: 	20px;
	font-size: 		12px;
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive .presence {

	position: 				absolute;
	top: 					0px;
	right: 					0px;
	float: 					right;
	border: 				1px solid #b5ccd6;
	-moz-border-radius: 	3px;
	-webkit-border-radius: 	3px;
	border-radius: 			3px;
	padding-left: 			19px;
	padding-bottom: 		2px;
	background: 			#FFFFFF url('/images/home/presenceToYes.png') 3px center no-repeat;
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive .presence.hover,
.eventLiveResume #eventLiveResume #eventLiveList .eventLive .presence.yes.hover {

	background-color: 	#FFFFFF
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive .presence.yes {

	background: 	#FFFFFF url('/images/home/presenceYes.png') 3px center no-repeat;
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive .presence a {

	margin-left: 		5px;
	margin-right: 		5px;
	color: 				#5C6377;
	text-decoration: 	none;
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive .presence a.yes {

	margin-left: 	5px;
	margin-right: 	5px;
	color: 			#44780E;
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive.next {

	background: 	#D2E3EA;
    background: 	-moz-linear-gradient(top, #FFFFFF, #D2E3EA);
    background: 	-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D2E3EA));
    filter: 		progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#D2E3EA', GradientType=0);
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive.next.hover,
.eventLiveResume #eventLiveResume #eventLiveList .eventLive.previous.hover,
.eventLiveResume #eventLiveResume #eventLiveList .eventLive.previous.pending.hover {

	background: 	#E8F3F7;
    background: 	-moz-linear-gradient(top, #FFFFFF, #b9ccd8);
    background: 	-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#b9ccd8));
    filter: 		progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#b9ccd8', GradientType=0);
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive.previous {

	background: 		#DEEAEF;
	background-repeat: 	no-repeat;
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive.previous.pending {

	background: 	#DEEAEF url('/images/home/podiumAlert.png') 2px center no-repeat;
}

.eventLiveResume #eventLiveResume #eventLiveList .eventLive.noEvent {

	border: 		1px solid #D0D0D0;
    background: 	-moz-linear-gradient(top, #FFFFFF, #F0F0F0);
    background: 	-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    filter: 		progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#F0F0F0', GradientType=0);	
}

.eventLiveResume #eventLiveResume .loadEvents {

	clear: 			both;
	position: 		relative;
	top: 			8px;
	left: 			12px;
	width: 			745px;
	padding: 		2px 10px 2px 5px;
	cursor: 		pointer;
	text-align: 	right;
	border: 		1px solid #DADADA;
	
	
	background: 	#F0F0F0;
    background: 	-moz-linear-gradient(top, #FFFFFF, #F0F0F0);
    background: 	-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    filter: 		progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#F0F0F0', GradientType=0);
}

.eventLiveResume #eventLiveResume .loadEvents a {

	color: 			#5C6377;
	font-size: 		12px;
}