.gridTable {

	width: 			760px;	
	border: 		1px solid #AAAAAA;
	margin: 		12px 12px 7px 12px;
}

.gridTableFlex {

	border: 	1px solid #AAAAAA;
	margin: 	7px;
}

.gridTabTable {

	width: 			753px;	
	border: 		1px solid #AAAAAA;
	margin: 		7px 7px 7px 7px;
	background: 	#FFFFFF;
}

.gridTableFlex .header th, .gridTable .header th, .gridTabTable .header th {
	
	font-weight: 	bold;
	border-bottom: 	1px solid #A9ACB4;
	border-left: 	3px solid #C3C6CE;
	padding-left: 	4px;
	height: 		21px;
	background: 	#E0E0E0 url('/images/layout/commonBar.png');
	text-align: 	left
}

.gridTableFlex .filter th, .gridTable .filter th, .gridTabTable .filter th {
	
	font-weight: 	bold;
	border-bottom: 	1px solid #A9ACB4;
	padding: 		3px 4px 3px 3px;
	padding-left: 	4px;
	height: 		21px;
	background: 	#D3DAED;
	text-align: 	left
}

.gridTableFlex .filter th input, .gridTable .filter th input, .gridTabTable .filter th input {

	color: 			#606060;
	padding-left: 	3px;
	color: 			#555555;
	font-size: 		8pt;
	border: 		1px solid #666666;
	padding: 		1px;
	padding-left: 	5px;
}

.gridTableFlex .filter th select, .gridTable .filter th select, .gridTabTable .filter th select {

	color: 			#606060;
	padding: 		1px;
	color: 			#555555;
	font-size: 		8pt;
	border: 		1px solid #666666;
	padding-left: 	5px;
}

.gridTableFlex td, .gridTable td, .gridTabTable td {
	
	background: 	#F5F5F5;
	white-space: 	nowrap;
	padding-left: 	5px;
}

.gridTableFlex td.icon, .gridTable td.icon, .gridTabTable td.icon {
	
	padding: 		0px;
	height: 		0px;
	width: 			30px;
	text-align: 	center;
}

.gridTableFlex .recordRowOver td, .gridTable .recordRowOver td, .gridTabTable .recordRowOver td {
	
	background: 	#E0E0EF;
	cursor: 		pointer;
}

.gridTableFlex td img, .gridTable td img, .gridTabTable td img {
	
	position: 	relative;
	top: 		2px;
}














.gridTable .gridInnerTable {

	border: 	0px solid;
	margin: 	-1px;
}

.gridTable .gridInnerTable .header th {
	
	font-weight: 	bold;
	border-bottom: 	1px solid #A9ACB4;
	border-left: 	3px solid #C3C6CE;
	padding-left: 	4px;
	height: 		21px;
	background: 	#E0E0E0;
	text-align: 	left
}

.gridTable .gridInnerTable .filter th {
	
	font-weight: 	bold;
	border-bottom: 	1px solid #A9ACB4;
	padding: 		3px 4px 3px 3px;
	padding-left: 	4px;
	height: 		21px;
	background: 	#E0E0E0;
	text-align: 	left
}

.gridTable .gridInnerTable td {
	
	background: 	#FAFAFA;
	white-space: 	nowrap;
	padding: 		2px 5px 2px 5px;
}