#peopleQuickEditPeoplePicture {
	
	width: 			135px;
	height: 		180px;
	border: 		1px solid #909090;
	margin-top: 	10px;
	background: 	url('/images/backend/cashTable/unavailable.png') no-repeat;
}

#peopleQuickEditPeopleNameLabel {
	
	text-align: 	left;
	padding: 		8px;
}