.gridTable tr.confirmed td {

	background: 	#e3f6cd;
	font-weight: 	bold
}

.gridTable tr.notConfirmed td {

	background: 	#f7e4e4;
	font-weight: 	normal
}


.gridTable tr.confirmedResult {

	
}

.gridTable tr.notConfirmedResult {

	display: 	none;
	color: #ff0000;
}