.emailMarketingPreview {

	margin: 		20px;
	position: 		relative;
	width: 			auto;
	height: 		auto;
	padding: 		20px;
	display: 		auto;
	background: 	#FFFFFF;
	border: 		1px solid #DADADA
}

.emailMarketingPreview table,
.emailMarketingPreview table tr th,
.emailMarketingPreview table tr td,
.emailMarketingPreview table tr {

	border-collapse: separate;
	padding: 0px;
	height: auto;
	vertical-align: middle
}

.widget .gradeA input.randomCode,
.randomCodeTd {
	
	font-family: 	Courier, Courier New;
	font-weight: 	bold;
	font-size: 		16px;
	text-align: 	center;
}

.widget .gradeA input.randomCode {

	width: 		80px;
	height: 	16px;
	padding: 	2px 5px;
}

input.emailMarketingFilter {
	
	width: 100%;
}