					Olá [peopleName],<br/><br/>
					
					Foi solicitada a redefinição da senha para seu acesso ao site <b>iRank</b><br/>
					Seguem abaixo seus novos dados para acesso:<br/><br/>
					<hr/> 
					<br/>
						<table border="0" cellspacing="2" cellpadding="2" style="color: #000000; font-size: 8pt">
							<tr><td align="right" nowrap><b>Username:</b></td><td>[username]</td></tr>
							<tr><td align="right" nowrap><b>Senha:</b></td><td>[password]</td></tr>
						</table>
					<br/>
					<hr/>
					<br/>
					
					Recomendamos que acesse seu e-mail, faça seu login e altere sua senha<br/>
					clicando em <b>MINHA CONTA</b> no menu principal.