Olá <b>[peopleName]</b>,<br/><br/>

você acaba de ser incluído como membro em um ranking do site <b>iRank</b>.<br/>
A partir de agora você será notificado sobre os eventos criados para ele.<br/><br/> 

Seguem abaixo as informações do ranking:<br/><br/>
<hr/>
<br/>
<table border="0" cellspacing="2" cellpadding="2" style="color: #000000; font-size: 8pt">
	<tr><td align="right" nowrap><b>Nome do ranking:</b></td><td>[rankingName], criado em [createdAt] por <b>[rankingOwner]</b></td></tr>
	<tr><td align="right" nowrap><b>Início dos eventos:</b></td><td>[startDate]</td></tr>
	<tr><td align="right" nowrap><b>Tipo de classificação:</b></td><td>[rankingType]</td></tr>
	<tr><td align="right" nowrap><b>Membros inscritos:</b></td><td>[players]</td></tr>
	<tr><td align="right" nowrap><b>Eventos criados:</b></td><td>[events]</td></tr>
</table>
<br/>
<hr/>