Olá [peopleName],<br/><br/>

É com muita satisfação que anunciamos o lançamento do aplicativo do <b>iRank</b> para iPhone, iPad e iPod touch.<br/><br/> 

Agora você que possui um dispositivo rodando um iOS 4.1 ou superior pode instalar o novo aplicativo e gerenciar seus jogos de qualquer lugar.<br/>
Com o novo <b>iRank App</b> você também pode:<br/><br/>

<ul>
	<li>Confirmar presença dos eventos</li>
	<li>Acompanhar seu bankroll</li>
	<li>Postar fotos e comentários</li>
	<li>Salvar resultados dos jogos</li>
</ul>
<br/>
Clique no link abaixo<br/><br/>
	
<a href="http://itunes.apple.com/us/app/irank/id481129223?l=pt&ls=1&mt=8"><img src="http://[host]/images/appstore.png" style="border: 0px none"/></a>

<br/><br/>
Ou acesse o <b>iRank</b>, clique no selo da App Store para baixar o aplicativo.