Mensagem enviada pelo formulário de contato do site.<br/><br/> 
<hr/>
<br/>
<table border="0" cellspacing="2" cellpadding="2" style="color: #000000; font-size: 8pt">
	<tr><td align="right" nowrap><b>Nome:</b></td><td>[fullName]</td></tr>
	<tr><td align="right" nowrap><b>Usuário:</b></td><td>[username]</td></tr>
	<tr><td align="right" nowrap><b>E-mail:</b></td><td>[emailAddress]</td></tr>
	<tr><td align="right" nowrap><b>Assunto:</b></td><td>[subject]</td></tr>
	<tr><td align="right" nowrap><b>Mensagem:</b></td><td>[message]</td></tr>
</table>
