Olá <b>[peopleName]</b>,<br/><br/>

Você concluiu com sucesso o cadastro pelo aplicativo <b>iRank</b>.<br/>
Agora você pode aproveitar todas as vantagens do site na palma de sua mão!<br/> 
Com o aplicativo você pode:<br/><br/>

- Confirmar presença<br/>
- Salvar resultados<br/>
- Postar comentários<br/>
- Postar fotos<br/>
- E muito mais...<br/><br/>

Você também pode aproveitar muitas outras vantagens pelo site <a href="http://www.irank.com.br" target="_blank">www.irank.com.br</a><br/><br/>

Abaixo estão os dados para acesso a sua conta:<br/><br/>
<hr/><br/>
	<table border="0" cellspacing="2" cellpadding="2" style="color: #000000">
		<tr><td align="right" nowrap><b>Username:</b></td><td>[username]</td></tr>
		<tr><td align="right" nowrap><b>Senha:</b></td><td>[password]</td></tr>
	</table>
<br/><hr/>
<br/>
<b>Obs:</b> Você pode se logar no aplicativo com seu username ou seu e-mail.