.defaultForm {

	padding: 		10 5 10 5;
	margin: 		-5 -2 0 0;
	background: 	#d9d8d9;
	color: 			#333333;
}

.windowForm {

	padding: 		10 5 10 5;
	margin: 		0 -2 0 0;
	background: 	#d9d8d9;
	border: 		1px solid #888A88;
}

.defaultForm h1 {
	
	font-weight: 			bold;
	padding: 				5 0 4 8;
	border-bottom: 			1px solid #666666;
	color: 					#444444;
	font-size: 				10pt;
}

.defaultForm h1 a {
	
	outline: 			none;
	text-decoration: 	none;
	color: 				#2126F3;
	font-size: 			8pt;
	font-weight: 		normal;
}

.defaultForm h1 a:hover {
	
	color: 	#000000;
}

.defaultFormErrorDetails {

	padding: 		10 5 10 5;
	background: 	#414143;
	border-left: 	1px solid #000000;
	color: 			#333333;
}

.defaultFormErrorDetails h1 {

	font-weight: 			bold;
	font-size: 				10pt;
	background: 			#1A1A1A url('/images/frontend/formInfo.png') no-repeat;
	background-position: 	5 3;
	padding: 				5 0 4 30;
	margin: 				-10 -5 10 -5;
	border-bottom: 			1px solid #333333;
}

.buttonBarForm {

	height: 		22px;
	padding: 		7 5 7 5;
	margin: 		1 0 0 0;
	background: 	#d9d8d9;
	border: 		1px solid #888A88;
}

.buttonBarFormError {

	height: 		22px;
	padding: 		7 5 7 5;
	background: 	#CE545C;
	border: 		1px solid #333333;
}

.buttonBarFormSuccess {

	height: 		22px;
	padding: 		7 5 7 5;
	background: 	#CE545C;
	border: 		1px solid #333333;
}

.defaultForm .row, .windowForm .row {

	height: 		auto;
	min-height: 	22px;
	clear: 			both;
	margin-bottom: 	2px;
	whitespace: 	nowrap;
	width:			100%;
	z-index: 		10;

}

.defaultForm .row .label, .windowForm .row .label {

	width: 			160px;
	float: 			left;
	padding: 		1 0 2 0;
	height: 		15px;
	height: 		21px !ie;
	text-align: 	right;
	font-weight: 	bold;
	color: 			#333333;
	margin-right: 	10px;
}

.defaultForm .row .halfLabel, .windowForm .row .halfLabel {

	width: 			80px;
	float: 			left;
	padding: 		1 0 2 0;
	height: 		15px;
	height: 		21px !ie;
	text-align: 	right;
	font-weight: 	bold;
	color: 			#333333;
	margin-right: 	10px;
}

.defaultForm .row .field, .windowForm .row .field {

	float: 			left;
	padding: 		0px;
	margin-right: 	2px;
	padding: 		1 1 0 1;
	padding: 		0px !ie;
	height: 		20px;
	height: 		23px !ie;
	
	text-align: 	left;
	white-space: 	nowrap;
}

.defaultForm .row .image {

	float: 			left;
	padding: 		0px;
	margin-right: 	2px;
	padding: 		2 3 2 3;
	text-align: 	left;
}

.defaultForm .row .fieldCheckbox, .windowForm .row .fieldCheckbox {

	float: 			left;
	text-align: 	left;
	padding: 		2 2 0 2;
}

.defaultForm .row .fieldRadio, .windowForm .row .fieldRadio {

	float: 			left;
	text-align: 	left;
	padding: 		0 0 0 0;
	margin: 		-1 0 0 2;
}

.defaultForm .row .text, .windowForm .row .text {

	float: 			left;
	width: 			auto;
	width: 			135px !ie;
	min-width: 		135px;
	padding: 		0 3 2 3;
	height: 		15px;
	height: 		19px !ie;
	text-align: 	left;
	color: 			#333333;
	margin: 		0 10 0 1;
	border:			1px solid transparent;
}

.defaultForm .row .textFlex, .windowForm .row .textFlex {

	float: 			left;
	padding: 		0 3 2 3;
	height: 		15px;
	height: 		19px !ie;
	text-align: 	left;
	color: 			#333333;
	margin: 		0 10 0 0;
	border:			1px solid transparent;
}





.defaultForm .rowCheckbox {

	overflow: 		hidden;
	height: 		20px;
	clear: 			both;
	margin-bottom: 	3px;
	whitespace: 	nowrap;
}

.defaultForm .rowCheckbox .label {

	float: 			left;
	padding: 		3 0 1 5;
	height: 		15px;
	height: 		21px !ie;
	text-align: 	left;
	color: 			#333333;
	font-weight: 	normal;
	margin-right: 	10px;
}

.defaultForm .rowCheckbox .field {

	width: 			60px;
	float: 			left;
	padding: 		3 0 0 0;
	height: 		15px;
	height: 		21px !ie;
	text-align: 	right;
	font-weight: 	bold;
	color: 			#666666;
	margin-right: 	10px;
}




.defaultForm input, .windowForm input {

	font-size: 		8pt;
	height: 		17px;
	border:			1px solid #8A8A8A;
	padding: 		0 0 1 3;
	background: 	#F0F0F0;
}

.defaultForm input.required, .windowForm input.required {

	background: 	#F0F0F0 url('/images/frontend/formRequired.png') no-repeat;
}

.defaultForm input:focus, .windowForm input:focus {

	background: 	#C0C0C0;
	border: 		1px solid #666666;
}

.defaultForm input.required:focus, .windowForm input.required:focus {

	background: 	#C0C0C0 url('/images/frontend/formRequired.png') no-repeat;
}

.defaultForm .checkbox, .windowForm .checkbox {

	margin: 	0px;
	border: 	0px solid;
	height: 	18px;
}

.defaultForm select, .windowForm select {

	font-size: 		8pt;
	height: 		18px;
	height: 		17px;
	padding: 		0px;
	padding-left: 	0px;
	text-align: 	left;
	border:			1px solid #8A8A8A;
	padding: 		0;
}

.defaultForm .rowTextArea {

	height: 		73px;
	height: 		73px !ie;
	clear: 			both;
	margin-top: 	3px;
	whitespace: 	nowrap;
}

.defaultForm .rowTextArea .label {

	width: 			160px;
	float: 			left;
	padding: 		3 0 0 0;
	height: 		75px;
	height: 		75px !ie;
	text-align: 	right;
	font-weight: 	bold;
	color: 			#333333;
	margin-right: 	10px;
}

.defaultForm .rowTextArea .labelRo {

	width: 			160px;
	float: 			left;
	padding: 		3 0 0 0;
	height: 		64px;
	height: 		75px !ie;
	text-align: 	right;
	font-weight: 	bold;
	color: 			#666666;
	margin-right: 	10px;
}

.defaultForm .rowTextArea .field {

	float: 			left;
	height: 		70px;
	padding: 		1px;
	margin-right: 	2px;
	padding-left: 	2px;
	text-align: 	left;
}

.defaultForm .rowTextArea .text {

	height: 		64px;
	height: 		75px !ie;
	float: 			left;
	padding: 		0px;
	margin-right: 	2px;
	padding: 		4px;
	text-align: 	left;
	width: 			330px;
	overflow: 		auto;
	color: 			#333333;
}

.defaultForm .rowTextArea .textFlex {

	float: 			left;
	padding: 		0px;
	margin-right: 	2px;
	padding: 		4px;
	text-align: 	left;
	border: 		0px solid #D5D5D5;
	width: 			330px;
	overflow: 		auto;
	color: 			#333333;
}

.defaultForm .rowTextArea .field textarea, .defaultForm textarea {

	font-size: 		8pt;
	width: 			250px;
	height: 		70px;
	height: 		71px !ie;
	margin: 		0 0 0 -1;
	margin: 		-1 -2 -1 -1 !ie;
	padding-left: 	3px;
	resize: 		none;
	border:			1px solid #8A8A8A;
	background: 	#F0F0F0;
}

.defaultForm .rowTextArea .field textarea:focus {

	background: 	#C0C0C0;
	border:			1px solid #8A8A8A;
}

.defaultForm .rowTextArea .field textarea.formFieldError, textarea.formFieldError {

	background: 	#FB8F7E;
	border:			1px solid #333333;
}

.defaultForm .rowTextArea .field textarea.formFieldError:focus {

	background: 	#e0695a;
	border:			1px solid #333333;
}

.defaultForm .rowTextArea .field textarea.required {

	background: 	#333333 url('/images/frontend/formRequired.png') no-repeat;
}

.defaultForm .rowTextArea .field textarea.required:focus {

	background: 	#666666 url('/images/frontend/formRequired.png') no-repeat;
}

.defaultForm .row .error {

	float: 					left;
	width: 					16px;
	height: 				17px;
	height: 				20px !ie;
	background: 			url('/images/frontend/formError.png') no-repeat;
	background-position: 	0 1;
	cursor: 				pointer;
	display: 				none;
}






.defaultForm .formFieldError, .windowForm .formFieldError {

	font-size: 		8pt;
	height: 		17px;
	border:			1px solid #333333;
	padding: 		0 0 1 3;
	background: 	#fb8f7e;
}

.defaultForm .formFieldError:focus, .windowForm .formFieldError:focus {

	font-size: 		8pt;
	height: 		17px;
	border:			1px solid #333333;
	padding: 		0 0 1 3;
	background: 	#e0695a;
}

.formStatusDiv {

	padding: 		5px;
	height: 		22px;
	margin: 		-3 1 1 1;
	color: 			#333333;
	display: 		none;
	font-weight: 	bold;
}