* {
	
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -webkit-user-drag: none;
     -webkit-user-modify: none;
     -webkit-highlight: none;
}

body, html {
	
}

.commentArea {

	
	width: 100%;
	background: #EAEAEA url('/images/ios/quotesLeft.png') 5px 10px no-repeat;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #FFFFFF
}

.photoList {

	width: 100%;
	height: 100%;
	padding-top: 2px;
	padding-left: 1px;
	background: url('/images/ios/camera.png') center center no-repeat;
}

.comment {
	
	width: 87%;
	margin: 5px 35px 5px 35px;

	background: url('/images/ios/quotesRight.png') right bottom no-repeat;
}

.photoList .photo img {

	width: 75px;
	border: 1px solid #666666;
	margin-left: 2px;
}

.photoView {

	text-align: center;
	background: url('/images/ios/camera.png') center center no-repeat;
}

.photoView img {

	width: 300px;
	border: 1px solid #000000;
	margin-top: 8px;
}

.senderInfo {

	margin-top: 5px	
}

.senderInfo {
	
	font-size: 11px;
	color: #505050
}