#toolbarDiv {

	background: 	#FFFFFF url('/images/backend/background.gif') repeat-x;
	text-align: 	right;
	width: 			100%;
	height: 		60px;
}

#toolbarActionDiv {

	width: 			500px;
	margin-left: 	10px;
	font-family: 	Arial;
	font-size: 		10pt;
	color: 			#666666;
	z-index: 		200;
	text-align: 	left;
	padding-top: 	5px;
	padding-left: 	32px;
}

#toolbarActionDiv b {

	font-family: 	Arial;
	font-size: 		10pt;
}

#toolbarActionDiv i {

	font-family: 	Arial;
	font-size: 		10pt;
}

#moduleNameDiv {

	width: 			400px;
	margin-left: 	10px;
	font-size: 		15pt;
	font-weight: 	bold;
	color: 			#666666;
	z-index: 		200;
	text-align: 	left;
}

#moduleNameDiv img {

	float: 			left;
	margin-right: 	6px;
}

#toolbarTable {

	position: 		absolute;
	width: 			500px;
	top: 			-63px;
	top: 			-53px !ie;
	margin-bottom: 	-36;
	margin-bottom: 	-46 !ie;
}