.actionButton {

	position: 				relative;
	top: 					-1px;
	float: 					left;
	margin: 				0px 2px;
	padding: 				0px 10px;
	border-top: 			1px solid #BFBFBF;
	border-left: 			1px solid #BFBFBF;
	border-right: 			1px solid #A0A0A0;
	border-bottom: 			1px solid #A0A0A0;
	-moz-border-radius: 	3px;
	-webkit-border-radius: 	3px;
	border-radius: 			3px;
	
	background: 			url('/images/button/buttonBg.png') repeat-x;
	background-position: 	left top;
	
	color: 					#505050;
	font-weight: 			bold;
	font-family: 			Verdana;
	font-size: 				10px;
	display: 				inline-block;
	height: 				22px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.actionButton.hidden {

	display: none
}

.windowButtonBar .actionButton {

	float: right;
}

.windowButtonBar .actionButton.left {

	float: left;
}

.actionButton:hover {

	border-top: 			1px solid #AFAFAF;
	border-left: 			1px solid #AFAFAF;
	border-right: 			1px solid #909090;
	border-bottom: 			1px solid #909090;
	background-position: 	left -22px;
	cursor: 				pointer;
	color: 					#303030
}

.actionButton span {

	position: 				relative;
	top: 					2px;
	height: 				16px;
	padding: 				0px;
	margin: 				0px;
	font-weight: 			bold;
	font-size: 				10px;
	padding-top: 			1px;
	display: 				block;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.actionButton.image {

	padding-left: 	7px;
}

.actionButton.image span {

	padding-left: 			22px;
	background-position: 	left 1px;
	background-repeat: 		no-repeat;
}


.actionButton.disabled,
.actionButton.disabled:hover {

	border-top: 			1px solid #DFDFDF;
	border-left: 			1px solid #DFDFDF;
	border-right: 			1px solid #C0C0C0;
	border-bottom: 			1px solid #C0C0C0;
	background-position: 	left top;
	color: 					#909090;
}

.actionButton.right {

	float: right
}

.actionButton.white {

	background: #FFFFFF
}