#userResume {
	
	display: 		none;
	position: 		relative;
	width: 			780px;
	left: 			3px;
	margin-bottom: 	5px;
}

#userResume.logged {

	display: block;
}

#userResume #eventResume {
	
	float: 				left;
	position: 			relative;
	top: 				4px;
	padding-bottom: 	15px;
}

#userResume #eventResume #eventList {
	
	position: 	relative;
	left: 		4px;
	top: 		8px;
}

#userResume #eventResume #eventList h1 {

	margin: 			0px 0px 1px 0px;
	padding: 			0px 5px 3px 0px;
	border-bottom: 		1px solid #a4b8c2;
	font-size: 			15px;
	text-align: 		right;
	color: 				#337495;
}

#userResume #eventResume #eventList #eventResumeList {

}

#userResume #eventResume #eventResumeLoader {

	display: 	none;
	position: 	absolute;
	z-index: 	100;
}

#userResume #eventResume #eventResumeLoaderArea {

	position: 				absolute;
	z-index: 				100;
	width: 					420px;
	height: 				290px;
	background: 			#FFFFFF;
	filter: 				alpha(opacity=80);
	-moz-opacity: 			0.80;
	-khtml-opacity: 		0.80;
	opacity: 				0.80;
}

#userResume #eventResume #eventResumeLoaderContent {

	position: 				absolute;
	z-index: 				101;
	width: 					420px;
	text-align: 			center;
	margin-top: 			90px;
	font-weight: 			bold;
	
}

#userResume #eventResume #eventResumeLoaderContent img {

	margin-bottom: 	7px
}

#userResume #eventResume #eventList .event {

	position: 		relative;
	width: 			300px;
	height: 		50px;
	margin-bottom: 	2px;
	border: 		1px solid #B5CCD6;
	padding: 		3px 5px 5px 55px;
	cursor: 		pointer;
	
	-webkit-touch-callout: 	none;
	-webkit-user-select: 	none;
	-khtml-user-select: 	none;
	-moz-user-select: 		none;
	-ms-user-select: 		none;
	-o-user-select: 		none;
	user-select: 			none;
}

#userResume #eventResume #eventList .event .when {

	position: 		absolute;
	font-size: 		10px;
}

#userResume #eventResume #eventList .event .title {

	position: 		absolute;
	top: 			19px;
	font-weight: 	bold;
	font-size: 		14px;
	color: 			#1d526b;
	text-shadow: 	#FFFFFF 1px 1px
}

#userResume #eventResume #eventList .event .where {

	position: 		absolute;
	bottom: 		5px;
}

#userResume #eventResume #eventList .event .ranking {

	position: 		absolute;
	top: 			3px;
	right: 			10px;
	font-size: 		10px;
}

#userResume #eventResume #eventList .event .presence {

	position: 							absolute;
	bottom: 							-1px;
	right: 								-1px;
	border: 							1px solid #b5ccd6;
	-moz-border-top-left-radius: 		7px;
	-webkit-border-top-left-radius: 	7px;
	border-top-left-radius: 			7px;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	padding-left: 						19px;
	padding-bottom: 					2px;
	background: 						#FFFFFF url('/images/home/presenceToYes.png') 3px center no-repeat;
	display: 							none;
}

#userResume #eventResume #eventList .event:hover .presence {

	display: 	block;
}

#userResume #eventResume #eventList .event .presence.hover,
#userResume #eventResume #eventList .event .presence.yes.hover {

	background-color: 	#FFFFFF
}

#userResume #eventResume #eventList .event .presence.yes {

	background: 	#FFFFFF url('/images/home/presenceYes.png') 3px center no-repeat;
}

#userResume #eventResume #eventList .event .presence a {

	margin-left: 		5px;
	margin-right: 		5px;
	color: 				#5C6377;
	text-decoration: 	none;
}

#userResume #eventResume #eventList .event .presence a.yes {

	margin-left: 	5px;
	margin-right: 	5px;
	color: 			#44780E;
}

#userResume #eventResume #eventList .event .result {

	background: 	#FFFFFF url('/images/home/result.png') 3px center no-repeat;
}

#userResume #eventResume #eventList .event.next {

	background: 	#D2E3EA url('/images/home/calendar.png') 4px center no-repeat;
}

#userResume #eventResume #eventList .event.next.hover,
#userResume #eventResume #eventList .event.previous.hover,
#userResume #eventResume #eventList .event.previous.pending.hover {

	background-color: 	#E8F3F7;
}

#userResume #eventResume #eventList .event.previous {

	background: 	#DEEAEF url('/images/home/podium.png') 5px center no-repeat;
}

#userResume #eventResume #eventList .event.previous.pending {

	background: 	#DEEAEF url('/images/home/podiumAlert.png') 5px center no-repeat;
}

#userResume #eventResume #eventList .event.noEvent {

	border: 			1px solid #D0D0D0;
	width: 				727px;
    background: 		#FFFFFF;
    background-image: 	-o-linear-gradient(#FFFFFF, #F0F0F0);
    background: 		-moz-linear-gradient(top, #FFFFFF, #F0F0F0);;
    background: 		-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    filter: 			progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#F0F0F0', GradientType=0);
    padding: 			27px 10px 10px 25px;
}

#userResume #eventResume .loadEvents {

	clear: 			both;
	position: 		relative;
	top: 			0px;
	left: 			0px;
	padding: 		2px 10px 2px 5px;
	cursor: 		pointer;
	text-align: 	right;
	border: 		1px solid #DADADA;
	
	
	background: 		#FFFFFF;
    background-image: 	-o-linear-gradient(#FFFFFF, #F0F0F0);
    background: 		-moz-linear-gradient(top, #FFFFFF, #F0F0F0);;
    background: 		-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    filter: 			progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#F0F0F0', GradientType=0);
}

#userResume #eventResume .loadEvents a {

	color: 			#5C6377;
	font-size: 		12px;
}