Hi,<br/><br/>

The ranking <b><rankingName></b> has just been deleted by user <b><peopleName></b><br/><br/>

Here are the details of the ranking and the final grade before the delete:<br/><br/>

<hr/><br/>
<table border="0" cellspacing="2" cellpadding="2" style="color: #FFFFFF">
	<tr><td align="right" nowrap><b>Ranking name:</b></td><td><rankingName>, created at <createdAt> by <rankingOwner></td></tr>
	<tr><td align="right" nowrap><b>Events start date:</b></td><td><startDate></td></tr>
	<tr><td align="right" nowrap><b>Cliassify type:</b></td><td><rankingType></td></tr>
	<tr><td align="right" nowrap><b>Subscribed players:</b></td><td><players></td></tr>
	<tr><td align="right" nowrap><b>Created events:</b></td><td><events></td></tr>
</table>
<br/>
<hr/><br/><br/>

<b>Final grade, ordered by <rankingType></b><br/><br/>
<table width="100%" border="0" cellspacing="1" cellpadding="3" style="color: #FFFFFF">
  <tr>
    <td style="background: #0F260C; font-weight: bold">#</td>
    <td style="background: #0F260C; font-weight: bold">Player</td>
    <td style="background: #0F260C; font-weight: bold">Events</td>
    <td style="background: #0F260C; font-weight: bold">Score</td>
    <td style="background: #0F260C; font-weight: bold">B+R+A</td>
    <td style="background: #0F260C; font-weight: bold">Profit</td>
    <td style="background: #0F260C; font-weight: bold">Balance</td>
  </tr>
<classifyList>
</table>
<br/>
<b>B+R+A</b> = Buy-in + Rebuys + Add-ons