Hi <b><peopleName></b>,<br/><br/>

You have successfully completed your register on <b>iRank</b>.<br/>
To create a new ranking, access <b>iRank</b> home page and click on <b>New ranking</b>.<br/><br/> 
There you'll also find all the rankings you are already member and see all information about events, results and statistics.<br/><br/>

Below you find your account access information:<br/><br/>
<hr/><br/>
<table border="0" cellspacing="2" cellpadding="2" style="color: #FFFFFF">
<tr><td align="right" nowrap><b>Username:</b></td><td><username></td></tr>
<tr><td align="right" nowrap><b>Password:</b></td><td><password></td></tr>
</table>
<br/><hr/>

You can log in using your username or your e-mail account.