Olá <peopleName>,<br/><br/>

<b style="font-size: 10pt"><congratsMessage></b>

Segue o resultado do evento <b><eventName></b> valendo pelo ranking <b><rankingName></b><br/><br/>

<table width="100%" border="0" cellspacing="1" cellpadding="3">
  <tr>
    <td style="background: #0F260C; color: #FFFFFF; font-weight: bold">Posição</td>
    <td style="background: #0F260C; color: #FFFFFF; font-weight: bold">Nome</td>
    <td style="background: #0F260C; color: #FFFFFF; font-weight: bold">Buy-in</td>
    <td style="background: #0F260C; color: #FFFFFF; font-weight: bold">Prêmio</td>
    <td style="background: #0F260C; color: #FFFFFF; font-weight: bold">Rebuys</td>
    <td style="background: #0F260C; color: #FFFFFF; font-weight: bold">Add-ons</td>
  </tr>
<resultList>
</table>

<br/><br/>
Informações do evento:<br/><br/>
<hr/><br/>
<b>Evento:</b> <eventName><br/>
<b>Ranking:</b> <rankingName><br/>
<b>Estilo:</b> <gameStyle><br/>
<b>Local:</b> <eventPlace><br/>
<b>Data:</b> <eventDate><br/>
<b>Horário:</b> <startTime><br/>
<b>Posições pagas:</b> <paidPlaces><br/>
<b>Buy-in:</b> <buyIn><br/>
<b>Observações:</b> <comments><br/>
<br/>
<hr/><br/>
<members> pessoas participaram do evento.