Olá <peopleName>,<br/><br/>

Foi criado o evento <b><eventName></b> valendo pelo ranking <b><rankingName></b>.<br/><br/> 

Seguem abaixo as informações do evento:<br/><br/>
<hr/><br/>
<table border="0" cellspacing="2" cellpadding="2" style="color: #FFFFFF">
	<tr><td align="right" nowrap><b>Evento:</b></td><td><eventName></td></tr>
	<tr><td align="right" nowrap><b>Ranking:</b></td><td><rankingName></td></tr>
	<tr><td align="right" nowrap><b>Estilo:</b></td><td><gameStyle></td></tr>
	<tr><td align="right" nowrap><b>Local:</b></td><td><eventPlace></td></tr>
	<tr><td align="right" nowrap><b>Data:</b></td><td><eventDate></td></tr>
	<tr><td align="right" nowrap><b>Horário:</b></td><td><startTime></td></tr>
	<tr><td align="right" nowrap><b>Posições pagas:</b></td><td><paidPlaces></td></tr>
	<tr><td align="right" nowrap><b>Buy-in:</b></td><td><buyin></td></tr>
	<tr><td align="right" nowrap valign="top"><b>Observações:</b></td><td><comments></td></tr>
</table>
<br/>
<hr/><br/>
<invites> pessoas foram convidadas para este evento.
<br/><br/>

Para confirmar sua presença no evento, clique no link abaixo:<br/><br/>

<a href="http://<host>/event/confirmPresence/confirmCode/<confirmCode>" target="_blank" style="border: 0px none; font-weight: bold; color: #FFFFFF"><img src="http://<host>/images/confirmPresence.png" alt="Confirmar presença" style="border: 0px none"/></a>

<br/><br/>
Ou acesse o <b>iRank</b>, faça seu login, clique no menu Eventos e clique no botão <b>Confirmar presença</b>